Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

Revert "fix linting ui"
  ui/litellm-dashboard/src/components/user_dashboard.tsx
Due: none

Revert "ui fix linting"
  ui/litellm-dashboard/src/components/all_keys_table.tsx
  ui/litellm-dashboard/src/components/view_key_table.tsx
Due: none

ui fix linting
  ui/litellm-dashboard/src/components/all_keys_table.tsx
  ui/litellm-dashboard/src/components/top_key_view.tsx
Due: none

fix vtx linting
  litellm/llms/vertex_ai/vertex_llm_base.py
Due: pyright, isort, black

bump: version 1.74.5 → 1.74.6
  pyproject.toml
Due: none

feat(bulk_edit_user.tsx): initial working ui for editing users in bulk on the ui
  litellm/proxy/common_utils/encrypt_decrypt_utils.py
  ui/litellm-dashboard/src/components/bulk_edit_user.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/user_edit_view.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/columns.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
Due: pyright, isort, black

feat(team_endpoints-+-bulk_edit_users.tsx): add bulk adding users to teams
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/types/proxy/management_endpoints/team_endpoints.py
  ui/litellm-dashboard/src/components/bulk_edit_user.tsx
  ui/litellm-dashboard/src/components/networking.tsx
Due: pyright, isort, black

remove console.log
  ui/litellm-dashboard/src/components/entity_usage.tsx
Due: none

feat: add inpainting support to Amazon Nova Canvas API
  litellm/llms/bedrock/image/amazon_nova_canvas_transformation.py
  litellm/types/llms/bedrock.py
  poetry.lock
  tests/test_litellm/llms/bedrock/image/test_amazon_nova_canvas_transformation.py
Due: pyright, isort, black

Add Vertex AI supervised fine-tuning and online prediction integration
  .gitignore
  IMPLEMENTATION_PLAN.md
  examples/data_validation_web_interface.py
  examples/requirements_web_interface.txt
  examples/vertex_ai_data_validation.ipynb
  examples/vertex_ai_supervised_fine_tuning_example.py
  litellm/constants.py
  litellm/fine_tuning/main.py
  litellm/llms/vertex_ai/model_training/README.md
  litellm/llms/vertex_ai/model_training/__init__.py
  litellm/llms/vertex_ai/model_training/handler.py
  litellm/llms/vertex_ai/model_training/transformation.py
  litellm/llms/vertex_ai/model_training/types.py
  litellm/llms/vertex_ai/online_prediction/README.md
  litellm/llms/vertex_ai/online_prediction/__init__.py
  litellm/llms/vertex_ai/online_prediction/handler.py
  litellm/llms/vertex_ai/online_prediction/minimal_test.py
  litellm/llms/vertex_ai/online_prediction/simple_test.py
  litellm/llms/vertex_ai/online_prediction/test_online_prediction.py
  litellm/llms/vertex_ai/online_prediction/transformation.py
  litellm/llms/vertex_ai/online_prediction/types.py
Due: pyright, isort, black

Add comprehensive Cursor rules for repository management
  .cursorrules
Due: none

Add comprehensive PR review checklist for Vertex AI fine-tuning
  PR_REVIEW_CHECKLIST.md
Due: none

copy button
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_view.tsx
Due: none

fixed bug on type in params for Amazon Nova Canvas inpainting # This file is part of LiteLLM.
  litellm/llms/bedrock/image/amazon_nova_canvas_transformation.py
Due: pyright, isort, black

Fix RuntimeWarning: coroutine was never awaited in async_client_cleanup
  litellm/llms/custom_httpx/async_client_cleanup.py
Due: pyright, isort, black

Fix RuntimeWarning: remove unawaited coroutine in atexit handler
  litellm/llms/custom_httpx/async_client_cleanup.py
Due: pyright, isort, black

copy button (#12760)
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_view.tsx
Due: none

remove redundant code
  litellm/llms/watsonx/chat/transformation.py
Due: pyright, isort, black

Fix Y-axis labels overlap on Spend per Tag (#12754)
  ui/litellm-dashboard/src/components/entity_usage.tsx
Due: none

allow using standard_callback_dynamic_params to disable callbacks
  enterprise/litellm_enterprise/enterprise_callbacks/callback_controls.py
  litellm/types/utils.py
Due: pyright, isort, black

fix is_callback_disabled_dynamically
  litellm/litellm_core_utils/litellm_logging.py
Due: pyright, isort, black

test_callback_disabled_via_request_body_multiple
  tests/test_litellm/enterprise/enterprise_callbacks/test_callback_controls.py
Due: isort, black

[Feat] Backend - Add support for disabling callbacks in request body (#12762)
  enterprise/litellm_enterprise/enterprise_callbacks/callback_controls.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/types/utils.py
  tests/test_litellm/enterprise/enterprise_callbacks/test_callback_controls.py
Due: pyright, isort, black

fix(bulk_edit_user.tsx): fix ui linting error
  ui/litellm-dashboard/src/components/bulk_edit_user.tsx
Due: none

bump litellm enterprise version
  enterprise/dist/litellm_enterprise-0.1.15-py3-none-any.whl
  enterprise/dist/litellm_enterprise-0.1.15.tar.gz
  enterprise/pyproject.toml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

fix: fix linting error
  ui/litellm-dashboard/src/components/all_keys_table.tsx
Due: none

draft 1.74.6
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

add correct models
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

fix
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
