Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

fix: use dashscope cost calc
  litellm/cost_calculator.py
  litellm/llms/dashscope/cost_calculator.py
  litellm/proxy/proxy_config.yaml
  tests/test_litellm/llms/dashscope/test_dashscope_cost_calculator.py
Due: pyright, isort, black

test: add unit testing for both flows on key unblock
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
Due: isort, black

edit import Router in test_dynamic_rate_limit_handler
  tests/local_testing/test_dynamic_rate_limit_handler.py
Due: none

[Bug]: Azure OpenAI & AI Foundry Reject Image Generation Payload Due to extra_body Injection in LiteLLM v1.76.3 (#14475)
  litellm/utils.py
  tests/image_gen_tests/request_payloads/azure_gpt_image_1.json
  tests/image_gen_tests/test_image_generation.py
  tests/test_litellm/test_utils.py
Due: pyright, isort, black

add qwen logo
  litellm/proxy/_experimental/out/assets/logos/qwen.png
  ui/litellm-dashboard/out/assets/logos/qwen.png
  ui/litellm-dashboard/public/assets/logos/qwen.png
Due: none

fix tiered_pricing test
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/test_litellm/test_utils.py
Due: isort, black

fix dashscope api base
  ui/litellm-dashboard/src/components/add_model/provider_specific_fields.tsx
Due: none

feat(litellm_logging.py): support new litellm debug parameter - `litellm_request_debug` on requests
  litellm/constants.py
  litellm/litellm_core_utils/get_litellm_params.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/main.py
  litellm/types/utils.py
Due: pyright, isort, black

fixes for mypy
  litellm/responses/mcp/mcp_streaming_iterator.py
Due: pyright, isort, black

fix(litellm_logging.py): support emitting raw response on self.litellm_request_debug is true
  litellm/litellm_core_utils/litellm_logging.py
Due: pyright, isort, black

[Fixes] Using Qwen API Tiered Pricing (#14479)
  litellm/cost_calculator.py
  litellm/llms/dashscope/cost_calculator.py
  litellm/proxy/_experimental/out/assets/logos/qwen.png
  litellm/proxy/proxy_config.yaml
  tests/test_litellm/llms/dashscope/test_dashscope_cost_calculator.py
  ui/litellm-dashboard/out/assets/logos/qwen.png
  ui/litellm-dashboard/public/assets/logos/qwen.png
Due: pyright, isort, black

fix: convert_anthropic_tool_to_databricks_tool
  litellm/llms/databricks/chat/transformation.py
Due: pyright, isort, black

docs(debugging.md): document new feature
  docs/my-website/docs/proxy/debugging.md
Due: none

UI new build
  litellm/proxy/_experimental/out/_next/static/FMlZjJYLUentCU02Wj6R_/_buildManifest.js
  litellm/proxy/_experimental/out/_next/static/FMlZjJYLUentCU02Wj6R_/_ssgManifest.js
  litellm/proxy/_experimental/out/_next/static/chunks/162-4e7640b4d68e1ae4.js
  litellm/proxy/_experimental/out/_next/static/chunks/162-714ca0ed10a07f66.js
  litellm/proxy/_experimental/out/_next/static/chunks/220-1c8d82f7ce7658c4.js
  litellm/proxy/_experimental/out/_next/static/chunks/220-5061c4cea850d728.js
  litellm/proxy/_experimental/out/_next/static/chunks/866-3523e0e07cf314f6.js
  litellm/proxy/_experimental/out/_next/static/chunks/866-9e1803a09e9ae8da.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-127adcf8da2b5294.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-8dc8d9524a1f3965.js
  litellm/proxy/_experimental/out/_next/static/css/060d5ddee53e45ce.css
  litellm/proxy/_experimental/out/_next/static/css/c528590c6415a94c.css
  litellm/proxy/_experimental/out/index.html
  litellm/proxy/_experimental/out/index.txt
  litellm/proxy/_experimental/out/model_hub.txt
  litellm/proxy/_experimental/out/model_hub_table.html
  litellm/proxy/_experimental/out/model_hub_table.txt
  litellm/proxy/_experimental/out/model_hub_table/index.html
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_experimental/out/onboarding.txt
  ui/litellm-dashboard/out/404.html
  ui/litellm-dashboard/out/_next/static/FMlZjJYLUentCU02Wj6R_/_buildManifest.js
  ui/litellm-dashboard/out/_next/static/FMlZjJYLUentCU02Wj6R_/_ssgManifest.js
  ui/litellm-dashboard/out/_next/static/chunks/162-4e7640b4d68e1ae4.js
  ui/litellm-dashboard/out/_next/static/chunks/162-714ca0ed10a07f66.js
  ui/litellm-dashboard/out/_next/static/chunks/220-1c8d82f7ce7658c4.js
  ui/litellm-dashboard/out/_next/static/chunks/220-5061c4cea850d728.js
  ui/litellm-dashboard/out/_next/static/chunks/866-3523e0e07cf314f6.js
  ui/litellm-dashboard/out/_next/static/chunks/866-9e1803a09e9ae8da.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-127adcf8da2b5294.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-8dc8d9524a1f3965.js
  ui/litellm-dashboard/out/_next/static/css/060d5ddee53e45ce.css
  ui/litellm-dashboard/out/_next/static/css/c528590c6415a94c.css
  ui/litellm-dashboard/out/index.html
  ui/litellm-dashboard/out/index.txt
  ui/litellm-dashboard/out/model_hub.html
  ui/litellm-dashboard/out/model_hub.txt
  ui/litellm-dashboard/out/model_hub_table.txt
  ui/litellm-dashboard/out/onboarding.txt
Due: none

dd tool calls metadata
  litellm/integrations/datadog/datadog_llm_obs.py
Due: pyright, isort, black

added tests
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: isort, black

ruff check
  litellm/integrations/datadog/datadog_llm_obs.py
Due: pyright, isort, black

user header mapping feature with backward compatibility with user_header_name field.
  litellm/proxy/litellm_pre_call_utils.py
Due: pyright, isort, black

user header mapping feature with backward compatibility with user_header_name field optimizations.
  litellm/proxy/auth/auth_utils.py
  litellm/proxy/litellm_pre_call_utils.py
Due: pyright, isort, black

Added unit tests.
  tests/local_testing/test_auth_utils.py
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: isort, black

fix: fix soft budget crossed alert
  litellm/integrations/SlackAlerting/budget_alert_types.py
Due: pyright, isort, black

add tests for the fix
  tests/test_litellm/integrations/SlackAlerting/test_budget_alert_types.py
Due: isort, black

Added better handling
  litellm/llms/gemini/count_tokens/handler.py
  tests/test_litellm/llms/gemini/test_gemini_common_utils.py
Due: pyright, isort, black

remove other PR code
  litellm/llms/gemini/count_tokens/handler.py
  tests/test_litellm/llms/gemini/test_gemini_common_utils.py
Due: pyright, isort, black

update: DeepInfra model data refresh [2025-09-12]
  model_prices_and_context_window.json
Due: none

feat: Add OVHCloud AI Endpoints as a provider
  docs/my-website/docs/providers/ovhcloud.md
  docs/my-website/sidebars.js
  litellm/__init__.py
  litellm/constants.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/llms/ovhcloud/chat/transformation.py
  litellm/llms/ovhcloud/embedding/transformation.py
  litellm/llms/ovhcloud/utils.py
  litellm/main.py
  litellm/types/utils.py
  litellm/utils.py
  model_prices_and_context_window.json
  tests/test_litellm/llms/ovhcloud/test_ovhcloud_chat_transformation.py
  tests/test_litellm/llms/ovhcloud/test_ovhcloud_embeddings_transformation.py
Due: pyright, isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
