Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, isort

mypy:
  name: mypy
  entry: python3 -m mypy --ignore-missing-imports
  language: system

isort:
  name: isort
  entry: isort
  language: system

fix(exception_mapping_utils.py): fix error str unbound error
  litellm/litellm_core_utils/exception_mapping_utils.py
  tests/llm_translation/test_azure_ai.py
Due: mypy, isort

refactor(azure_ai/): move to openai_like chat completion handler
  litellm/llms/azure_ai/chat/transformation.py
  litellm/main.py
  tests/llm_translation/test_azure_ai.py
Due: mypy, isort

add _request_is_completed helper util
  litellm/integrations/SlackAlerting/slack_alerting.py
Due: mypy, isort

update AlertingConfig
  litellm/types/integrations/pagerduty.py
Due: mypy, isort

refactor(azure_ai/): move to base llm http handler
  litellm/llms/azure_ai/chat/transformation.py
  litellm/llms/base_llm/chat/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/openai/openai.py
  litellm/main.py
  tests/llm_translation/test_azure_ai.py
Due: mypy, isort

rename PagerDutyInternalEvent
  litellm/types/integrations/pagerduty.py
Due: mypy, isort

_send_alert_if_thresholds_crossed
  litellm/integrations/pagerduty/pagerduty.py
  tests/logging_callback_tests/test_pagerduty_alerting.py
Due: mypy, isort

fix(azure_ai/): handle differing api endpoints
  litellm/llms/azure_ai/chat/transformation.py
  litellm/utils.py
  tests/llm_translation/test_azure_ai.py
  tests/local_testing/test_completion.py
Due: mypy, isort

fix(azure_ai/): make sure all unit tests are passing
  litellm/llms/azure_ai/chat/transformation.py
  litellm/llms/openai/chat/gpt_transformation.py
  litellm/llms/openai/openai.py
Due: mypy, isort

fix: fix linting errors
  litellm/llms/azure_ai/chat/transformation.py
Due: mypy, isort

fix: fix linting errors
  litellm/llms/anthropic/chat/transformation.py
  litellm/llms/huggingface/chat/transformation.py
  litellm/llms/nlp_cloud/chat/transformation.py
  litellm/llms/oobabooga/chat/transformation.py
  litellm/llms/openai/openai.py
  litellm/llms/predibase/chat/transformation.py
  litellm/llms/replicate/chat/transformation.py
  litellm/llms/sagemaker/completion/transformation.py
  litellm/llms/vertex_ai/gemini/vertex_and_google_ai_studio_gemini.py
  litellm/llms/watsonx/common_utils.py
Due: mypy, isort

fix: fix linting error
  litellm/llms/bedrock/common_utils.py
  litellm/llms/cloudflare/chat/transformation.py
  litellm/llms/cohere/completion/transformation.py
  litellm/llms/deepgram/audio_transcription/transformation.py
  litellm/llms/fireworks_ai/common_utils.py
  litellm/llms/petals/completion/transformation.py
  litellm/llms/triton/embedding/transformation.py
Due: mypy, isort

fix: fix linting errors
  litellm/llms/anthropic/completion/transformation.py
  litellm/llms/azure/chat/gpt_transformation.py
  litellm/llms/clarifai/chat/transformation.py
  litellm/llms/cohere/chat/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/huggingface/chat/handler.py
  litellm/llms/ollama/completion/transformation.py
  litellm/llms/triton/completion/transformation.py
  litellm/llms/voyage/embedding/transformation.py
Due: mypy, isort

test: fix azure o1 test
  tests/llm_translation/test_azure_o1.py
Due: none

use pagerduty as _custom_logger_compatible_callbacks_literal
  litellm/__init__.py
Due: mypy

fix slack alerting imports
  litellm/integrations/SlackAlerting/slack_alerting.py
Due: mypy, isort

fix imports in slack alerting
  litellm/integrations/SlackAlerting/utils.py
Due: mypy, isort

PagerDutyAlerting
  litellm/litellm_core_utils/litellm_logging.py
Due: mypy, isort

fix _load_alerting_settings
  litellm/proxy/proxy_server.py
Due: mypy, isort

test_pagerduty_hanging_request_alerting
  tests/logging_callback_tests/test_pagerduty_alerting.py
Due: none

working pager duty alerting
  litellm/integrations/pagerduty/pagerduty.py
  litellm/proxy/proxy_config.yaml
Due: mypy, isort

feat(humanloop.py): initial commit for humanloop prompt management integration
  litellm/__init__.py
  litellm/constants.py
  litellm/integrations/humanloop.py
  litellm/types/utils.py
  tests/local_testing/test_completion.py
Due: mypy, isort

fix linting
  litellm/integrations/SlackAlerting/utils.py
Due: mypy, isort

doc pager duty alerting
  docs/my-website/docs/proxy/pagerduty.md
  docs/my-website/docusaurus.config.js
  docs/my-website/sidebars.js
Due: none

update hanging_response_handler
  litellm/integrations/pagerduty/pagerduty.py
Due: mypy, isort

fix import location
  litellm/proxy/proxy_server.py
Due: mypy, isort

update failure_threshold
  litellm/proxy/proxy_config.yaml
Due: none

update async_pre_call_hook
  litellm/integrations/pagerduty/pagerduty.py
  tests/logging_callback_tests/test_pagerduty_alerting.py
Due: mypy, isort

docs pagerduty
  docs/my-website/docs/proxy/pagerduty.md
  docs/my-website/img/pagerduty_fail.png
  docs/my-website/img/pagerduty_hanging.png
Due: none

test - callback_class_str_to_classType
  tests/logging_callback_tests/test_unit_tests_init_callbacks.py
Due: none

feat(humanloop.py): working e2e humanloop prompt management integration
  litellm/__init__.py
  litellm/constants.py
  litellm/integrations/humanloop.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/main.py
  tests/local_testing/test_completion.py
  tests/logging_callback_tests/test_humanloop_unit_tests.py
Due: mypy, isort

fix(azure_ai/transformation.py): handle extra body param
  litellm/llms/azure_ai/chat/transformation.py
Due: mypy, isort

fix linting errors
  litellm/integrations/pagerduty/pagerduty.py
  litellm/types/integrations/pagerduty.py
Due: mypy, isort

fix linting + testing error
  litellm/integrations/pagerduty/pagerduty.py
Due: mypy, isort

PagerDutyAlerting
  litellm/integrations/pagerduty/pagerduty.py
Due: mypy, isort

fix unused imports
  litellm/integrations/pagerduty/pagerduty.py
Due: mypy, isort

fix(azure_ai/transformation.py): fix max retries param handling
  litellm/llms/azure_ai/chat/transformation.py
Due: mypy, isort

fix: fix test
  tests/local_testing/test_get_llm_provider.py
Due: none

test: fix tests
  tests/local_testing/test_alangfuse.py
  tests/local_testing/test_get_model_info.py
Due: none

Path conditions:
  mypy: any of: ^litellm/ and \.py$
  isort: any of: litellm/.*\.py and \.py$ and not (^litellm/__init__.py$)
