Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

fix(llm_caching_handler.py): handle no current event loop error
  litellm/caching/llm_caching_handler.py
Due: pyright, isort

TestResponsesAPIRequestUtils
  tests/litellm/responses/test_responses_utils.py
Due: isort

TestResponseAPILoggingUtils
  tests/litellm/responses/test_responses_utils.py
Due: isort

test_validate_environment
  litellm/llms/openai/responses/transformation.py
  tests/litellm/llms/openai/responses/test_openai_responses_transformation.py
Due: pyright, isort

"openai==1.66.1" in testing
  .circleci/config.yml
Due: none

Update Team Logging Docs
  docs/my-website/docs/proxy/team_logging.md
Due: none

build(pyproject.toml): bump openai version for responses types
  poetry.lock
  pyproject.toml
Due: none

_generic_api_call_with_fallbacks
  litellm/router.py
  tests/llm_responses_api_testing/test_openai_responses_api.py
Due: pyright, isort

fix(azure_ai/transformation.py): support passing api version to azure ai services endpoint
  litellm/litellm_core_utils/get_litellm_params.py
  litellm/llms/azure_ai/chat/transformation.py
  litellm/llms/base_llm/chat/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/main.py
  tests/llm_translation/test_azure_ai.py
Due: pyright, isort

test_openai_responses_litellm_router_streaming
  tests/llm_responses_api_testing/test_openai_responses_api.py
Due: none

refactor: update method signature
  litellm/llms/aiohttp_openai/chat/transformation.py
  litellm/llms/base_llm/audio_transcription/transformation.py
  litellm/llms/base_llm/completion/transformation.py
  litellm/llms/base_llm/embedding/transformation.py
  litellm/llms/base_llm/image_variations/transformation.py
  litellm/llms/bedrock/chat/invoke_transformations/base_invoke_transformation.py
  litellm/llms/cloudflare/chat/transformation.py
  litellm/llms/custom_httpx/aiohttp_handler.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/deepgram/audio_transcription/transformation.py
  litellm/llms/deepseek/chat/transformation.py
  litellm/llms/ollama/completion/transformation.py
  litellm/llms/openai/chat/gpt_transformation.py
  litellm/llms/openai_like/chat/handler.py
  litellm/llms/replicate/chat/handler.py
  litellm/llms/replicate/chat/transformation.py
  litellm/llms/topaz/image_variations/transformation.py
  litellm/llms/triton/completion/transformation.py
  litellm/llms/voyage/embedding/transformation.py
  litellm/llms/watsonx/chat/handler.py
  litellm/llms/watsonx/chat/transformation.py
  litellm/llms/watsonx/completion/transformation.py
  litellm/llms/watsonx/embed/transformation.py
Due: pyright, isort

_generic_api_call_with_fallbacks
  litellm/router.py
Due: pyright, isort

factory_function
  litellm/router.py
Due: pyright, isort

fix: fix method signature in test
  tests/llm_translation/test_unit_test_bedrock_invoke.py
Due: none

feat(proxy): enhance safe_add_api_version_from_query_params to prioritize proxy config
  litellm/proxy/litellm_pre_call_utils.py
Due: pyright, isort

build(model_prices_and_context_window.json): add azure eu/us data zone pricing
  litellm/model_prices_and_context_window_backup.json
  litellm/proxy/_new_secret_config.yaml
  model_prices_and_context_window.json
Due: none

build(model_prices_and_context_window.json): add azure o1 eu/us pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Path conditions:
  pyright: any of: ^litellm/ and \.py$
  isort: any of: litellm/.*\.py and \.py$ and not (^litellm/__init__.py$)
