Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

DataDogLLMObsLogger add failure logging support
  litellm/integrations/datadog/datadog_llm_obs.py
Due: pyright, isort, black

test_async_log_failure_event
  litellm/proxy/proxy_config.yaml
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: isort, black

remove references to semconv incubating names
  litellm/integrations/opentelemetry.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: pyright, isort, black

dd test failure
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: isort, black

fix imports OpenAI SDK
  litellm/responses/litellm_completion_transformation/transformation.py
  litellm/responses/main.py
  litellm/types/llms/openai.py
Due: pyright, isort, black

ResponseText fixes
  litellm/types/llms/openai.py
Due: pyright, isort, black

fixes ResponseText
  litellm/responses/litellm_completion_transformation/transformation.py
  litellm/responses/main.py
  litellm/types/llms/openai.py
Due: pyright, isort, black

[Feat] Datadog LLM Observability - Add support for Failure Logging (#13726)
  litellm/integrations/datadog/datadog_llm_obs.py
  litellm/proxy/proxy_config.yaml
  litellm/types/integrations/datadog_llm_obs.py
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: pyright, isort, black

fix imports
  tests/llm_responses_api_testing/base_responses_api.py
  tests/llm_responses_api_testing/test_anthropic_responses_api.py
  tests/llm_responses_api_testing/test_azure_responses_api.py
  tests/llm_responses_api_testing/test_openai_responses_api.py
  tests/test_litellm/router_utils/pre_call_checks/test_responses_api_deployment_check.py
Due: isort, black

catch AttributeError
  litellm/types/llms/openai.py
Due: pyright, isort, black

fix import
  litellm/types/llms/openai.py
Due: pyright, isort, black

fixes for DDLLMObsLatencyMetrics
  litellm/types/integrations/datadog_llm_obs.py
Due: pyright, isort, black

use _get_latency_metrics
  litellm/integrations/datadog/datadog_llm_obs.py
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: pyright, isort, black

DD LLM Obs - track latency metrics
  litellm/integrations/datadog/datadog_llm_obs.py
  litellm/proxy/proxy_config.yaml
Due: pyright, isort, black

fixes for bedrock guardrails
  litellm/proxy/guardrails/guardrail_hooks/bedrock_guardrails.py
Due: pyright, isort, black

DD unit tests
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: isort, black

test DD
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: isort, black

use openai==1.100.1
  .circleci/config.yml
  .circleci/requirements.txt
Due: none

fix build from PIP
  docker/build_from_pip/requirements.txt
Due: none

add image edits litellm proxy on SDK
  docs/my-website/docs/providers/litellm_proxy.md
  litellm/llms/litellm_proxy/image_edit/transformation.py
  litellm/utils.py
  tests/llm_translation/test_litellm_proxy_provider.py
Due: pyright, isort, black

add image gen provider
  litellm/llms/litellm_proxy/image_generation/transformation.py
  litellm/utils.py
Due: pyright, isort, black

add IMG Gen support for litellm_proxy provider
  litellm/images/main.py
  tests/llm_translation/test_litellm_proxy_provider.py
Due: pyright, isort, black

fix lint test
  .github/workflows/test-linting.yml
Due: none

[Feat] DD LLM Observability - Add time to first token, litellm overhead, guardrail overhead latency metrics (#13734)
  litellm/integrations/datadog/datadog_llm_obs.py
  litellm/proxy/guardrails/guardrail_hooks/bedrock_guardrails.py
  litellm/proxy/proxy_config.yaml
  litellm/types/integrations/datadog_llm_obs.py
  tests/test_litellm/integrations/datadog/test_datadog_llm_observability.py
Due: pyright, isort, black

Print OpenAI version
  .github/workflows/test-linting.yml
Due: none

fix Install dependencies
  .github/workflows/test-linting.yml
Due: none

[Bug Fix] litellm incompatible with newest release of openAI v1.100.0 (#13728)
  .circleci/config.yml
  .circleci/requirements.txt
  .github/workflows/test-linting.yml
  docker/build_from_pip/requirements.txt
  litellm/responses/litellm_completion_transformation/transformation.py
  litellm/responses/main.py
  litellm/types/llms/openai.py
  tests/llm_responses_api_testing/base_responses_api.py
  tests/llm_responses_api_testing/test_anthropic_responses_api.py
  tests/llm_responses_api_testing/test_azure_responses_api.py
  tests/llm_responses_api_testing/test_openai_responses_api.py
  tests/test_litellm/router_utils/pre_call_checks/test_responses_api_deployment_check.py
Due: pyright, isort, black

[Bug Fix] image_edit() function returns APIConnectionError with `litellm_proxy` - Support for both image edits and image generations (#13735)
  docs/my-website/docs/providers/litellm_proxy.md
  litellm/images/main.py
  litellm/llms/litellm_proxy/image_edit/transformation.py
  litellm/llms/litellm_proxy/image_generation/transformation.py
  litellm/utils.py
  tests/llm_translation/test_litellm_proxy_provider.py
Due: pyright, isort, black

ruff check fix
  litellm/llms/litellm_proxy/image_generation/transformation.py
Due: pyright, isort, black

fix mypy linting errors
  litellm/integrations/datadog/datadog_llm_obs.py
Due: pyright, isort, black

docs: document new param
  docs/my-website/docs/proxy/config_settings.md
Due: none

fix: fix test
  litellm/responses/utils.py
Due: pyright, isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
