Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^litellm/
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: litellm/.*\.py
        exclude: ^litellm/__init__.py$
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/
       additional_dependencies: [flake8-print]
       files: litellm/.*\.py
    # -  id: flake8
    #    name: flake8 (router.py function length)
    #    files: ^litellm/router\.py$
    #    args: [--max-function-length=40]
    # #    additional_dependencies: [flake8-functions]
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system
    # -   id: check-file-length
    #     name: Check file length
    #     entry: python check_file_length.py
    #     args: ["10000"]  # set your desired maximum number of lines
    #     language: python
    #     files: litellm/.*\.py
    #     exclude: ^litellm/tests/

add adelete_responses
  litellm/responses/main.py
Due: pyright, isort

test: add unit test
  tests/litellm/litellm_core_utils/prompt_templates/test_litellm_core_utils_prompt_templates_common_utils.py
Due: isort

add async test_basic_openai_responses_delete_endpoint
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/responses/main.py
Due: pyright, isort

test_basic_openai_responses_delete_endpoint
  tests/llm_responses_api_testing/base_responses_api.py
Due: none

test: update tests
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/view_internal_user.spec.ts
Due: none

test: update tests
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
Due: none

Revert "test: update tests"
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
Due: none

fix(view_userts.tsx): add back in 'previous' and 'next' tabs for pagination
  ui/litellm-dashboard/src/components/view_users.tsx
Due: none

working delete for streaming on responses API
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/responses/main.py
  litellm/responses/streaming_iterator.py
  litellm/responses/utils.py
  tests/llm_responses_api_testing/base_responses_api.py
Due: pyright, isort

Update utils.py (#10201)
  litellm/utils.py
Due: pyright, isort

Add global filtering to Users tab (#10195)
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/types/proxy/management_endpoints/internal_user_endpoints.py
  test-results/.last-run.json
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/view_internal_user.spec.ts
  tests/proxy_admin_ui_tests/test-results/.last-run.json
  tests/test_keys.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
Due: pyright, isort

fixes importlib
  litellm/utils.py
Due: pyright, isort

fix(view_users.tsx): add time tracking logic to debounce search - prevent new queries from being overwritten by previous ones
  ui/litellm-dashboard/src/components/view_users.tsx
Due: none

fixes azure transformation
  litellm/llms/azure/responses/transformation.py
  litellm/llms/base_llm/responses/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/openai/responses/transformation.py
Due: pyright, isort

TestAnthropicResponsesAPITest
  tests/llm_responses_api_testing/test_anthropic_responses_api.py
Due: none

fix code check
  litellm/responses/utils.py
Due: pyright, isort

fix linting
  litellm/llms/openai/responses/transformation.py
Due: pyright, isort

fixes for get_complete_url
  tests/litellm/llms/openai/responses/test_openai_responses_transformation.py
Due: isort

fix(internal_user_endpoints.py): add sort functionality to user list endpoint
  litellm/proxy/management_endpoints/internal_user_endpoints.py
Due: pyright, isort

test_basic_openai_responses_streaming_delete_endpoint
  tests/llm_responses_api_testing/test_anthropic_responses_api.py
Due: none

feat(internal_user_endpoints.py): support sort by on `/user/list`
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/litellm/proxy/management_endpoints/test_internal_user_endpoints.py
Due: pyright, isort

fix failing agent ops test
  tests/logging_callback_tests/test_unit_tests_init_callbacks.py
Due: none

fix(view_users.tsx): enable global sorting
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
Due: none

feat(view_users.tsx): support filtering by sso user id
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
Due: pyright, isort

test(search_users.spec.ts): add tests to ensure filtering works
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
Due: none

Update vertex.md
  docs/my-website/docs/providers/vertex.md
Due: none

test: add more unit testing
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
Due: none

feat(user_info_view.tsx): be able to click in and see all teams user is part of
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
  ui/litellm-dashboard/src/components/view_users/user_info_view.tsx
Due: none

test(ui/): add unit testing for user info view
  tests/proxy_admin_ui_tests/e2e_ui_tests/view_user_info.spec.ts
  tests/proxy_admin_ui_tests/utils/login.ts
Due: none

Require authentication for all Dashboard pages
  ui/litellm-dashboard/package-lock.json
  ui/litellm-dashboard/package.json
  ui/litellm-dashboard/src/app/page.tsx
  ui/litellm-dashboard/src/components/ui/ui-loading-spinner.tsx
  ui/litellm-dashboard/src/hooks/use-safe-layout-effect.ts
  ui/litellm-dashboard/src/lib/cva.config.ts
Due: none

streaming fixes
  litellm/llms/azure/responses/transformation.py
  tests/llm_responses_api_testing/base_responses_api.py
Due: pyright, isort

fix azure/computer-use-preview native streaming
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

feat: Added Missing Attributes For Arize & Phoenix Integration (#10043)
  litellm/integrations/_types/open_inference.py
  litellm/integrations/arize/_utils.py
  tests/litellm/integrations/arize/test_arize_utils.py
  tests/logging_callback_tests/test_arize_logging.py
Due: pyright, isort

[Feat] Add Support for DELETE /v1/responses/{response_id} on OpenAI, Azure OpenAI (#10205)
  litellm/llms/azure/responses/transformation.py
  litellm/llms/base_llm/responses/transformation.py
  litellm/llms/custom_httpx/http_handler.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/openai/responses/transformation.py
  litellm/responses/main.py
  litellm/responses/streaming_iterator.py
  litellm/responses/utils.py
  litellm/router_utils/pre_call_checks/responses_api_deployment_check.py
  litellm/types/responses/main.py
  litellm/types/utils.py
  litellm/utils.py
  tests/litellm/llms/openai/responses/test_openai_responses_transformation.py
  tests/llm_responses_api_testing/base_responses_api.py
  tests/llm_responses_api_testing/test_anthropic_responses_api.py
Due: pyright, isort
