Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

update moonshot pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

docs
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

docs fix
  docs/my-website/release_notes/v1.74.6/index.md
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

changes till HELM
  docs/my-website/release_notes/v1.74.6/index.md
  litellm/proxy/proxy_config.yaml
Due: none

Helm Chart
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

fix ciruclar ref error by adding safe dumps
  litellm/integrations/datadog/datadog.py
  litellm/integrations/s3.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
Due: pyright, isort, black

Bulk Edit Users on UI (#12763)
  litellm/proxy/common_utils/encrypt_decrypt_utils.py
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/types/proxy/management_endpoints/team_endpoints.py
  ui/litellm-dashboard/src/components/bulk_edit_user.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/user_edit_view.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/columns.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
Due: pyright, isort, black

upto circular references
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

fix ruff
  litellm/integrations/datadog/datadog.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
Due: pyright, isort, black

fix ruff
  litellm/proxy/spend_tracking/spend_tracking_utils.py
Due: pyright, isort, black

docs Groq
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

fix typo
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

Update spend_tracking_utils.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
Due: pyright, isort, black

docs fix
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

fix: fix ruff check errors
  litellm/router.py
Due: pyright, isort, black

docs(docusaurus.config.js): route to new support onboarding form
  docs/my-website/docusaurus.config.js
Due: none

Litellm gemini grounding metadata stream (#12673)
  litellm/litellm_core_utils/core_helpers.py
  litellm/litellm_core_utils/streaming_handler.py
  litellm/llms/vertex_ai/gemini/vertex_and_google_ai_studio_gemini.py
  tests/local_testing/test_amazing_vertex_completion.py
  tests/test_litellm/litellm_core_utils/test_core_helpers.py
Due: pyright, isort, black

[Docs] 1.74.6.rc note (#12765)
  docs/my-website/release_notes/v1.74.6/index.md
  litellm/model_prices_and_context_window_backup.json
  litellm/proxy/proxy_config.yaml
  model_prices_and_context_window.json
Due: none

docs Vector Stores
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

fix(proxy): Fix Model Armor project_id initialization order
  litellm/proxy/guardrails/guardrail_hooks/model_armor/model_armor.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_model_armor.py
Due: pyright, isort, black

docs vLLM Rerank
  docs/my-website/docs/providers/vllm.md
  docs/my-website/docs/rerank.md
Due: none

docs vllm rerank
  docs/my-website/release_notes/v1.74.6/index.md
Due: none

add disabled callbacks to ui
  ui/litellm-dashboard/src/components/callback_info_helpers.tsx
  ui/litellm-dashboard/src/components/common_components/PremiumLoggingSettings.tsx
  ui/litellm-dashboard/src/components/create_key_button.tsx
  ui/litellm-dashboard/src/components/key_edit_view.tsx
  ui/litellm-dashboard/src/components/key_info_view.tsx
  ui/litellm-dashboard/src/components/logging_settings_view.tsx
  ui/litellm-dashboard/src/components/team/EditLoggingSettings.tsx
  ui/litellm-dashboard/src/components/team/LoggingSettings.tsx
  ui/litellm-dashboard/src/components/team/team_info.tsx
Due: none

fix(router.py): refactor to cleanup optional pre-call checks
  litellm/litellm_core_utils/logging_callback_manager.py
  litellm/router.py
Due: pyright, isort, black

fix: fix ruff check
  litellm/router.py
Due: pyright, isort, black

added body
  litellm/proxy/litellm_pre_call_utils.py
Due: pyright, isort, black

feat(proxy_server.py): add model hub to the swagger (#12767)
  litellm/proxy/proxy_server.py
Due: pyright, isort, black

update edit settings
  ui/litellm-dashboard/src/components/key_edit_view.tsx
Due: none

add tests
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: isort, black

test: add missing unit test
  tests/test_litellm/test_router.py
Due: isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
