Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^litellm/
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: litellm/.*\.py
        exclude: ^litellm/__init__.py$
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/
       additional_dependencies: [flake8-print]
       files: litellm/.*\.py
    # -  id: flake8
    #    name: flake8 (router.py function length)
    #    files: ^litellm/router\.py$
    #    args: [--max-function-length=40]
    # #    additional_dependencies: [flake8-functions]
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system
    # -   id: check-file-length
    #     name: Check file length
    #     entry: python check_file_length.py
    #     args: ["10000"]  # set your desired maximum number of lines
    #     language: python
    #     files: litellm/.*\.py
    #     exclude: ^litellm/tests/

fix: ensure choices field is a empty list in usage chunk
  litellm/litellm_core_utils/streaming_handler.py
Due: pyright, isort

fix: resolve model selection error by ensuring correct array handling
  ui/litellm-dashboard/src/components/add_model/conditional_public_model_name.tsx
Due: none

test test_completion.py: add test for video_url
  tests/local_testing/test_completion.py
Due: none

fix incorrect variable name in reliability section of docs
  docs/my-website/docs/completion/reliable_completions.md
Due: none

fix exception when alias is used with caching
  litellm/caching/caching_handler.py
Due: pyright, isort

Updated as suggested
  litellm/llms/anthropic/chat/handler.py
Due: pyright, isort

Update model_prices_and_context_window.json
  model_prices_and_context_window.json
Due: none

fix: remove aws params from bedrock embedding request body (#8618) (#8696)
  litellm/llms/bedrock/embed/amazon_titan_multimodal_transformation.py
  litellm/llms/bedrock/embed/amazon_titan_v2_transformation.py
  litellm/llms/bedrock/embed/embedding.py
  tests/llm_translation/test_bedrock_embedding.py
Due: pyright, isort

fix(main.py): fix openai message for assistant msg if role is missing - openai allows this
  litellm/main.py
  litellm/utils.py
  tests/litellm/test_main.py
Due: pyright, isort

Add anthropic3-7-sonnet
  litellm/__init__.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/local_testing/whitelisted_bedrock_models.txt
Due: pyright

Add spend tracking support for OpenAI realtime models(#8410)
  litellm/integrations/langfuse/langfuse.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/openai_realtime_tracking.py
  litellm/litellm_core_utils/realtime_streaming.py
  litellm/llms/openai/realtime/handler.py
  litellm/proxy/hooks/proxy_track_cost_callback.py
  litellm/proxy/proxy_server.py
  litellm/realtime_api/main.py
Due: pyright, isort

Add anthropic3-7-sonnet (#8766)
  litellm/__init__.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/local_testing/whitelisted_bedrock_models.txt
Due: pyright

Update model_prices_and_context_window.json for claude-3-7-sonnet on vertex _ai
  model_prices_and_context_window.json
Due: none

fix incorrect variable name in reliability section of docs (#8753)
  docs/my-website/docs/completion/reliable_completions.md
Due: none

Adding VertexAI Claude 3.7 Sonnet
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Adding VertexAI Claude 3.7 Sonnet (#8774)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

build(model_prices_and_context_window.json): add anthropic 3-7 models on vertex ai and bedrock
  litellm/__init__.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: pyright

Support video_url (#8743)
  litellm/types/llms/openai.py
  tests/local_testing/test_completion.py
Due: pyright, isort

fix adding teams / orgs on litellm ui
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

ui - allow adding SSO on ui
  litellm/model_prices_and_context_window_backup.json
  ui/litellm-dashboard/src/components/SSOModals.tsx
  ui/litellm-dashboard/src/components/admins.tsx
Due: none

add msft sso to ui
  ui/litellm-dashboard/src/components/SSOModals.tsx
Due: none

feat(anthropic/chat/transformation.py): add anthropic thinking param support
  litellm/llms/anthropic/chat/transformation.py
  litellm/model_prices_and_context_window_backup.json
  litellm/proxy/_new_secret_config.yaml
  litellm/types/utils.py
  tests/llm_translation/test_anthropic_completion.py
Due: pyright, isort

feat(anthropic/chat/transformation.py): support returning thinking content for anthropic on streaming responses
  litellm/llms/anthropic/chat/handler.py
  litellm/llms/base_llm/base_utils.py
  litellm/llms/base_llm/chat/transformation.py
  litellm/types/utils.py
  tests/local_testing/test_streaming.py
Due: pyright, isort

sso on admin ui
  ui/litellm-dashboard/src/components/SSOModals.tsx
  ui/litellm-dashboard/src/components/admins.tsx
Due: none

feat(anthropic/chat/transformation.py): return list of thinking blocks (include block signature)
  litellm/llms/anthropic/chat/transformation.py
  litellm/types/utils.py
  tests/llm_translation/test_anthropic_completion.py
Due: pyright, isort

allow bulk adding internal users
  litellm/model_prices_and_context_window_backup.json
  ui/litellm-dashboard/package-lock.json
  ui/litellm-dashboard/package.json
  ui/litellm-dashboard/src/components/bulk_create_users_button.tsx
  ui/litellm-dashboard/src/components/create_user_button.tsx
Due: none

allow sorting users by created at
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/columns.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
  ui/litellm-dashboard/src/components/view_users/types.ts
Due: none

fix(types/utils.py): extract and map reasoning_content from anthropic as content str
  litellm/types/utils.py
  tests/llm_translation/test_anthropic_completion.py
Due: pyright, isort

cleanup
  ui/litellm-dashboard/src/components/view_users/columns.tsx
  ui/litellm-dashboard/src/components/view_users/types.ts
Due: none

test: add testing to ensure thinking_blocks are returned at the root
  tests/llm_translation/test_anthropic_completion.py
Due: none

clean up user table
  ui/litellm-dashboard/src/components/view_users/columns.tsx
Due: none

fix(anthropic/chat/handler.py): return thinking blocks on streaming - include signature
  litellm/llms/anthropic/chat/handler.py
  litellm/types/llms/anthropic.py
  litellm/types/utils.py
  tests/llm_translation/test_anthropic_completion.py
Due: pyright, isort
