Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: python3 -m mypy --ignore-missing-imports
        language: system
        types: [python]
        files: ^litellm/
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: litellm/.*\.py
        exclude: ^litellm/__init__.py$
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/proxy_cli.py|^litellm/proxy/tests/
       additional_dependencies: [flake8-print]
       files: litellm/.*\.py
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system
    # -   id: check-file-length
    #     name: Check file length
    #     entry: python check_file_length.py
    #     args: ["10000"]  # set your desired maximum number of lines
    #     language: python
    #     files: litellm/.*\.py
    #     exclude: ^litellm/tests/

add volcengine as provider to litellm
  litellm/__init__.py
Due: mypy

docs - volcengine
  docs/my-website/docs/providers/volcano.md
  docs/my-website/sidebars.js
Due: none

ci/cd run again
  litellm/tests/test_completion.py
Due: mypy, isort

add code-gecko-latest
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

feat - improve secret detection
  enterprise/enterprise_hooks/secret_detection.py
Due: none

add initial support for volcengine
  litellm/__init__.py
  litellm/llms/volcengine.py
  litellm/main.py
  litellm/utils.py
Due: mypy, isort

fix secret scanner
  enterprise/enterprise_hooks/secrets_plugins/sidekiq.py
Due: none

fix only use crypto imports when needed
  litellm/proxy/auth/litellm_license.py
Due: mypy, isort

docs - fix model name on claude-3-5-sonnet-20240620 anthropic
  docs/my-website/docs/providers/anthropic.md
Due: none

docs(openai_compatible.md): doc on disabling system messages
  docs/my-website/docs/providers/openai_compatible.md
  docs/my-website/docs/proxy/configs.md
Due: none

add codestral pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Added openrouter/anthropic/claude-3.5-sonnet to model json
  model_prices_and_context_window.json
Due: none

bump: version 1.40.28 → 1.40.29
  pyproject.toml
Due: none

docs(function_call.md): cleanup
  docs/my-website/docs/completion/function_call.md
Due: none

Update databricks.md
  docs/my-website/docs/providers/databricks.md
Due: none

fix(bedrock_httpx.py): Fix https://github.com/BerriAI/litellm/issues/4415
  litellm/llms/bedrock.py
  litellm/llms/bedrock_httpx.py
  litellm/tests/test_bedrock_completion.py
Due: mypy, isort

add gemini-1.0-ultra-001
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

bump: version 1.40.26 → 1.40.27
  pyproject.toml
Due: none

fix gemini test
  litellm/llms/vertex_httpx.py
Due: mypy, isort

undoes changes to proxy yaml api key/base
  docs/my-website/docs/providers/databricks.md
Due: none

feat - add fireworks ai config for param mapping
  litellm/llms/fireworks_ai.py
  litellm/model_prices_and_context_window_backup.json
Due: mypy, isort

docs(routing.md): add dynamic cooldowns to docs
  docs/my-website/docs/proxy/reliability.md
  docs/my-website/docs/routing.md
Due: none

fix add ollama codegemma
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

test - fireworks ai param mapping
  litellm/tests/test_fireworks_ai.py
Due: mypy, isort

docs(reliable_completions.md): improve headers for easier searching
  docs/my-website/docs/completion/reliable_completions.md
  litellm/llms/azure.py
Due: mypy, isort

Add return type annotations to util types
  litellm/types/utils.py
Due: mypy, isort

add chat-bison-32k@002
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Added openrouter/anthropic/claude-3-haiku-20240307
  model_prices_and_context_window.json
Due: none

fix(utils.py): add new special token for cleanup
  litellm/utils.py
Due: mypy, isort

test_spend_logs_payload_whisper
  litellm/tests/test_spend_logs.py
Due: mypy, isort

add source for codestral pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

add code-bison
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none
