Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

Filter on logs table (#10644)
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/log_filter_logic.tsx
Due: none

ui refactor email settings
  ui/litellm-dashboard/src/components/email_settings.tsx
  ui/litellm-dashboard/src/components/settings.tsx
Due: none

refactor(managed_files.py): move enterprise feature into enterprise folder
  enterprise/enterprise_hooks/managed_files.py
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/hooks/__init__.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  tests/litellm/proxy/hooks/test_managed_files.py
Due: pyright, isort, black

allow controlling email settings / notifs through ui
  ui/litellm-dashboard/src/components/email_events/email_event_settings.tsx
  ui/litellm-dashboard/src/components/email_events/index.ts
  ui/litellm-dashboard/src/components/email_events/types.ts
  ui/litellm-dashboard/src/components/email_settings.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/types.ts
Due: none

add email settings to enterprise router
  enterprise/proxy/enterprise_routes.py
Due: none

Updated locators in login e2e test.
  litellm/proxy/_experimental/out/onboarding.html
  tests/proxy_admin_ui_tests/e2e_ui_tests/create_new_user.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/login.spec.ts
  tests/proxy_admin_ui_tests/page-object-models/login.page.ts
Due: none

refactor: safely handle enterprise hooks
  enterprise/enterprise_hooks/__init__.py
  litellm/proxy/hooks/__init__.py
Due: pyright, isort, black

fix: fix ruff check errors
  litellm/proxy/hooks/__init__.py
Due: pyright, isort, black

change order of email events
  ui/litellm-dashboard/src/components/email_events/email_event_settings.tsx
  ui/litellm-dashboard/src/components/email_settings.tsx
Due: none

manage email settings in general_settings
  enterprise/enterprise_callbacks/send_emails/endpoints.py
Due: none

[Feat] Bedrock Guardrails - Add support for PII Masking with bedrock guardrails (#10642)
  docs/my-website/docs/proxy/guardrails/bedrock.md
  litellm/integrations/custom_guardrail.py
  litellm/proxy/guardrails/guardrail_hooks/bedrock_guardrails.py
  litellm/proxy/guardrails/guardrail_initializers.py
  litellm/proxy/proxy_config.yaml
  litellm/types/guardrails.py
  litellm/types/proxy/guardrails/guardrail_hooks/bedrock_guardrails.py
  tests/guardrails_tests/test_bedrock_guardrails.py
Due: pyright, isort, black

fix location of email settings types
  enterprise/enterprise_callbacks/send_emails/base_email.py
  enterprise/enterprise_callbacks/send_emails/endpoints.py
  litellm/types/enterprise/enterprise_callbacks/send_emails.py
Due: pyright, isort, black

testing for email settings
  tests/litellm/enterprise/enterprise_callbacks/send_emails/test_endpoints.py
Due: isort, black

Team and Key Object Permission table for MCP Servers (#10643)
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/proxy/schema.prisma
  schema.prisma
Due: none

migration file - add_mcp_key_team_permission_mgmt
  litellm-proxy-extras/litellm_proxy_extras/migrations/20250507184818_add_mcp_key_team_permission_mgmt/migration.sql
Due: none

fix(files_endpoints.py): cleanup enterprise code from OSS
  enterprise/enterprise_hooks/managed_files.py
  litellm/llms/base_llm/files/transformation.py
  litellm/proxy/openai_files_endpoints/common_utils.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
Due: pyright, isort, black

[Feat] Add endpoints to manage email settings (#10646)
  enterprise/enterprise_callbacks/send_emails/base_email.py
  enterprise/enterprise_callbacks/send_emails/endpoints.py
  enterprise/proxy/enterprise_routes.py
  litellm/types/enterprise/enterprise_callbacks/send_emails.py
  tests/litellm/enterprise/enterprise_callbacks/send_emails/test_endpoints.py
  ui/litellm-dashboard/src/components/email_events/email_event_settings.tsx
  ui/litellm-dashboard/src/components/email_events/index.ts
  ui/litellm-dashboard/src/components/email_events/types.ts
  ui/litellm-dashboard/src/components/email_settings.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/settings.tsx
  ui/litellm-dashboard/src/types.ts
Due: pyright, isort, black

refactor: complete cleanup
  enterprise/enterprise_hooks/managed_files.py
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/proxy/openai_files_endpoints/common_utils.py
  tests/enterprise/enterprise_hooks/test_managed_files.py
Due: pyright, isort, black

fix(managed_files.py): complete cleanup
  enterprise/enterprise_hooks/managed_files.py
  litellm/proxy/hooks/__init__.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
Due: pyright, isort, black

Updated tests
  tests/proxy_admin_ui_tests/e2e_ui_tests/add-model.spec.ts
  tests/proxy_admin_ui_tests/page-object-models/login.page.ts
Due: none

feat(router.py): enhance original_messages handling in Router
  litellm/router.py
  tests/litellm/test_router.py
Due: pyright, isort, black

test added
  litellm/integrations/deepeval/api.py
  litellm/integrations/deepeval/deepeval.py
  tests/litellm/integrations/test_deepeval.py
Due: pyright, isort, black

style
  litellm/integrations/deepeval/api.py
  litellm/integrations/deepeval/deepeval.py
  litellm/integrations/deepeval/types.py
  litellm/integrations/deepeval/utils.py
Due: pyright, isort, black

Update crebras llama-3.1-70b model_prices_and_context_window
  model_prices_and_context_window.json
Due: none

fix(managed_files.py): instrument to be able to update deployment values post-router selection and just before making llm call
  enterprise/enterprise_hooks/managed_files.py
  litellm/integrations/custom_logger.py
  litellm/proxy/batches_endpoints/endpoints.py
  litellm/proxy/common_request_processing.py
  litellm/types/utils.py
  litellm/utils.py
Due: pyright, isort, black

test
  litellm/integrations/deepeval/deepeval.py
  tests/litellm/integrations/test_deepeval.py
Due: pyright, isort, black

.
  litellm/integrations/deepeval/api.py
  pyproject.toml
Due: pyright, isort, black

lock file genrated due to tenacity change
  poetry.lock
Due: none

mypy errors
  litellm/integrations/deepeval/api.py
  litellm/integrations/deepeval/types.py
Due: pyright, isort, black

Contributor PR - MCP Server DB Schema (#10634) (#10641)
  litellm-proxy-extras/litellm_proxy_extras/migrations/20250507161526_add_mcp_table_to_db/migration.sql
  litellm-proxy-extras/litellm_proxy_extras/migrations/20250507184818_add_mcp_key_team_permission_mgmt/migration.sql
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/proxy/schema.prisma
  schema.prisma
Due: none

bump litellm proxy extras
  litellm-proxy-extras/pyproject.toml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

fix ai21 test
  tests/local_testing/test_completion.py
  tests/local_testing/test_streaming.py
Due: none

fix ai21 test
  tests/local_testing/test_completion.py
Due: none

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/).*\.py and \.py$
