Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^litellm/
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: litellm/.*\.py
        exclude: ^litellm/__init__.py$
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/
       additional_dependencies: [flake8-print]
       files: litellm/.*\.py
    # -  id: flake8
    #    name: flake8 (router.py function length)
    #    files: ^litellm/router\.py$
    #    args: [--max-function-length=40]
    # #    additional_dependencies: [flake8-functions]
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system
    # -   id: check-file-length
    #     name: Check file length
    #     entry: python check_file_length.py
    #     args: ["10000"]  # set your desired maximum number of lines
    #     language: python
    #     files: litellm/.*\.py
    #     exclude: ^litellm/tests/

Anthropic Citations API Support (#8382)
  docs/my-website/docs/providers/anthropic.md
  litellm/litellm_core_utils/prompt_templates/factory.py
  litellm/litellm_core_utils/streaming_handler.py
  litellm/llms/anthropic/chat/handler.py
  litellm/llms/anthropic/chat/transformation.py
  litellm/types/llms/anthropic.py
  litellm/types/llms/openai.py
  litellm/types/utils.py
  tests/llm_translation/test_anthropic_completion.py
Due: pyright, isort

refactor: move test
  tests/llm_translation/base_llm_unit_tests.py
  tests/llm_translation/test_openai_o1.py
Due: none

test_bedrock_route_detection
  tests/llm_translation/test_bedrock_completion.py
Due: none

(Feat) - Add `/bedrock/invoke` support for all Anthropic models (#8383)
  litellm/llms/base_llm/base_utils.py
  litellm/llms/bedrock/chat/converse_transformation.py
  litellm/llms/bedrock/chat/invoke_handler.py
  litellm/llms/bedrock/chat/invoke_transformations/anthropic_claude3_transformation.py
  litellm/llms/bedrock/chat/invoke_transformations/base_invoke_transformation.py
  litellm/llms/bedrock/common_utils.py
  litellm/llms/openai/chat/gpt_transformation.py
  litellm/llms/topaz/common_utils.py
  litellm/main.py
  litellm/utils.py
  tests/llm_translation/test_bedrock_completion.py
  tests/llm_translation/test_bedrock_invoke_claude_json.py
  tests/llm_translation/test_max_completion_tokens.py
  tests/local_testing/test_get_llm_provider.py
  tests/local_testing/test_get_model_info.py
Due: pyright, isort

Litellm dev 02 07 2025 p3 (#8387)
  litellm/llms/openai/chat/o_series_transformation.py
  tests/llm_translation/test_openai_o1.py
Due: pyright, isort

bump: version 1.60.7 → 1.60.8
  pyproject.toml
Due: none

add : search added in user tab and spacing fix
  ui/litellm-dashboard/src/components/view_users.tsx
Due: none

deepseek default url set "https://api.deepseek.com"
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/llms/deepseek/chat/transformation.py
Due: pyright, isort

fix(parallel_request_limiter.py): add back parallel request information to max parallel request limiter
  litellm/proxy/hooks/parallel_request_limiter.py
  tests/local_testing/test_parallel_request_limiter.py
Due: pyright, isort

test: mark flaky test to handle time based tracking issues
  tests/local_testing/test_parallel_request_limiter.py
Due: none

add nova to BEDROCK_INVOKE_PROVIDERS_LITERAL
  litellm/__init__.py
Due: pyright

BedrockInvokeNovaRequest
  litellm/types/llms/bedrock.py
Due: pyright, isort

nova + invoke config
  litellm/llms/bedrock/chat/invoke_transformations/amazon_nova_transformation.py
Due: pyright, isort

add AmazonInvokeNovaConfig
  litellm/__init__.py
Due: pyright

AmazonInvokeNovaConfig
  litellm/llms/bedrock/chat/invoke_transformations/amazon_nova_transformation.py
Due: pyright, isort

run transform_request for invoke/nova models
  litellm/llms/bedrock/chat/invoke_transformations/base_invoke_transformation.py
Due: pyright, isort

rename invoke tests
  tests/llm_translation/test_bedrock_invoke_tests.py
Due: none

add supports_response_schema for /bedrock/nova models
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

fix linting error
  litellm/llms/bedrock/chat/invoke_transformations/amazon_nova_transformation.py
Due: pyright, isort

TestBedrockInvokeNovaJson
  tests/llm_translation/test_bedrock_invoke_tests.py
Due: none

TestBedrockInvokeNovaJson
  litellm/llms/bedrock/chat/invoke_transformations/amazon_nova_transformation.py
  litellm/types/llms/bedrock.py
Due: pyright, isort

add converse_chunk_parser
  litellm/llms/bedrock/chat/invoke_handler.py
Due: pyright, isort

feat(model_management_endpoints.py): expose new patch `/model/{model_id}/update` endpoint
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/model_management_endpoints.py
  litellm/proxy/proxy_server.py
Due: pyright, isort

fix(vertex_ai/gemini): improve chunk parsing for streaming responses
  litellm/llms/vertex_ai/gemini/vertex_and_google_ai_studio_gemini.py
Due: pyright, isort

test_nova_invoke_remove_empty_system_messages
  tests/llm_translation/test_bedrock_invoke_tests.py
Due: none

test_nova_invoke_streaming_chunk_parsing
  tests/llm_translation/test_bedrock_invoke_tests.py
Due: none

(Feat) - Allow calling Nova models on `/bedrock/invoke/` (#8397)
  litellm/__init__.py
  litellm/llms/bedrock/chat/invoke_handler.py
  litellm/llms/bedrock/chat/invoke_transformations/amazon_nova_transformation.py
  litellm/llms/bedrock/chat/invoke_transformations/base_invoke_transformation.py
  litellm/types/llms/bedrock.py
  tests/llm_translation/test_bedrock_invoke_claude_json.py
  tests/llm_translation/test_bedrock_invoke_tests.py
Due: pyright, isort

fix aws_bedrock_runtime_endpoint
  litellm/llms/bedrock/base_aws_llm.py
Due: pyright, isort
