Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^(litellm/|litellm_proxy_extras/|enterprise/)
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
        exclude: ^litellm/__init__.py$
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/|^litellm/tests/test_litellm/|^tests/test_litellm/|^tests/enterprise/
       additional_dependencies: [flake8-print]
       files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
        files: ^(pyproject.toml|litellm-proxy-extras/pyproject.toml)$
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system

Add Support for Bedrock Guardrails to supportive selective Guarding (#14575)
  docs/my-website/docs/providers/bedrock.md
  litellm/litellm_core_utils/prompt_templates/factory.py
  litellm/llms/bedrock/chat/converse_transformation.py
  litellm/types/llms/bedrock.py
  litellm/types/llms/openai.py
  tests/test_litellm/llms/bedrock/chat/test_converse_transformation.py
Due: pyright, isort, black

fix(key_management_endpoints.py): include created by keys in `/key/list`
  litellm/proxy/management_endpoints/key_management_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
Due: pyright, isort, black

test: add unit testing
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
Due: isort, black

test: batches mocked transform
  tests/batches_tests/test_bedrock_files_and_batches.py
Due: none

ruff fix
  litellm/llms/bedrock/batches/transformation.py
Due: pyright, isort, black

refactor
  litellm/batches/main.py
Due: pyright, isort, black

fix transform
  litellm/llms/bedrock/batches/transformation.py
Due: pyright, isort, black

fix(anthropic/chat/transformation.py): include cache creation token count in final prompt token value
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/llms/anthropic/chat/transformation.py
  tests/llm_translation/base_llm_unit_tests.py
Due: pyright, isort, black

prelim e2e test for guardrail configuration
  tests/proxy_admin_ui_tests/e2e_ui_tests/guardrail_configuration.spec.ts
  tests/proxy_admin_ui_tests/global-setup.ts
  tests/proxy_admin_ui_tests/playwright.config.ts
Due: none

fix: parse_timestamp
  litellm/llms/bedrock/batches/transformation.py
Due: pyright, isort, black

fix(utils.py): log cache_creation_tokens in prompt token details
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/types/utils.py
  tests/llm_translation/base_llm_unit_tests.py
  tests/local_testing/test_anthropic_prompt_caching.py
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: pyright, isort, black

fix: fix test
  tests/local_testing/test_anthropic_prompt_caching.py
Due: none

build(model_cost): add cache_creation_input_token_cost_above_1hr pricing
  litellm/llms/anthropic/chat/transformation.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/local_testing/test_anthropic_prompt_caching.py
Due: pyright, isort, black

build(model_prices_and_context_window.json): add "cache_creation_input_token_cost_above_1hr" to all claude-3-5-sonnet models
  .gitignore
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

build(model_prices_and_context_window.json): add claude-opus-4-1 "cache_creation_input_token_cost_above_1hr" pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

build(model_prices_and_context_window.json): add claude-opus-4, claude-3-7-sonnet, claude-sonnet-4 "cache_creation_input_token_cost_above_1hr" pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

build(model_prices_and_context_window.json): add claude-3-5 haiku, claude-3-5 sonnet, claude-opus 3, claude-haiku 3 "cache_creation_input_token_cost_above_1hr" pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

test(test_utils.py): fix cache creation tokens
  tests/test_litellm/test_utils.py
Due: isort, black

fix(types/utils.py): add cache_creation_input_token_cost_above_1hr to modelinfobase
  litellm/types/utils.py
Due: pyright, isort, black

fix(test_utils.py): fix test
  tests/test_litellm/test_utils.py
Due: isort, black

[Feat] Batches - Add bedrock retrieve endpoint support (#14618)
  litellm/batches/main.py
  litellm/llms/base_llm/batches/transformation.py
  litellm/llms/bedrock/batches/transformation.py
  litellm/llms/bedrock/common_utils.py
  litellm/llms/custom_httpx/llm_http_handler.py
  tests/batches_tests/test_bedrock_files_and_batches.py
Due: pyright, isort, black

test: fix test
  .gitignore
  tests/local_testing/test_completion_cost.py
Due: none

e2e test updates with new global login logic
  tests/proxy_admin_ui_tests/e2e_ui_tests/guardrail_configuration.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/login_to_ui.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/redirect-fail-screenshot.png
  tests/proxy_admin_ui_tests/e2e_ui_tests/require_auth_for_dashboard.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/view_internal_user.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/view_user_info.spec.ts
  tests/proxy_admin_ui_tests/test-results/.last-run.json
Due: none

pgai_guardrail
  docs/my-website/docs/proxy/guardrails/pointguardai.md
  litellm/proxy/guardrails/guardrail_hooks/pointguardai/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/pointguardai/pointguardai.py
  litellm/proxy/guardrails/guardrail_initializers.py
  litellm/proxy/guardrails/guardrail_registry.py
  litellm/types/guardrails.py
Due: pyright, isort, black

removed problematic tooltips; used generic GuardrailSelector component
  ui/litellm-dashboard/src/components/organisms/create_key_button.tsx
  ui/litellm-dashboard/src/components/templates/key_edit_view.tsx
Due: none
