Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^(litellm/|litellm_proxy_extras/|enterprise/)
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
        exclude: ^litellm/__init__.py$
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/|^litellm/tests/test_litellm/|^tests/test_litellm/|^tests/enterprise/
       additional_dependencies: [flake8-print]
       files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
        files: ^(pyproject.toml|litellm-proxy-extras/pyproject.toml)$
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system

fix: fix linting error
  litellm/proxy/guardrails/guardrail_hooks/azure/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/azure/prompt_shield.py
Due: pyright, isort, black

fix: fix linting check
  litellm/proxy/guardrails/guardrail_hooks/azure/text_moderation.py
Due: pyright, isort, black

Add MCP servers header to the scope of header (#12266)
  litellm/proxy/_experimental/mcp_server/auth/litellm_auth_handler.py
  litellm/proxy/_experimental/mcp_server/auth/user_api_key_auth_mcp.py
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
  litellm/proxy/_experimental/mcp_server/server.py
  litellm/proxy/_types.py
  tests/test_litellm/proxy/_experimental/mcp_server/auth/test_user_api_key_auth_mcp.py
Due: pyright, isort, black

qa - ui (#12265)
  ui/litellm-dashboard/src/components/team/LoggingSettings.tsx
Due: none

bump: version 1.74.0 → 1.75.0
  pyproject.toml
Due: none

Revert "bump: version 1.74.0 → 1.75.0"
  pyproject.toml
Due: none

test: change mistral model
  litellm/proxy/_new_secret_config.yaml
  tests/local_testing/test_completion.py
  tests/local_testing/test_streaming.py
Due: none

Add 'audio_url' message type support for VLLM (#12270)
  litellm/proxy/_new_secret_config.yaml
  litellm/types/llms/openai.py
  tests/llm_translation/test_bedrock_agents.py
  tests/test_litellm/llms/hosted_vllm/chat/test_hosted_vllm_chat_transformation.py
Due: pyright, isort, black

fix - mcp import error
  litellm/proxy/_experimental/mcp_server/server.py
Due: pyright, isort, black

fix lint
  ui/litellm-dashboard/src/components/team/LoggingSettings.tsx
Due: none

test -self.received_finish_reason = response_obj["finish_reason"]
  litellm/litellm_core_utils/streaming_handler.py
Due: pyright, isort, black

test_url_context
  tests/llm_translation/test_gemini.py
Due: none

test: update test
  tests/llm_translation/test_gemini.py
Due: none

fix(exception_mapping_utils.py): cover mistral in exception mapping
  litellm/litellm_core_utils/exception_mapping_utils.py
Due: pyright, isort, black

Add Azure Content Safety Guardrails to LiteLLM proxy (#12268)
  litellm/integrations/custom_guardrail.py
  litellm/litellm_core_utils/exception_mapping_utils.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/guardrails/guardrail_hooks/azure/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/azure/base.py
  litellm/proxy/guardrails/guardrail_hooks/azure/prompt_shield.py
  litellm/proxy/guardrails/guardrail_hooks/azure/text_moderation.py
  litellm/proxy/guardrails/guardrail_registry.py
  litellm/proxy/guardrails/init_guardrails.py
  litellm/types/guardrails.py
  litellm/types/proxy/guardrails/guardrail_hooks/azure/azure_prompt_shield.py
  litellm/types/proxy/guardrails/guardrail_hooks/azure/azure_text_moderation.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/azure/test_azure_prompt_shield.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/azure/test_azure_text_moderation.py
Due: pyright, isort, black

test: skip hf test - model removed
  tests/local_testing/test_text_completion.py
Due: none

test - fix delete keys
  tests/test_litellm/proxy/client/cli/test_keys_commands.py
Due: isort, black

avoid exception when tool call has no args
  litellm/litellm_core_utils/prompt_templates/factory.py
Due: pyright, isort, black

added unit test
  tests/test_litellm/litellm_core_utils/prompt_templates/test_litellm_core_utils_prompt_templates_factory.py
Due: isort, black

more robust assertion
  tests/test_litellm/proxy/client/cli/test_keys_commands.py
Due: isort, black

Fix Anthropic user ID validation across both chat and completion endpoints
  litellm/llms/anthropic/completion/transformation.py
  tests/llm_translation/test_anthropic_completion.py
  tests/llm_translation/test_anthropic_user_id_validation.py
Due: pyright, isort, black
