Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

fix(ui_sso.py): fix linting error
  litellm/proxy/management_endpoints/ui_sso.py
Due: pyright, isort, black

fix: Add support for reasoning_effort parameter in Claude Sonnet 4 and Opus 4
  litellm/llms/bedrock/chat/converse_transformation.py
Due: pyright, isort, black

fix: fix import
  enterprise/litellm_enterprise/enterprise_callbacks/send_emails/base_email.py
Due: none

feat(handle_jwt.py): map user to team when added via jwt auth (#11108)
  litellm/proxy/auth/handle_jwt.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/proxy/management_endpoints/ui_sso.py
  tests/litellm/proxy/auth/test_handle_jwt.py
  tests/proxy_unit_tests/test_proxy_server.py
Due: pyright, isort, black

fix: fix linting errors
  enterprise/litellm_enterprise/enterprise_callbacks/send_emails/endpoints.py
  tests/litellm/enterprise/enterprise_callbacks/send_emails/test_base_email.py
  tests/litellm/enterprise/enterprise_callbacks/send_emails/test_endpoints.py
Due: isort, black

fix(ui_sso.py): maintain backwards compatibility for older user id va… (#11106)
  litellm/constants.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/ui_sso.py
  litellm/proxy/proxy_server.py
  tests/litellm/proxy/management_endpoints/test_ui_sso.py
  tests/proxy_unit_tests/test_proxy_utils.py
Due: pyright, isort, black

fix lint (#11112)
  litellm/llms/github_copilot/authenticator.py
  litellm/llms/github_copilot/constants.py
Due: pyright, isort, black

Add init files to make test directories Python packages and update import paths in test_token_counter.py
  tests/__init__.py
  tests/litellm/__init__.py
  tests/litellm/litellm_core_utils/__init__.py
  tests/litellm/litellm_core_utils/test_token_counter.py
Due: isort, black

feat: add Cloudflare Llama-4-Scout model with advanced features
  litellm/llms/cloudflare/chat/transformation.py
  litellm/llms/cloudflare/embed/handler.py
  litellm/llms/cloudflare/embed/transformation.py
  litellm/main.py
  litellm/utils.py
  model_prices_and_context_window.json
  tests/litellm/test_cloudflare.py
Due: pyright, isort, black

feat(cloudflare): improve embedding input type handling
  litellm/llms/cloudflare/embed/transformation.py
Due: pyright, isort, black

test fix xai
  tests/llm_translation/test_xai.py
Due: none

feat: add image edits on litellm router
  litellm/router.py
  tests/image_gen_tests/test_image_edits.py
Due: pyright, isort, black

feat: add image edits endpoint
  litellm/proxy/_types.py
  litellm/proxy/common_request_processing.py
  litellm/proxy/image_endpoints/endpoints.py
  litellm/proxy/proxy_server.py
  litellm/proxy/route_llm_request.py
Due: pyright, isort, black

Add init files to make test directories Python packages and update import paths in test_token_counter.py (#11119)
  tests/__init__.py
  tests/litellm/__init__.py
  tests/litellm/litellm_core_utils/__init__.py
  tests/litellm/litellm_core_utils/test_token_counter.py
Due: isort, black

bump: version 1.71.0 → 1.71.1
  pyproject.toml
Due: none

test: update tests
  tests/litellm/test_utils.py
Due: isort, black

fix: handle DB_USER, DB_PASSWORD, DB_HOST problem I faced, since this… (#10842)
  litellm/proxy/proxy_cli.py
  tests/litellm/proxy/test_proxy_cli.py
  tests/litellm/test_main.py
Due: pyright, isort, black

put organization and team buttons at the top (#10948)
  ui/litellm-dashboard/src/components/organizations.tsx
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

Allow passed in vertex_ai credentials to be authorized_user type (#10899)
  litellm/llms/vertex_ai/vertex_llm_base.py
  tests/litellm/llms/vertex_ai/test_vertex_llm_base.py
Due: pyright, isort, black

build(ui/): new ui build
  ui/litellm-dashboard/out/404.html
  ui/litellm-dashboard/out/_next/static/chunks/250-45f35de8b3449336.js
  ui/litellm-dashboard/out/_next/static/chunks/250-ca9d788a8d1c6d58.js
  ui/litellm-dashboard/out/_next/static/chunks/313-9496b55e0596d651.js
  ui/litellm-dashboard/out/_next/static/chunks/313-bba577664545e320.js
  ui/litellm-dashboard/out/_next/static/chunks/402-cba8184a1bf36c3c.js
  ui/litellm-dashboard/out/_next/static/chunks/460-374c9a9a8c3bef22.js
  ui/litellm-dashboard/out/_next/static/chunks/460-f6ee8934fa9fc1ae.js
  ui/litellm-dashboard/out/_next/static/chunks/899-768e8bb08fd1e694.js
  ui/litellm-dashboard/out/_next/static/chunks/app/layout-429ad74a94df7643.js
  ui/litellm-dashboard/out/_next/static/chunks/app/layout-af8319e6c59a08da.js
  ui/litellm-dashboard/out/_next/static/chunks/app/model_hub/page-38df01e06b8ad4aa.js
  ui/litellm-dashboard/out/_next/static/chunks/app/model_hub/page-ce40c5a05f3174ca.js
  ui/litellm-dashboard/out/_next/static/chunks/app/onboarding/page-6e93ff5674929e45.js
  ui/litellm-dashboard/out/_next/static/chunks/app/onboarding/page-8c2f1d7b29a0b5ff.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-4f63cf87d7229abe.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-b69fceb3ef4b38ca.js
  ui/litellm-dashboard/out/_next/static/chunks/main-app-475d6efe4080647d.js
  ui/litellm-dashboard/out/_next/static/chunks/main-app-4f7318ae681a6d94.js
  ui/litellm-dashboard/out/_next/static/xnGnjIDFpJzcmYTBoGMIe/_buildManifest.js
  ui/litellm-dashboard/out/_next/static/xnGnjIDFpJzcmYTBoGMIe/_ssgManifest.js
  ui/litellm-dashboard/out/index.html
  ui/litellm-dashboard/out/index.txt
  ui/litellm-dashboard/out/model_hub.html
  ui/litellm-dashboard/out/model_hub.txt
  ui/litellm-dashboard/out/onboarding.html
  ui/litellm-dashboard/out/onboarding.txt
Due: none

test: update tests
  tests/local_testing/test_caching_ssl.py
  tests/local_testing/test_router_budget_limiter.py
Due: none

Improve response_id propagation logic and add tests for valid/empty ID handling in streaming. (#11006)
  litellm/litellm_core_utils/streaming_handler.py
  tests/litellm/litellm_core_utils/test_streaming_handler.py
Due: pyright, isort, black

Litellm add new gemini models (#10998)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

support vertex_ai global endpoints for chat (#10658)
  docs/my-website/docs/providers/vertex.md
  litellm/llms/vertex_ai/common_utils.py
  tests/litellm/llms/vertex_ai/test_vertex_ai_common_utils.py
Due: pyright, isort, black

update sambanova models and parameters (#10900)
  docs/my-website/docs/completion/input.md
  docs/my-website/docs/providers/sambanova.md
  litellm/__init__.py
  litellm/llms/sambanova/chat.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: pyright, isort, black

test: update test due to cohere ssl issues
  tests/llm_translation/test_azure_ai.py
  tests/local_testing/test_completion.py
Due: none

docs: cleanup
  docs/my-website/release_notes/v1.70.1-stable/index.md
Due: none

add skip server startup flag to cli (#10665)
  litellm/proxy/proxy_cli.py
  tests/litellm/proxy/test_proxy_cli.py
Due: pyright, isort, black

fix cohere rerank provider (#10822)
  litellm/utils.py
Due: pyright, isort, black

spend rounded to 4 (#11013)
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

Enable key reassignment on UI + Show 'updated at' column for key in all keys table (#10960)
  litellm/proxy/_experimental/out/onboarding.html
  ui/litellm-dashboard/src/components/all_keys_table.tsx
  ui/litellm-dashboard/src/components/key_edit_view.tsx
Due: none

[Feature] Add supports_computer_use to the model list (#10881)
  litellm/model_prices_and_context_window_backup.json
  litellm/types/utils.py
  litellm/utils.py
  model_prices_and_context_window.json
  tests/litellm/test_utils.py
  tests/local_testing/test_get_model_info.py
Due: pyright, isort, black

build: ui/
  litellm/proxy/_experimental/out/_next/static/chunks/250-45f35de8b3449336.js
  litellm/proxy/_experimental/out/_next/static/chunks/250-ca9d788a8d1c6d58.js
  litellm/proxy/_experimental/out/_next/static/chunks/313-9496b55e0596d651.js
  litellm/proxy/_experimental/out/_next/static/chunks/313-bba577664545e320.js
  litellm/proxy/_experimental/out/_next/static/chunks/402-cba8184a1bf36c3c.js
  litellm/proxy/_experimental/out/_next/static/chunks/460-374c9a9a8c3bef22.js
  litellm/proxy/_experimental/out/_next/static/chunks/460-f6ee8934fa9fc1ae.js
  litellm/proxy/_experimental/out/_next/static/chunks/899-768e8bb08fd1e694.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/layout-429ad74a94df7643.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/layout-af8319e6c59a08da.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/model_hub/page-38df01e06b8ad4aa.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/model_hub/page-ce40c5a05f3174ca.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/onboarding/page-6e93ff5674929e45.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/onboarding/page-8c2f1d7b29a0b5ff.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-4f63cf87d7229abe.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-b69fceb3ef4b38ca.js
  litellm/proxy/_experimental/out/_next/static/chunks/main-app-475d6efe4080647d.js
  litellm/proxy/_experimental/out/_next/static/chunks/main-app-4f7318ae681a6d94.js
  litellm/proxy/_experimental/out/_next/static/xnGnjIDFpJzcmYTBoGMIe/_buildManifest.js
  litellm/proxy/_experimental/out/_next/static/xnGnjIDFpJzcmYTBoGMIe/_ssgManifest.js
  litellm/proxy/_experimental/out/index.html
  litellm/proxy/_experimental/out/index.txt
  litellm/proxy/_experimental/out/model_hub.txt
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_experimental/out/onboarding.txt
Due: none

test: update test
  tests/proxy_unit_tests/test_key_generate_prisma.py
Due: none

fix(internal_user_endpoints.py): allow resetting spend/max budget on … (#10993)
  litellm/caching/dual_cache.py
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/utils.py
  tests/litellm/proxy/auth/test_auth_checks.py
  tests/litellm/proxy/management_endpoints/test_internal_user_endpoints.py
Due: pyright, isort, black

test: skip test - model EOL
  tests/image_gen_tests/test_image_generation.py
Due: none

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/).*\.py and \.py$
