Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

[Update] Adjust max_input_tokens for azure/gpt-5-chat models in JSON configuration
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

update boto3 version to 1.37.38 (#13656)
  .circleci/config.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/code_coverage_tests/license_cache.json
Due: none

Fix LangfuseOtelSpanAttributes constants to match expected values at https://python.reference.langfuse.com/langfuse#LangfuseOtelSpanAttributes (#13659)
  litellm/types/integrations/langfuse_otel.py
Due: pyright, isort, black

Fixed incorrect key info endpoint (#13633)
  litellm/proxy/client/keys.py
  tests/test_litellm/proxy/client/test_keys.py
Due: pyright, isort, black

trivy/secrets false positives (#13631)
  litellm/proxy/_types.py
  litellm/proxy/litellm.log
Due: pyright, isort, black

fix aioboto3
  .circleci/config.yml
Due: none

fix aioboto3
  requirements.txt
Due: none

Revert "fix aioboto3"
  requirements.txt
Due: none

Revert "fix aioboto3"
  .circleci/config.yml
Due: none

Revert "update boto3 version to 1.37.38 (#13656)"
  .circleci/config.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/code_coverage_tests/license_cache.json
Due: none

show team member tpm/rpm limits
  ui/litellm-dashboard/src/components/team/team_member_view.tsx
Due: none

ui - allow setting team settings
  ui/litellm-dashboard/src/components/team/team_info.tsx
Due: none

[Feat] Team Member Rate Limits - show team member tpm/rpm limits (#13662)
  ui/litellm-dashboard/src/components/team/team_info.tsx
  ui/litellm-dashboard/src/components/team/team_member_view.tsx
Due: none

fix better debugging
  litellm/proxy/auth/auth_checks.py
Due: pyright, isort, black

bump up boto3 and aioboto3 versions
  .circleci/config.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/code_coverage_tests/license_cache.json
Due: none

fix by adding init lock
  litellm/proxy/_experimental/mcp_server/server.py
  tests/test_litellm/proxy/_experimental/mcp_server/test_mcp_server.py
Due: pyright, isort, black

[Feat] UI QA for Team Member Rate Limits (#13664)
  litellm/proxy/auth/auth_checks.py
Due: pyright, isort, black

fix(anthropic): use correct TypedDict for URL vs base64 image sources
  litellm/litellm_core_utils/prompt_templates/factory.py
  litellm/llms/vertex_ai/gemini/transformation.py
Due: pyright, isort, black

fix types: TeamMemberUpdateRequest
  litellm/proxy/_types.py
Due: pyright, isort, black

add _upsert_budget_and_membership
  litellm/proxy/management_endpoints/common_utils.py
  litellm/proxy/management_endpoints/team_endpoints.py
Due: pyright, isort, black

allow updating team member RPM/TPM in teamMemberUpdateCall
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/team/team_info.tsx
Due: none

editing team member rpm/tpm
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/team/edit_membership.tsx
  ui/litellm-dashboard/src/components/team/team_info.tsx
  ui/litellm-dashboard/src/components/team/team_member_view.tsx
Due: none

UI - fixes for team member component
  ui/litellm-dashboard/src/components/team/edit_membership.tsx
  ui/litellm-dashboard/src/components/team/team_info.tsx
Due: none

bump up boto3 and aioboto3 versions (#13665)
  .circleci/config.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/code_coverage_tests/license_cache.json
Due: none

fix info
  ui/litellm-dashboard/src/components/team/edit_membership.tsx
  ui/litellm-dashboard/src/components/team/team_info.tsx
Due: none

test_upsert_rpm_only_creates_new_budget
  tests/test_litellm/proxy/common_utils/test_upsert_budget_membership.py
Due: isort, black

[Feat] UI - Allow editing team member rpm/tpm limits (#13669)
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/common_utils.py
  litellm/proxy/management_endpoints/team_endpoints.py
  tests/test_litellm/proxy/common_utils/test_upsert_budget_membership.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/team/edit_membership.tsx
  ui/litellm-dashboard/src/components/team/team_info.tsx
  ui/litellm-dashboard/src/components/team/team_member_view.tsx
Due: pyright, isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
