Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^(litellm/|litellm_proxy_extras/|enterprise/)
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
        exclude: ^litellm/__init__.py$
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/|^litellm/tests/test_litellm/|^tests/test_litellm/|^tests/enterprise/
       additional_dependencies: [flake8-print]
       files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
        files: ^(pyproject.toml|litellm-proxy-extras/pyproject.toml)$
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system

agent 4.png
  docs/my-website/docs/tutorials/cost_tracking_coding.md
  docs/my-website/img/agent_3.png
  docs/my-website/img/agent_4.png
Due: none

feat(schema.prisma): initial pr with db schema for prompt management table
  litellm/proxy/prompts/prompt_endpoints.py
  litellm/proxy/prompts/prompt_registry.py
  litellm/proxy/proxy_cli.py
  litellm/proxy/schema.prisma
  schema.prisma
Due: pyright, isort, black

docs fix
  docs/my-website/docs/tutorials/cost_tracking_coding.md
Due: none

feat(prompt_endpoints.py): use db in patch_prompt endpoint
  litellm/proxy/prompts/prompt_endpoints.py
  litellm/proxy/proxy_server.py
Due: pyright, isort, black

feat(prompt_endpoints.py): use db for update_prompt endpoint
  litellm/proxy/prompts/prompt_endpoints.py
Due: pyright, isort, black

feat(prompt_endpoints.py): use db on prompt delete endpoint
  litellm/proxy/prompts/prompt_endpoints.py
Due: pyright, isort, black

build(schema.prisma): add prompt tale to schema.prisma in litellm-proxy-extras
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
Due: none

build(migration.sql): add new sql migration file
  litellm-proxy-extras/litellm_proxy_extras/migrations/20250802162330_prompt_table/migration.sql
Due: none

refactor mcp guardrails
  litellm/integrations/custom_logger.py
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
  litellm/proxy/utils.py
Due: pyright, isort, black

fix tests
  tests/local_testing/test_caching.py
Due: none

fix(init_prompts.py): fix init
  litellm/proxy/prompts/init_prompts.py
  litellm/proxy/proxy_cli.py
  litellm/types/prompts/init_prompts.py
Due: pyright, isort, black

docs User Agent Activity Tracking
  docs/my-website/release_notes/v1.74.15-stable/index.md
Due: none

feat(prompt_info_view.tsx): show the raw prompt template on ui
  litellm/proxy/prompts/prompt_endpoints.py
  litellm/types/prompts/init_prompts.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/prompts/prompt_info.tsx
Due: pyright, isort, black

added check for overflow
  ui/litellm-dashboard/src/components/key_info_view.tsx
  ui/litellm-dashboard/src/components/organization/organization_view.tsx
  ui/litellm-dashboard/src/components/team/team_info.tsx
Due: none

feat(add_prompt_form.tsx): working ui add prompt flow
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/prompts.tsx
  ui/litellm-dashboard/src/components/prompts/add_prompt_form.tsx
Due: none

fix openshift
  docker/Dockerfile.non_root
Due: none

build(ui/): styling fixes
  ui/litellm-dashboard/src/components/prompts/add_prompt_form.tsx
Due: none

build(ui/): prompts.tsx
  ui/litellm-dashboard/src/components/prompts.tsx
Due: none

fix(add_prompt_form.tsx): styling improvements
  ui/litellm-dashboard/src/components/prompts/add_prompt_form.tsx
Due: none

build(prompts.tsx): styling improvements
  ui/litellm-dashboard/src/components/prompts.tsx
  ui/litellm-dashboard/src/components/prompts/prompt_table.tsx
Due: none

Added to circle ci requirements
  .circleci/requirements.txt
Due: none

build(ui/): styling improvements
  ui/litellm-dashboard/src/components/prompts.tsx
  ui/litellm-dashboard/src/components/prompts/prompt_info.tsx
Due: none

build(ui/): fix ui error
  ui/litellm-dashboard/src/components/prompts/add_prompt_form.tsx
Due: none

fix: fix ruff check
  litellm/proxy/management_endpoints/common_utils.py
  litellm/proxy/prompts/init_prompts.py
  litellm/proxy/prompts/prompt_endpoints.py
  litellm/proxy/prompts/prompt_registry.py
Due: pyright, isort, black

docs: document new api params
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
Due: pyright, isort, black

fix(key_management_endpoints.py): fix key update logic \
  litellm/proxy/management_endpoints/key_management_endpoints.py
Due: pyright, isort, black

fix: fix check
  litellm/proxy/management_endpoints/common_utils.py
Due: pyright, isort, black

docs: document new params
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
Due: pyright, isort, black

test: update tests
  tests/test_litellm/integrations/dotprompt/test_prompt_manager.py
Due: isort, black

UI - Add giving keys prompt access (#13233)
  litellm/proxy/management_endpoints/common_utils.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  ui/litellm-dashboard/src/components/create_key_button.tsx
  ui/litellm-dashboard/src/components/key_edit_view.tsx
  ui/litellm-dashboard/src/components/key_info_view.tsx
  ui/litellm-dashboard/src/components/networking.tsx
Due: pyright, isort, black

Prompt Management - Add table + prompt info page to UI (#13232)
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/common_utils.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/prompts/prompt_endpoints.py
  litellm/proxy/prompts/prompt_registry.py
  litellm/types/prompts/init_prompts.py
  ui/litellm-dashboard/src/app/page.tsx
  ui/litellm-dashboard/src/components/leftnav.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/prompts.tsx
  ui/litellm-dashboard/src/components/prompts/README.md
  ui/litellm-dashboard/src/components/prompts/index.ts
  ui/litellm-dashboard/src/components/prompts/prompt_info.tsx
  ui/litellm-dashboard/src/components/prompts/prompt_table.tsx
Due: pyright, isort, black
