Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

Litellm dev 08 07 2025 p1 (#13418)
  docs/my-website/docs/providers/openai/responses_api.md
  litellm/proxy/_new_secret_config.yaml
  litellm/router.py
  poetry.lock
  tests/test_litellm/test_router.py
Due: pyright, isort, black

Add responses
  litellm/caching/caching_handler.py
  tests/llm_translation/test_openai_realtime.py
Due: pyright, isort, black

build: update local model cost map
  litellm/model_prices_and_context_window_backup.json
Due: none

bump: version 1.75.4 → 1.75.5
  pyproject.toml
Due: none

Enable Allowed origins and security headers using ENV params
  .env.example
  litellm/proxy/proxy_server.py
Due: pyright, isort, black

Test cases for allowed origins and securiry headers
  tests/test_litellm/proxy/test_allowed_origins_and_security_headers.py
  tests/test_litellm/proxy/test_configs/test_config_no_auth.yaml
Due: isort, black

docs(index.md): initial doc
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

build(index.md): initial notes
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs(index.md): add llm translation tickets
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs(index.md): document new model support
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs(index.md): document all pricing changes
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs(index.md): add llm api endpoints
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs(index.md): add doc on mcp gateway
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs(index.md): add all remaining rc notes
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs(index.md): cleanup
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

Litellm release notes 08 10 2025 (#13479)
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

build(model_prices_and_context_window.json): fix max token values
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

build(model_prices_and_context_window.json): fix azure gpt-5-chat pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Litellm model cost map fixes (#13480)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

docs(index.md): update release with deployment information
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

docs: fix order
  docs/my-website/release_notes/v1.75.5-stable/index.md
Due: none

[Bug Fix] - Allow using `reasoning_effort` for gpt-5 model family and `reasoning` for Responses API (#13475)
  litellm/utils.py
  tests/llm_responses_api_testing/test_openai_responses_api.py
  tests/llm_translation/test_openai.py
Due: pyright, isort, black

feat: add support for prompt cache of bedrock tool result
  litellm/litellm_core_utils/prompt_templates/factory.py
Due: pyright, isort, black

Update factory.py
  litellm/litellm_core_utils/prompt_templates/factory.py
Due: pyright, isort, black

feat:prompt cache of bedrock tool result
  litellm/litellm_core_utils/prompt_templates/factory.py
Due: pyright, isort, black

fix: PR linting error
  litellm/caching/caching_handler.py
Due: pyright, isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
