Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^(litellm/|litellm_proxy_extras/)
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/).*\.py
        exclude: ^litellm/__init__.py$
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/).*\.py
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/|^litellm/tests/litellm/|^tests/litellm/
       additional_dependencies: [flake8-print]
       files: (litellm/|litellm_proxy_extras/).*\.py
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
        files: ^(pyproject.toml|litellm-proxy-extras/pyproject.toml)$
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system

acck
  litellm/integrations/humanloop.py
Due: pyright, isort, black

add status to spendlogs
  tests/logging_callback_tests/gcs_pub_sub_body/spend_logs_payload.json
Due: none

foooey
  litellm/integrations/langfuse/langfuse_prompt_management.py
Due: pyright, isort, black

not needed
  litellm/integrations/langfuse/langfuse_prompt_management.py
Due: pyright, isort, black

Move large text to conftest fixture
  tests/conftest.py
  tests/large_text.py
  tests/litellm/litellm_core_utils/test_token_counter.py
  tests/local_testing/test_router.py
  tests/old_proxy_tests/tests/load_test_completion.py
  tests/test_fallbacks.py
Due: isort, black

add flag
  litellm/proxy/proxy_cli.py
Due: pyright, isort, black

Fix Slack alerting not working if using a DB (#10370)
  litellm/integrations/SlackAlerting/slack_alerting.py
  tests/litellm/integrations/SlackAlerting/test_slack_alerting.py
Due: pyright, isort, black

Add support for nscale provider
  litellm/__init__.py
  litellm/constants.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/litellm_core_utils/get_supported_openai_params.py
  litellm/llms/nscale/chat/transformation.py
  litellm/model_prices_and_context_window_backup.json
  litellm/types/utils.py
  litellm/utils.py
  model_prices_and_context_window.json
Due: pyright, isort, black

Address PR review comments for doc updates
  docs/my-website/docs/providers/nscale.md
  docs/my-website/sidebars.js
Due: none

Add docs for nscale
  docs/my-website/docs/providers/nscale.md
  docs/my-website/sidebars.js
Due: none

Minor doc improvement
  docs/my-website/docs/providers/nscale.md
  tests/litellm/litellm_core_utils/test_token_counter.py
  tests/local_testing/test_router.py
Due: isort, black

Remove redundant null tokens from model cost map
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Fix unit test import issues
  docs/my-website/docs/providers/nscale.md
  tests/conftest.py
  tests/large_text.py
  tests/litellm/litellm_core_utils/test_token_counter.py
  tests/local_testing/test_router.py
  tests/old_proxy_tests/tests/load_test_completion.py
  tests/test_fallbacks.py
Due: isort, black

Add image generation support and fix unit tests
  litellm/main.py
  tests/litellm/llms/nscale/chat/test_nscale_chat_transformation.py
Due: pyright, isort, black

Revert changes to large text
  tests/conftest.py
  tests/large_text.py
  tests/litellm/litellm_core_utils/test_token_counter.py
  tests/local_testing/test_router.py
  tests/old_proxy_tests/tests/load_test_completion.py
  tests/test_fallbacks.py
Due: isort, black

fix ruff linting
  litellm/proxy/proxy_cli.py
Due: pyright, isort, black

fix tests with spendlogs
  tests/litellm/proxy/spend_tracking/test_spend_management_endpoints.py
Due: isort, black

Add support for Nscale (EU-Sovereign) Provider (#10638)
  docs/my-website/docs/providers/nscale.md
  docs/my-website/sidebars.js
  litellm/__init__.py
  litellm/constants.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/litellm_core_utils/get_supported_openai_params.py
  litellm/llms/nscale/chat/transformation.py
  litellm/main.py
  litellm/model_prices_and_context_window_backup.json
  litellm/types/utils.py
  litellm/utils.py
  model_prices_and_context_window.json
  tests/litellm/llms/nscale/chat/test_nscale_chat_transformation.py
Due: pyright, isort, black

Add New Perplexity Models (#10652)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Handling Gemini usage in streaming mode with reasoning tokens
  litellm/litellm_core_utils/streaming_handler.py
Due: pyright, isort, black

fix
  litellm/litellm_core_utils/streaming_handler.py
Due: pyright, isort, black

fix model filtering
  litellm/proxy/spend_tracking/spend_management_endpoints.py
  migrations/20250508143509_/migration.sql
  migrations/migration_lock.toml
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/log_filter_logic.tsx
Due: pyright, isort, black

modified status filter to use status column from LiteLLM_SpendLogs
  litellm/proxy/spend_tracking/spend_management_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/log_filter_logic.tsx
Due: pyright, isort, black

[Refactor - Filtering Spend Logs] Add `status` to root of SpendLogs table (#10661)
  litellm-proxy-extras/litellm_proxy_extras/migrations/20250508072103_add_status_to_spendlogs/migration.sql
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/proxy/_types.py
  litellm/proxy/schema.prisma
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  schema.prisma
  tests/litellm/proxy/spend_tracking/test_spend_management_endpoints.py
  tests/logging_callback_tests/gcs_pub_sub_body/spend_logs_payload.json
Due: pyright, isort, black

Revert "add status to spendlogs"
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/proxy/schema.prisma
  schema.prisma
Due: none

Revert "add status to spendlogs"
  litellm/proxy/_types.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
Due: pyright, isort, black

Revert "add status to spendlogs"
  litellm-proxy-extras/litellm_proxy_extras/migrations/20250508072103_add_status_to_spendlogs/migration.sql
Due: none

Revert "add status to spendlogs"
  tests/logging_callback_tests/gcs_pub_sub_body/spend_logs_payload.json
Due: none

added status filtering on logs
  litellm/proxy/spend_tracking/spend_management_endpoints.py
  ui/litellm-dashboard/src/components/common_components/filter.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/log_filter_logic.tsx
Due: pyright, isort, black

added model filter
  litellm/proxy/spend_tracking/spend_management_endpoints.py
  ui/litellm-dashboard/src/components/common_components/filter.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/log_filter_logic.tsx
Due: pyright, isort, black

fix linter
  litellm/proxy/spend_tracking/spend_management_endpoints.py
Due: pyright, isort, black

fix model filtering
  litellm/proxy/spend_tracking/spend_management_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/log_filter_logic.tsx
Due: pyright, isort, black

modified status filter to use status column from LiteLLM_SpendLogs
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/log_filter_logic.tsx
Due: none

feat: add native presidio pii
  litellm/model_prices_and_context_window_backup.json
  litellm/proxy/guardrails/guardrail_hooks/litellm_pii.py
  litellm/types/proxy/guardrails/guardrail_hooks/litellm_pii.py
  tests/guardrails_tests/test_litellm_pii.py
Due: pyright, isort, black

fix: linting
  litellm/llms/nscale/chat/transformation.py
Due: pyright, isort, black
