Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^litellm/
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: litellm/.*\.py
        exclude: ^litellm/__init__.py$
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/
       additional_dependencies: [flake8-print]
       files: litellm/.*\.py
    # -  id: flake8
    #    name: flake8 (router.py function length)
    #    files: ^litellm/router\.py$
    #    args: [--max-function-length=40]
    # #    additional_dependencies: [flake8-functions]
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system
    # -   id: check-file-length
    #     name: Check file length
    #     entry: python check_file_length.py
    #     args: ["10000"]  # set your desired maximum number of lines
    #     language: python
    #     files: litellm/.*\.py
    #     exclude: ^litellm/tests/

minor comments.
  litellm/proxy/guardrails/guardrail_hooks/acuvity.py
Due: pyright, isort

add more details about PII redaction rules.
  docs/my-website/docs/proxy/guardrails/acuvity_ai.md
Due: none

fx error response from cache ping
  litellm/proxy/caching_routes.py
Due: pyright, isort

parsedLitellmParams
  ui/litellm-dashboard/src/components/cache_health.tsx
Due: none

fix cache health check
  ui/litellm-dashboard/src/components/cache_health.tsx
Due: none

fix the readme.
  docs/my-website/docs/proxy/guardrails/acuvity_ai.md
Due: none

feat(amazon_deepseek_transformation.py): extract thinking block from deepseek r1 streaming block
  litellm/llms/bedrock/chat/invoke_handler.py
  litellm/llms/bedrock/chat/invoke_transformations/amazon_deepseek_transformation.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/hooks/parallel_request_limiter.py
  litellm/types/llms/bedrock.py
Due: pyright, isort

fix cache health page
  ui/litellm-dashboard/src/components/cache_health.tsx
Due: none

fix: suppress linting warning
  litellm/llms/bedrock/chat/invoke_transformations/amazon_deepseek_transformation.py
Due: pyright, isort

cache safely handle json dumps issues
  .pre-commit-config.yaml
  litellm/litellm_core_utils/safe_json_dumps.py
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/caching_routes.py
  tests/litellm/proxy/test_caching_routes.py
Due: pyright, isort

test caching routes
  tests/litellm/proxy/test_caching_routes.py
Due: isort

test_primitive_types
  tests/litellm/litellm_core_utils/test_safe_json_dumps.py
Due: isort

fix caching routes
  litellm/proxy/caching_routes.py
Due: pyright, isort

litellm_mapped_tests
  .circleci/config.yml
Due: none

feat(create_key_button.tsx): initial commit using openapi.json to ensure all values via api are supported on ui for `/key/generate`
  ui/litellm-dashboard/src/components/common_components/check_openapi_schema.tsx
  ui/litellm-dashboard/src/components/create_key_button.tsx
Due: none

fix pytest-mock
  .circleci/config.yml
Due: none

fix _serialize
  tests/code_coverage_tests/recursive_detector.py
Due: none

fix linting on safe dumps
  litellm/litellm_core_utils/safe_json_dumps.py
Due: pyright, isort

test_default_max_depth
  tests/litellm/litellm_core_utils/test_safe_json_dumps.py
Due: isort

style(create_key_button.tsx): put openapi settings inside 'advanced setting' accordion
  ui/litellm-dashboard/src/components/common_components/check_openapi_schema.tsx
  ui/litellm-dashboard/src/components/create_key_button.tsx
  ui/litellm-dashboard/src/components/networking.tsx
Due: none

pip install "pytest-mock==3.12.0"
  .circleci/config.yml
Due: none

fix(check_openapi_schema.tsx): style improvements for advanced settings
  ui/litellm-dashboard/src/components/common_components/check_openapi_schema.tsx
Due: none

litellm_mapped_tests_coverage
  .circleci/config.yml
Due: none

add readme on new litellm test dir
  tests/litellm/readme.md
Due: none

style(create_key_button.tsx): add tooltip explaining what the settings mean
  ui/litellm-dashboard/src/components/create_key_button.tsx
  ui/litellm-dashboard/src/components/networking.tsx
Due: none

async_batch_get_cache
  litellm/caching/redis_cache.py
Due: pyright, isort

test_batch_get_cache_with_none_keys
  tests/local_testing/test_caching.py
Due: none

async_batch_get_cache
  litellm/caching/redis_cache.py
  tests/local_testing/test_caching.py
Due: pyright, isort

fix(team_info.tsx): render metadata field on team update
  ui/litellm-dashboard/src/components/team/team_info.tsx
Due: none

use safe_duration_seconds
  litellm/integrations/prometheus.py
Due: pyright, isort

_safe_duration_seconds
  litellm/integrations/prometheus.py
Due: pyright, isort

fix(networking.tsx): add 'metadata' field to create team form
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

(UI + Proxy) Cache Health Check Page - Cleanup/Improvements (#8665)
  .circleci/config.yml
  .pre-commit-config.yaml
  litellm/litellm_core_utils/safe_json_dumps.py
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_types.py
  litellm/proxy/caching_routes.py
  litellm/proxy/proxy_config.yaml
  litellm/types/caching.py
  tests/code_coverage_tests/recursive_detector.py
  tests/litellm/litellm_core_utils/test_safe_json_dumps.py
  tests/litellm/proxy/test_caching_routes.py
  tests/litellm/readme.md
  ui/litellm-dashboard/src/components/cache_dashboard.tsx
  ui/litellm-dashboard/src/components/cache_health.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/response_time_indicator.tsx
Due: pyright, isort

refactor: cleanup dead codeblock
  ui/litellm-dashboard/src/components/organization/add_org.tsx
Due: none

fix linting error
  litellm/caching/redis_cache.py
Due: pyright, isort

fix cooldown 1 deployment
  litellm/router_utils/cooldown_handlers.py
Due: pyright, isort

fix(organization_endpoints.py): fix metadata param support on `/organization/new`
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/organization_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/organizations.tsx
Due: pyright, isort

test_single_deployment_cooldown_with_allowed_fail_policy
  tests/local_testing/test_router_cooldowns.py
Due: none
