Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

fix security issue
  ui/litellm-dashboard/package-lock.json
  ui/litellm-dashboard/package.json
Due: none

test fixes
  .circleci/config.yml
  .circleci/requirements.txt
  .github/workflows/test-linting.yml
  Makefile
Due: none

feat: add CometAPI support with config, error handling and tests
  litellm/__init__.py
  litellm/constants.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/llms/cometapi/chat/transformation.py
  litellm/llms/cometapi/common_utils.py
  litellm/main.py
  litellm/types/utils.py
  litellm/utils.py
  tests/test_litellm/llms/cometapi/chat/test_cometapi_chat_transformation.py
Due: pyright, isort, black

fix: specify type for extra_body in CometAPIConfig
  litellm/llms/cometapi/chat/transformation.py
Due: pyright, isort, black

added mcp guardrails doc in mcp.md (#13452)
  docs/my-website/docs/mcp.md
Due: none

feat(models): add OpenRouter and Cerebras GPT-OSS models (20b, 120b) with pricing and context windows; update backup; refs #13428 (#13442)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Tests for allowed origins and securities headers
  tests/test_litellm/proxy/test_allowed_origins_and_security_headers.py
  tests/test_litellm/proxy/test_configs/test_config_no_auth.yaml
Due: isort, black

Remove typo
  .env.example
Due: none

Test file indentation
  tests/test_litellm/proxy/test_allowed_origins_and_security_headers.py
Due: isort, black

docs update
  docs/my-website/release_notes/v1.74.15-stable/index.md
Due: none

docs - native prompt mgmt
  docs/my-website/docs/proxy/native_litellm_prompt.md
  docs/my-website/docs/proxy/prompt_management.md
  docs/my-website/sidebars.js
Due: none

docs - native prompt mgmt (#13463)
  docs/my-website/docs/proxy/native_litellm_prompt.md
  docs/my-website/docs/proxy/prompt_management.md
  docs/my-website/sidebars.js
Due: none

add button to reload models
  docs/my-website/docs/proxy/config_settings.md
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/test_proxy_server.py
  ui/litellm-dashboard/src/components/model_dashboard.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/price_data_reload.tsx
Due: pyright, isort, black

docs native litellm prompts
  docs/my-website/docs/proxy/native_litellm_prompt.md
Due: none

fix tests
  litellm/llms/azure/common_utils.py
  tests/test_litellm/proxy/test_proxy_server.py
Due: pyright, isort, black

Added button changes
  ui/litellm-dashboard/src/components/price_data_reload.tsx
Due: none

[LLM Translation] - Bug fix Anthropic Tool calling (#12959)
  litellm/llms/anthropic/chat/transformation.py
Due: pyright, isort, black

[Feat] Backend Router - Add Auto-Router powered by `semantic-router` (#12955)
  .circleci/config.yml
  .circleci/requirements.txt
  .github/workflows/test-litellm.yml
  litellm/integrations/custom_logger.py
  litellm/router.py
  litellm/router_strategy/auto_router/auto_router.py
  litellm/router_strategy/auto_router/litellm_encoder.py
  litellm/types/router.py
  litellm/types/utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/code_coverage_tests/liccheck.ini
  tests/local_testing/auto_router/router.json
  tests/local_testing/test_router_auto_router.py
  tests/router_unit_tests/test_router_helper_utils.py
  tests/test_litellm/router_strategy/test_auto_router.py
Due: pyright, isort, black

[Feat] UI - Allow Adding LiteLLM Auto Router on UI (#12960)
  Dockerfile
  docker/Dockerfile.database
  docker/Dockerfile.non_root
  litellm/router.py
  litellm/router_strategy/auto_router/auto_router.py
  litellm/types/router.py
  tests/router_unit_tests/test_router_helper_utils.py
  tests/test_litellm/router_strategy/test_auto_router.py
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.tsx
  ui/litellm-dashboard/src/components/add_model/add_model_modes.tsx
  ui/litellm-dashboard/src/components/add_model/add_model_tab.tsx
  ui/litellm-dashboard/src/components/add_model/handle_add_auto_router_submit.tsx
  ui/litellm-dashboard/src/components/add_model/router_config_builder.tsx
  ui/litellm-dashboard/src/components/model_dashboard.tsx
  ui/litellm-dashboard/src/components/new_usage.tsx
Due: pyright, isort, black

Proxy - specify `key_type` - allows specifying if key can call LLM API routes vs. Management routes only (#12909)
  litellm/proxy/_types.py
  litellm/proxy/auth/route_checks.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  tests/test_litellm/proxy/auth/test_route_checks.py
  ui/litellm-dashboard/src/components/create_key_button.tsx
Due: pyright, isort, black

Show global retry policy on UI (#12969)
  litellm/proxy/_new_secret_config.yaml
  litellm/router.py
  ui/litellm-dashboard/src/components/model_dashboard.tsx
Due: pyright, isort, black

ui new build
  litellm/proxy/_experimental/out/_next/static/-NrHJ0b9HqrHBQ9wRZS8v/_buildManifest.js
  litellm/proxy/_experimental/out/_next/static/-NrHJ0b9HqrHBQ9wRZS8v/_ssgManifest.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-da7668f33acbc43a.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-f64fe7b1998a3ca8.js
  litellm/proxy/_experimental/out/_next/static/css/7605cfc28cc34f61.css
  litellm/proxy/_experimental/out/_next/static/css/dd3d607f47531000.css
  litellm/proxy/_experimental/out/index.html
  litellm/proxy/_experimental/out/index.txt
  litellm/proxy/_experimental/out/model_hub.txt
  litellm/proxy/_experimental/out/model_hub_table.html
  litellm/proxy/_experimental/out/model_hub_table.txt
  litellm/proxy/_experimental/out/model_hub_table/index.html
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_experimental/out/onboarding.txt
  ui/litellm-dashboard/out/404.html
  ui/litellm-dashboard/out/_next/static/-NrHJ0b9HqrHBQ9wRZS8v/_buildManifest.js
  ui/litellm-dashboard/out/_next/static/-NrHJ0b9HqrHBQ9wRZS8v/_ssgManifest.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-da7668f33acbc43a.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-f64fe7b1998a3ca8.js
  ui/litellm-dashboard/out/_next/static/css/7605cfc28cc34f61.css
  ui/litellm-dashboard/out/_next/static/css/dd3d607f47531000.css
  ui/litellm-dashboard/out/assets/logos/cloudzero.png
  ui/litellm-dashboard/out/index.html
  ui/litellm-dashboard/out/index.txt
  ui/litellm-dashboard/out/model_hub.html
  ui/litellm-dashboard/out/model_hub.txt
  ui/litellm-dashboard/out/model_hub_table.txt
  ui/litellm-dashboard/out/onboarding.txt
Due: none

fix(auth_utils): make header comparison case-insensitive (#12950)
  litellm/proxy/auth/auth_utils.py
  tests/local_testing/test_auth_utils.py
Due: pyright, isort, black

feat: Update model pricing and context window configurations (#12910)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

pip install semantic_router --no-deps
  .circleci/config.yml
Due: none

added new realtime model for openai (#12946)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

bump: version 1.74.8 → 1.74.9
  pyproject.toml
Due: none

fix(internal_user_endpoints.py): delete member from team table on /user/delete (#12926)
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/router.py
Due: pyright, isort, black

Prometheus - tags, fix '[tag]="false"' when tag is set (#12916)
  enterprise/litellm_enterprise/integrations/prometheus.py
  litellm/proxy/_new_secret_config.yaml
  litellm/types/integrations/prometheus.py
Due: pyright, isort, black

v1.74.7-stable
  docs/my-website/release_notes/v1.74.7/index.md
Due: none

[Feat] Edit Auto Router Settings on UI (#12966)
  litellm/proxy/management_endpoints/model_management_endpoints.py
  litellm/proxy/proxy_config.yaml
  tests/router_unit_tests/test_router_helper_utils.py
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.tsx
  ui/litellm-dashboard/src/components/add_model/add_model_tab.tsx
  ui/litellm-dashboard/src/components/add_model/handle_add_auto_router_submit.tsx
  ui/litellm-dashboard/src/components/add_model/router_config_builder.tsx
  ui/litellm-dashboard/src/components/edit_auto_router/edit_auto_router_modal.tsx
  ui/litellm-dashboard/src/components/model_info_view.tsx
Due: pyright, isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
