Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^(litellm/|litellm_proxy_extras/|enterprise/)
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
        exclude: ^litellm/__init__.py$
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/|^litellm/tests/test_litellm/|^tests/test_litellm/|^tests/enterprise/
       additional_dependencies: [flake8-print]
       files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
        files: ^(pyproject.toml|litellm-proxy-extras/pyproject.toml)$
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system

test_get_tools_from_mcp_servers
  tests/mcp_tests/test_mcp_server.py
Due: none

docs access groups
  docs/my-website/docs/mcp.md
Due: none

group MCPs
  docs/my-website/docs/mcp.md
Due: none

test fix
  tests/test_litellm/proxy/_experimental/mcp_server/auth/test_user_api_key_auth_mcp.py
Due: isort, black

fix screenshots on docs
  docs/my-website/img/mcp_create_access_group.png
  docs/my-website/img/mcp_key_access_group.png
  docs/my-website/img/mcp_key_access_group.png.png
Due: none

TestMCPAccessGroupsE2E
  tests/test_litellm/proxy/_experimental/mcp_server/auth/test_user_api_key_auth_mcp.py
Due: isort, black

update img
  docs/my-website/img/mcp_key_access_group.png
Due: none

fix MCP connect
  ui/litellm-dashboard/src/components/mcp_tools/mcp_connect.tsx
Due: none

[MCP Gateway] Ensure we use the same param for specifying groups (#12561)
  docs/my-website/docs/mcp.md
  docs/my-website/img/mcp_create_access_group.png
  docs/my-website/img/mcp_key_access_group.png
  litellm/proxy/_experimental/mcp_server/auth/litellm_auth_handler.py
  litellm/proxy/_experimental/mcp_server/auth/user_api_key_auth_mcp.py
  litellm/proxy/_experimental/mcp_server/server.py
  tests/mcp_tests/test_mcp_server.py
  tests/test_litellm/proxy/_experimental/mcp_server/auth/test_user_api_key_auth_mcp.py
  ui/litellm-dashboard/src/components/mcp_tools/mcp_connect.tsx
Due: pyright, isort, black

openai.ConflictError
  tests/batches_tests/test_openai_batches_and_files.py
Due: none

docs(index.md): add new models / updated models to new release note
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs(index.md): add LLM api endpoints to release notes
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs(index.md): refactor mcp into separate section '
  docs/my-website/docs/mcp.md
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs mcp fix
  docs/my-website/docs/mcp.md
  docs/my-website/img/mcp_cost.png
Due: none

docs: doc improvements
  docs/my-website/docs/response_api.md
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs(index.md): more cleanup
  docs/my-website/docs/proxy/request_headers.md
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs(index.md): more cleanup
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs: update litellm enterprise trial link
  docs/my-website/docs/enterprise.md
  docs/my-website/docs/observability/langfuse_integration.md
  docs/my-website/docs/proxy/admin_ui_sso.md
  docs/my-website/docs/proxy/config_settings.md
  docs/my-website/docs/proxy/guardrails/quick_start.md
  docs/my-website/docs/proxy/jwt_auth_arch.md
  docs/my-website/docs/proxy/pagerduty.md
  docs/my-website/docs/proxy/prometheus.md
  docs/my-website/docs/proxy/spend_logs_deletion.md
  docs/my-website/docs/proxy/temporary_budget_increase.md
  docs/my-website/docs/proxy/virtual_keys.md
  docs/my-website/release_notes/v1.55.10/index.md
  docs/my-website/release_notes/v1.74.3-stable/index.md
  docs/my-website/static/llms-full.txt
Due: none

bump litellm enterprise pkg
  enterprise/dist/litellm_enterprise-0.1.13-py3-none-any.whl
  enterprise/dist/litellm_enterprise-0.1.13.tar.gz
  enterprise/pyproject.toml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

docs(index.md): cleanup
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs(datadog.md): add separate datadog doc
  docs/my-website/docs/observability/datadog.md
  docs/my-website/docs/proxy/logging.md
Due: none

docs(index.md): update docker version
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

docs(index.md): add screenshots for new features
  docs/my-website/img/release_notes/mcp_tool_cost_tracking.png
  docs/my-website/img/release_notes/model_hub_v2.png
  docs/my-website/release_notes/v1.74.3-stable/index.md
  litellm/proxy/_experimental/out/model_hub_table/index.html
  litellm/proxy/_experimental/out/onboarding.html
Due: none

docs(index.md): add doc links
  docs/my-website/release_notes/v1.74.3-stable/index.md
Due: none

Litellm release notes 07 12 2025 (#12563)
  docs/my-website/docs/enterprise.md
  docs/my-website/docs/mcp.md
  docs/my-website/docs/observability/datadog.md
  docs/my-website/docs/observability/langfuse_integration.md
  docs/my-website/docs/proxy/admin_ui_sso.md
  docs/my-website/docs/proxy/config_settings.md
  docs/my-website/docs/proxy/guardrails/quick_start.md
  docs/my-website/docs/proxy/jwt_auth_arch.md
  docs/my-website/docs/proxy/logging.md
  docs/my-website/docs/proxy/pagerduty.md
  docs/my-website/docs/proxy/prometheus.md
  docs/my-website/docs/proxy/request_headers.md
  docs/my-website/docs/proxy/spend_logs_deletion.md
  docs/my-website/docs/proxy/temporary_budget_increase.md
  docs/my-website/docs/proxy/virtual_keys.md
  docs/my-website/docs/response_api.md
  docs/my-website/img/release_notes/mcp_tool_cost_tracking.png
  docs/my-website/img/release_notes/model_hub_v2.png
  docs/my-website/release_notes/v1.55.10/index.md
  docs/my-website/release_notes/v1.74.3-stable/index.md
  docs/my-website/static/llms-full.txt
  litellm/proxy/_experimental/out/model_hub_table/index.html
  litellm/proxy/_experimental/out/onboarding.html
Due: none

Add pricing information for Moonshot AI's kimi-k2 model
  model_prices_and_context_window.json
Due: none

Update model name to kimi-k2-0711-preview
  model_prices_and_context_window.json
Due: none

Update moonshot_models list to match model_context JSON
  litellm/constants.py
Due: pyright, isort, black

Added json_schema to optional parameters to include a json schema for structured responses
  litellm/main.py
Due: pyright, isort, black

Update test_volcengine.py
  tests/test_litellm/llms/test_volcengine.py
Due: isort, black

Show failed token on key deletion
  litellm/proxy/management_endpoints/key_management_endpoints.py
Due: pyright, isort, black
