Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

Revert "build(deps): bump next from 14.2.26 to 15.2.4 in /ui/litellm-dashboard (#11216)"
  ui/litellm-dashboard/package-lock.json
  ui/litellm-dashboard/package.json
Due: none

Revert "(build) fix ui build"
  ui/litellm-dashboard/build_ui.sh
Due: none

test: fix test_key_generation_with_object_permission
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_team_endpoints.py
Due: isort, black

build: fix ui build
  .circleci/config.yml
Due: none

test: update test
  tests/test_litellm/secret_managers/test_secret_managers_main.py
Due: isort, black

test: fix test_user_email_metrics
  litellm/proxy/management_endpoints/key_management_endpoints.py
Due: pyright, isort, black

bump: version 1.71.2 → 1.71.3
  pyproject.toml
Due: none

test: update json
  tests/logging_callback_tests/langfuse_expected_request_body/completion.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_complex_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_langfuse_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_no_choices.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_router.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_tags.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_tags_stream.json
  tests/logging_callback_tests/langfuse_expected_request_body/complex_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/complex_metadata_2.json
  tests/logging_callback_tests/langfuse_expected_request_body/empty_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/metadata_with_function.json
  tests/logging_callback_tests/langfuse_expected_request_body/metadata_with_lock.json
  tests/logging_callback_tests/langfuse_expected_request_body/nested_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/simple_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/simple_metadata2.json
  tests/logging_callback_tests/langfuse_expected_request_body/simple_metadata3.json
Due: none

docs(cli.md): add new skip_server_startup flag
  docs/my-website/docs/proxy/cli.md
Due: none

fix: fix mutiple keyword error
  litellm/main.py
Due: pyright, isort, black

docs(helicone_integration.md): document new helicone api base param
  docs/my-website/docs/observability/helicone_integration.md
  docs/my-website/docs/proxy/config_settings.md
Due: none

Helicone base url support + fix for embedding cache hits on str input (#11211)
  docs/my-website/docs/observability/helicone_integration.md
  docs/my-website/docs/proxy/config_settings.md
  litellm/caching/caching_handler.py
  litellm/integrations/helicone.py
  litellm/proxy/_new_secret_config.yaml
  tests/local_testing/test_caching.py
  tests/test_litellm/caching/test_caching_handler.py
Due: pyright, isort, black

build(model_prices_and_context_window.json): add supports parallel function calling to all gemini models
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

fix(utils.py): support non default params for audio transcription (#11212)
  litellm/constants.py
  litellm/llms/base_llm/chat/transformation.py
  litellm/llms/openai/chat/gpt_transformation.py
  litellm/main.py
  litellm/proxy/_new_secret_config.yaml
  litellm/utils.py
  tests/logging_callback_tests/langfuse_expected_request_body/completion.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_complex_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_langfuse_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_no_choices.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_router.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_tags.json
  tests/logging_callback_tests/langfuse_expected_request_body/completion_with_tags_stream.json
  tests/logging_callback_tests/langfuse_expected_request_body/complex_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/complex_metadata_2.json
  tests/logging_callback_tests/langfuse_expected_request_body/empty_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/metadata_with_function.json
  tests/logging_callback_tests/langfuse_expected_request_body/metadata_with_lock.json
  tests/logging_callback_tests/langfuse_expected_request_body/nested_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/simple_metadata.json
  tests/logging_callback_tests/langfuse_expected_request_body/simple_metadata2.json
  tests/logging_callback_tests/langfuse_expected_request_body/simple_metadata3.json
  tests/test_litellm/llms/azure/chat/test_azure_chat_o_series_transformation.py
  tests/test_litellm/llms/nebius/test_nebius_chat_transformation.py
  tests/test_litellm/llms/nebius/test_nebius_embedding_transformation.py
  tests/test_litellm/secret_managers/test_secret_managers_main.py
  tests/test_litellm/types/test_types_utils.py
Due: pyright, isort, black

audit logs added
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/audit_logs.tsx
  ui/litellm-dashboard/src/components/view_logs/columns.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/components/view_logs/logs_utils.tsx
Due: none

build(model_prices_and_context_window.json): add supports parallel function calling to all gemini models (#11225)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

fix(key_management_endpoints.py): allow master key rotations for OSS users
  litellm/proxy/management_endpoints/key_management_endpoints.py
Due: pyright, isort, black

fix the litellm CLA reference
  docs/my-website/docs/extras/contributing_code.md
Due: none

fix: bedrock ai21 jamba models will work now
  litellm/__init__.py
Due: pyright, black

docs(image_edits.md): clarify proxy version support for image edits
  docs/my-website/docs/image_edits.md
Due: none

fix the litellm CLA reference (#11230)
  docs/my-website/docs/extras/contributing_code.md
Due: none

fix: bedrock ai21 jamba models will work now (#11233)
  litellm/__init__.py
Due: pyright, black

feat: init structure for bedrock AGENTs
  litellm/llms/bedrock/base_aws_llm.py
  litellm/llms/bedrock/chat/invoke_agent/transformation.py
  tests/llm_translation/test_bedrock_agents.py
Due: pyright, isort, black

feat: add basic routing for bedrock AGENTs
  litellm/llms/bedrock/common_utils.py
Due: pyright, isort, black

feat: add basic transforms for bedrock AGENTs
  litellm/llms/bedrock/chat/invoke_agent/transformation.py
  litellm/utils.py
  tests/llm_translation/test_bedrock_agents.py
Due: pyright, isort, black

fix: url for bedrock agent runtime
  litellm/llms/bedrock/base_aws_llm.py
  litellm/llms/bedrock/chat/invoke_agent/transformation.py
Due: pyright, isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/).*\.py and \.py$
