Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

feat(proxy): Assign default budget to auto-generated JWT teams
  docs/my-website/docs/proxy/team_budgets.md
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/management_endpoints/team_endpoints.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
Due: pyright, isort, black

Add CompactifAI provider documentation and config
  README.md
  docs/my-website/docs/providers/compactifai.md
  docs/my-website/sidebars.js
Due: none

update docs
  litellm/llms/volcengine/chat/transformation.py
  tests/test_litellm/llms/volcengine/test_volcengine.py
Due: pyright, isort, black

fix bug
  litellm/llms/volcengine/chat/transformation.py
Due: pyright, isort, black

Fix CompactifAI provider tests and implementation
  litellm/llms/compactifai/chat/transformation.py
  litellm/main.py
  tests/test_litellm/llms/compactifai/test_compactifai.py
Due: pyright, isort, black

add more test
  tests/test_litellm/llms/volcengine/test_volcengine.py
Due: isort, black

update test volcengine
  tests/test_litellm/llms/volcengine/test_volcengine.py
Due: isort, black

Update CompactifAI model references and move tests to unit test directory
  docs/my-website/docs/providers/compactifai.md
  tests/test_litellm/llms/compactifai/test_compactifai.py
Due: isort, black

fix volcengine thinking parameters missing if set disable
  litellm/llms/volcengine/chat/transformation.py
  tests/test_litellm/llms/volcengine/test_volcengine.py
Due: pyright, isort, black

fix: iscoroutine out of hot path
  litellm/utils.py
Due: pyright, isort, black

test: add unit testing
  litellm/llms/bedrock/base_aws_llm.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_bedrock_guardrails.py
Due: pyright, isort, black

fix: iscoroutine removed from hot path
  litellm/utils.py
Due: pyright, isort, black

fix(_health_endpoints.py): protect `/health/test_connection` - only allow users who are allowed to create models, to call this endpoint
  litellm/proxy/_experimental/out/model_hub_table/index.html
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/health_endpoints/_health_endpoints.py
Due: pyright, isort, black

fix(key_management_endpoints.py): include created by keys in `/key/list`
  litellm/proxy/management_endpoints/key_management_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
Due: pyright, isort, black

test: fix test
  tests/local_testing/test_completion_cost.py
Due: none

fix(utils.py): log cache_creation_tokens in prompt token details
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/types/utils.py
  tests/llm_translation/base_llm_unit_tests.py
  tests/local_testing/test_anthropic_prompt_caching.py
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: pyright, isort, black

test: add unit testing
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
Due: isort, black

test: update unit test
  tests/test_litellm/test_cost_calculator.py
Due: isort, black

fix: fix test
  tests/local_testing/test_anthropic_prompt_caching.py
Due: none

fix(anthropic/chat/transformation.py): include cache creation token count in final prompt token value
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/llms/anthropic/chat/transformation.py
  tests/llm_translation/base_llm_unit_tests.py
Due: pyright, isort, black

test: update tests
  tests/test_litellm/llms/anthropic/chat/test_anthropic_chat_transformation.py
Due: isort, black

feat(anthropic/chat/transformation.py): separate 5m vs. 1h cache creation token details for anthropic cost tracking
  litellm/llms/anthropic/chat/transformation.py
  litellm/types/utils.py
  tests/local_testing/test_anthropic_prompt_caching.py
Due: pyright, isort, black

feat(anthropic/chat/transformation.py): account for 1h vs. 5m cache creation token cost difference
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/utils.py
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: pyright, isort, black

updates in memory custom guardrail liteLLM params
  litellm/integrations/custom_guardrail.py
  litellm/proxy/guardrails/guardrail_hooks/presidio.py
Due: pyright, isort, black

test: fix test on ci/cd
  tests/test_litellm/proxy/_experimental/mcp_server/auth/test_user_api_key_auth_mcp.py
Due: isort, black

fix: replace all instances & separate concerns
  litellm/caching/redis_cache.py
  litellm/litellm_core_utils/coroutine_checker.py
  litellm/router.py
  litellm/utils.py
Due: pyright, isort, black

docs fix posthog
  docs/my-website/docs/proxy/config_settings.md
Due: none

fix: ci/cd tests + lint errors (#14646)
  enterprise/litellm_enterprise/enterprise_callbacks/pagerduty/pagerduty.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/_experimental/mcp_server/server.py
  litellm/proxy/hooks/proxy_track_cost_callback.py
  litellm/proxy/litellm_pre_call_utils.py
  litellm/proxy/openai_files_endpoints/common_utils.py
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  tests/logging_callback_tests/test_standard_logging_payload.py
  tests/otel_tests/test_prometheus.py
  tests/proxy_unit_tests/test_proxy_utils.py
Due: pyright, isort, black

added test for updating in memory guardrails
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
Due: isort, black

fix(langsmith.py): add langsmith_sampling_rate as a dynamic param
  litellm/integrations/langsmith.py
  tests/test_litellm/integrations/test_langsmith_init.py
Due: pyright, isort, black

Path conditions:
  pyright: any of: ^(litellm/|litellm_proxy_extras/|enterprise/) and \.py$
  isort: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$ and not (^litellm/__init__.py$)
  black: any of: (litellm/|litellm_proxy_extras/|enterprise/).*\.py and \.py$
