Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort, black

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^(litellm/|litellm_proxy_extras/|enterprise/)
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
        exclude: ^litellm/__init__.py$
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/|^litellm/tests/test_litellm/|^tests/test_litellm/|^tests/enterprise/
       additional_dependencies: [flake8-print]
       files: (litellm/|litellm_proxy_extras/|enterprise/).*\.py
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
        files: ^(pyproject.toml|litellm-proxy-extras/pyproject.toml)$
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system

fix pass through quick actions
  ui/litellm-dashboard/src/components/pass_through_settings.tsx
Due: none

feat(internal_user_endpoints.py): allow passing team-specific details when creating new user with team
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
Due: pyright, isort, black

[Feat] Passthrough - Add support for setting custom cost per pass through request (#11870)
  litellm/proxy/_types.py
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  litellm/proxy/pass_through_endpoints/success_handler.py
  litellm/types/passthrough_endpoints/pass_through_endpoints.py
  tests/test_litellm/proxy/pass_through_endpoints/test_pass_through_endpoints.py
  ui/litellm-dashboard/src/components/add_pass_through.tsx
  ui/litellm-dashboard/src/components/pass_through_settings.tsx
Due: pyright, isort, black

[Fix] SCIM - Add SCIM PATCH and PUT Ops for Users (#11863)
  litellm/proxy/management_endpoints/scim/scim_errors.py
  litellm/proxy/management_endpoints/scim/scim_transformations.py
  litellm/proxy/management_endpoints/scim/scim_v2.py
  litellm/proxy/management_endpoints/scim/utils.py
  litellm/types/proxy/management_endpoints/scim_v2.py
  tests/test_litellm/proxy/management_endpoints/scim/test_scim_patch_user.py
  tests/test_litellm/proxy/management_endpoints/scim/test_scim_v2_endpoints.py
Due: pyright, isort, black

[UI] - Move passthrough endpoints under Models + Endpoints (#11871)
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  ui/litellm-dashboard/src/components/add_pass_through.tsx
  ui/litellm-dashboard/src/components/leftnav.tsx
  ui/litellm-dashboard/src/components/model_dashboard.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/pass_through_info.tsx
  ui/litellm-dashboard/src/components/pass_through_settings.tsx
Due: pyright, isort, black

fixes test scimv2
  tests/test_litellm/proxy/management_endpoints/scim/test_scim_v2_endpoints.py
Due: isort, black

feat(internal_user_endpoints.py): support for setting team values in default internal user params
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/management_endpoints/internal_user_endpoints.py
Due: pyright, isort, black

fixes for pt tracing
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  litellm/proxy/proxy_config.yaml
Due: pyright, isort, black

test(test_internal_user_endpoints.py): add unit tests
  tests/test_litellm/proxy/management_endpoints/test_internal_user_endpoints.py
Due: isort, black

test_pass_through_request_contains_proxy_server_request_in_kwargs
  tests/test_litellm/proxy/pass_through_endpoints/test_pass_through_endpoints.py
Due: isort, black

Fix gemini 2.5 flash config (#11830)
  model_prices_and_context_window.json
Due: none

add host to add modal
  litellm/proxy/_types.py
Due: pyright, isort, black

feat(ui/): allow setting default team on admin UI
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  ui/litellm-dashboard/src/components/SSOSettings.tsx
Due: pyright, isort, black

[Bug Fix] - Ensure "Request" is tracked for pass through requests on LiteLLM Proxy (#11873)
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  litellm/proxy/proxy_config.yaml
  tests/test_litellm/proxy/pass_through_endpoints/test_pass_through_endpoints.py
Due: pyright, isort, black

fix(internal_user_endpoints.py): fix exception check
  litellm/proxy/management_endpoints/internal_user_endpoints.py
Due: pyright, isort, black

test_handle_team_membership_changes_add_teams
  tests/test_litellm/proxy/management_endpoints/scim/test_scim_v2_endpoints.py
Due: isort, black

test: add more unit tests
  tests/code_coverage_tests/litellm_logging_code_coverage.py
  tests/test_litellm/litellm_core_utils/test_litellm_logging.py
Due: isort, black

Litellm dev 06 18 2025 p1 (#11872)
  litellm/__init__.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/llms/azure_ai/chat/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  litellm/router.py
  tests/code_coverage_tests/litellm_logging_code_coverage.py
  tests/llm_translation/test_azure_ai.py
  tests/test_litellm/litellm_core_utils/test_litellm_logging.py
  tests/test_litellm/llms/azure_ai/chat/test_azure_ai_transformation.py
  tests/test_litellm/test_router.py
Due: pyright, isort, black

UI - allow setting default team for new users (#11874)
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_internal_user_endpoints.py
  ui/litellm-dashboard/src/components/SSOSettings.tsx
Due: pyright, isort, black

Revert "UI - allow setting default team for new users (#11874)"
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_internal_user_endpoints.py
  ui/litellm-dashboard/src/components/SSOSettings.tsx
Due: pyright, isort, black

Revert "UI - allow setting default team for new users (#11874)" (#11876)
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_internal_user_endpoints.py
  ui/litellm-dashboard/src/components/SSOSettings.tsx
Due: pyright, isort, black

Revert "Revert "UI - allow setting default team for new users (#11874)" (#11876)"
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_internal_user_endpoints.py
  ui/litellm-dashboard/src/components/SSOSettings.tsx
Due: pyright, isort, black

Revert "Revert "UI - allow setting default team for new users (#11874)" (#11876)" (#11877)
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_internal_user_endpoints.py
  ui/litellm-dashboard/src/components/SSOSettings.tsx
Due: pyright, isort, black

docs(litellm_logging_code_coverage.py): fix check
  litellm/model_prices_and_context_window_backup.json
  tests/code_coverage_tests/litellm_logging_code_coverage.py
Due: none

test scim
  tests/test_litellm/proxy/management_endpoints/scim/test_scim_patch_user.py
Due: isort, black
