Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

fix: remove unused import
  litellm/proxy/db/prisma_client.py
Due: pyright, isort

docs prompt mgtm
  docs/my-website/docs/proxy/prompt_management.md
Due: none

fix(litellm_proxy/chat/transformation.py): support 'thinking' param
  litellm/llms/litellm_proxy/chat/transformation.py
Due: pyright, isort

feat(azure/gpt_transformation.py): add azure audio model support
  litellm/llms/azure/chat/gpt_transformation.py
  litellm/llms/openai/chat/gpt_transformation.py
  tests/llm_translation/test_optional_params.py
Due: pyright, isort

define CustomPromptManagement
  litellm/integrations/custom_prompt_management.py
Due: pyright, isort

example X42PromptManagement
  litellm/proxy/custom_prompt_management.py
Due: pyright, isort

fix(utils.py): use provider_config in common functions
  litellm/litellm_core_utils/get_supported_openai_params.py
  litellm/utils.py
  tests/llm_translation/test_optional_params.py
Due: pyright, isort

get_custom_loggers_for_type
  litellm/litellm_core_utils/logging_callback_manager.py
Due: pyright, isort

CustomPromptManagement
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/proxy_config.yaml
Due: pyright, isort

fix(utils.py): add missing provider configs to get_chat_provider_config
  litellm/llms/vertex_ai/vertex_ai_partner_models/ai21/transformation.py
  litellm/utils.py
  tests/litellm_utils_tests/test_supports_tool_choice.py
Due: pyright, isort

test: fix test
  tests/llm_translation/test_max_completion_tokens.py
Due: none

fix: fix path
  tests/litellm_utils_tests/test_supports_tool_choice.py
Due: none

get_custom_logger_for_prompt_management
  litellm/litellm_core_utils/litellm_logging.py
Due: pyright, isort

TestCustomPromptManagement
  tests/litellm/integrations/test_custom_prompt_management.py
Due: isort

docs custom prompt management
  docs/my-website/docs/proxy/custom_prompt_management.md
Due: none

Handle empty valid_deployments in LowestLatencyLoggingHandler
  litellm/router_strategy/lowest_latency.py
Due: pyright, isort

feat(utils.py): make bedrock invoke nova config baseconfig compatible
  litellm/llms/bedrock/chat/converse_transformation.py
  litellm/llms/bedrock/chat/invoke_transformations/amazon_nova_transformation.py
  litellm/utils.py
Due: pyright, isort

fix: fix linting errors
  litellm/llms/anthropic/chat/handler.py
  litellm/llms/custom_httpx/aiohttp_handler.py
  litellm/llms/custom_httpx/llm_http_handler.py
Due: pyright, isort

DELETE /team/{team_id:path}/callback/{callback_name}
  litellm/proxy/management_endpoints/team_callback_endpoints.py
Due: pyright, isort

Revert "Fix latency redis"
  litellm/router_strategy/lowest_latency.py
Due: pyright, isort

Path conditions:
  pyright: any of: ^litellm/ and \.py$
  isort: any of: litellm/.*\.py and \.py$ and not (^litellm/__init__.py$)
