Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

Revert "(bug fix) - don't log messages, prompt, input in `model_parameters` in StandardLoggingPayload (#8923)"
  litellm/litellm_core_utils/litellm_logging.py
  litellm/types/utils.py
  tests/litellm/litellm_core_utils/test_litellm_logging.py
Due: pyright, isort

define model param helper
  litellm/litellm_core_utils/model_param_helper.py
Due: pyright, isort

use ModelParamHelper
  litellm/caching/caching.py
Due: pyright, isort

get_standard_logging_model_parameters
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/model_param_helper.py
  litellm/types/utils.py
Due: pyright, isort

fix code quality
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/model_param_helper.py
Due: pyright, isort

get_standard_logging_model_parameters
  litellm/litellm_core_utils/dd_tracing.py
  litellm/litellm_core_utils/model_param_helper.py
  litellm/types/utils.py
Due: pyright, isort

StandardLoggingPayload
  litellm/types/utils.py
Due: pyright, isort

fix use frozen set for provider models
  litellm/__init__.py
  litellm/constants.py
Due: pyright, isort

test_get_kwargs_for_cache_key
  tests/local_testing/test_unit_test_caching.py
Due: none

test_langsmith_key_based_logging
  tests/logging_callback_tests/test_langsmith_unit_test.py
Due: none

fix code qa
  litellm/caching/caching.py
  litellm/litellm_core_utils/dd_tracing.py
Due: pyright, isort

fix linting
  litellm/litellm_core_utils/dd_tracing.py
Due: pyright, isort

(Bug fix) - don't log messages in `model_parameters` in StandardLoggingPayload (#8932)
  litellm/caching/caching.py
  litellm/litellm_core_utils/dd_tracing.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/model_param_helper.py
  tests/local_testing/test_unit_test_caching.py
  tests/logging_callback_tests/test_langsmith_unit_test.py
Due: pyright, isort

_add_proxy_server_request_to_metadata
  litellm/proxy/spend_tracking/spend_tracking_utils.py
Due: pyright, isort

test spend logs
  tests/logging_callback_tests/test_spend_logs.py
Due: none

change to sidebar
  docs/my-website/sidebars.js
Due: none

litellm_stable_release_branch
  tests/proxy_unit_tests/test_db_schema_changes.py
Due: none

ui fix leftnav, allow internal users to view their own logs
  ui/litellm-dashboard/src/components/leftnav.tsx
Due: none

pass user_id in uiSpendLogs call
  ui/litellm-dashboard/src/components/networking.tsx
Due: none

ui filter logs for internal user
  ui/litellm-dashboard/src/components/leftnav.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/utils/roles.ts
Due: none

fix internal users page
  ui/litellm-dashboard/src/components/view_logs/index.tsx
Due: none

ui show correct message when store prompts is disabled
  ui/litellm-dashboard/src/components/view_logs/ConfigInfoMessage.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
Due: none

fix internal user logs
  ui/litellm-dashboard/src/components/view_logs/index.tsx
Due: none

test_ui_view_spend_logs_with_user_id
  tests/litellm/proxy/spend_tracking/test_spend_management_endpoints.py
Due: isort

fix(prometheus.py): fix prometheus team metric to handle custom metrics
  litellm/integrations/prometheus.py
  litellm/proxy/_new_secret_config.yaml
  litellm/router.py
Due: pyright, isort

test spend management endpoint
  tests/litellm/proxy/spend_tracking/test_spend_management_endpoints.py
Due: isort

test_async_post_call_failure_hook
  tests/litellm/proxy/hooks/test_proxy_track_cost_callback.py
Due: isort

fix(prometheus.py): fix prometheus metrics to handle custom metadata + team id
  litellm/integrations/prometheus.py
  tests/logging_callback_tests/test_prometheus_unit_tests.py
Due: pyright, isort

(UI) Error Logs improvements - Store Raw proxy server request for success and failure (#8917)
  litellm/proxy/_types.py
  litellm/proxy/hooks/proxy_track_cost_callback.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  tests/litellm/proxy/hooks/test_proxy_track_cost_callback.py
  tests/logging_callback_tests/test_spend_logs.py
  ui/litellm-dashboard/src/components/view_logs/index.tsx
Due: pyright, isort

(UI) - Allow Internal Users to View their own logs (#8933)
  tests/litellm/proxy/spend_tracking/test_spend_management_endpoints.py
  ui/litellm-dashboard/src/components/leftnav.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_logs/ConfigInfoMessage.tsx
  ui/litellm-dashboard/src/components/view_logs/index.tsx
  ui/litellm-dashboard/src/utils/roles.ts
Due: isort

Path conditions:
  pyright: any of: ^litellm/ and \.py$
  isort: any of: litellm/.*\.py and \.py$ and not (^litellm/__init__.py$)
