Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

pyright:
  name: pyright
  entry: pyright
  language: system

isort:
  name: isort
  entry: isort
  language: system

test_responses_api_routing_with_previous_response_id
  tests/llm_responses_api_testing/test_azure_responses_api.py
Due: none

test(test_key_management_endpoints.py): add unit test
  tests/litellm/proxy/management_endpoints/test_key_management_endpoints.py
Due: isort

add ResponsesApiDeploymentCheck
  litellm/router_utils/pre_call_checks/responses_api_deployment_check.py
Due: pyright, isort

fix(user_dashboard.tsx): initial commit using user id from jwt instead of url
  ui/litellm-dashboard/src/app/page.tsx
  ui/litellm-dashboard/src/components/user_dashboard.tsx
Due: none

fix(proxy_server.py): remove user id from url
  litellm/proxy/management_endpoints/ui_sso.py
  litellm/proxy/proxy_server.py
  tests/proxy_admin_ui_tests/test_sso_sign_in.py
  ui/litellm-dashboard/src/app/onboarding/page.tsx
Due: pyright, isort

test: update test
  tests/store_model_in_db_tests/test_adding_passthrough_model.py
Due: none

fix(user_dashboard.tsx): handle user id being null
  ui/litellm-dashboard/src/components/user_dashboard.tsx
Due: none

fix(router.py): handle edge case where user sets 'model_group' inside… (#10191)
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/router.py
  tests/litellm/proxy/management_endpoints/test_key_management_endpoints.py
  tests/litellm/test_router.py
  tests/store_model_in_db_tests/test_adding_passthrough_model.py
Due: pyright, isort

ResponsesApiDeploymentCheck
  litellm/router_utils/pre_call_checks/responses_api_deployment_check.py
Due: pyright, isort

Remove user_id from url (#10192)
  litellm/proxy/management_endpoints/ui_sso.py
  litellm/proxy/proxy_server.py
  tests/proxy_admin_ui_tests/test_sso_sign_in.py
  ui/litellm-dashboard/src/app/onboarding/page.tsx
  ui/litellm-dashboard/src/app/page.tsx
  ui/litellm-dashboard/src/components/user_dashboard.tsx
Due: pyright, isort

build: update ui build
  litellm/proxy/_experimental/out/_next/static/FPIQgzUY81b7nl8zNun4_/_buildManifest.js
  litellm/proxy/_experimental/out/_next/static/FPIQgzUY81b7nl8zNun4_/_ssgManifest.js
  litellm/proxy/_experimental/out/_next/static/chunks/261-57d48f76eec1e568.js
  litellm/proxy/_experimental/out/_next/static/chunks/261-d4b99bc9f53d4ef3.js
  litellm/proxy/_experimental/out/_next/static/chunks/42-59f99bfbf676f282.js
  litellm/proxy/_experimental/out/_next/static/chunks/860-c1d8f124df444312.js
  litellm/proxy/_experimental/out/_next/static/chunks/860-f3fd09a62072320e.js
  litellm/proxy/_experimental/out/_next/static/chunks/899-9af4feaf6f21839c.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/onboarding/page-4f4c436bd23d48a0.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/onboarding/page-82b2525e758a7201.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-4b5f6fba36cb8659.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-8f2fcc2af91a32fd.js
  litellm/proxy/_experimental/out/index.html
  litellm/proxy/_experimental/out/index.txt
  litellm/proxy/_experimental/out/model_hub.txt
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_experimental/out/onboarding.txt
  ui/litellm-dashboard/out/404.html
  ui/litellm-dashboard/out/_next/static/FPIQgzUY81b7nl8zNun4_/_buildManifest.js
  ui/litellm-dashboard/out/_next/static/FPIQgzUY81b7nl8zNun4_/_ssgManifest.js
  ui/litellm-dashboard/out/_next/static/chunks/261-57d48f76eec1e568.js
  ui/litellm-dashboard/out/_next/static/chunks/261-d4b99bc9f53d4ef3.js
  ui/litellm-dashboard/out/_next/static/chunks/42-59f99bfbf676f282.js
  ui/litellm-dashboard/out/_next/static/chunks/860-c1d8f124df444312.js
  ui/litellm-dashboard/out/_next/static/chunks/860-f3fd09a62072320e.js
  ui/litellm-dashboard/out/_next/static/chunks/899-9af4feaf6f21839c.js
  ui/litellm-dashboard/out/_next/static/chunks/app/onboarding/page-4f4c436bd23d48a0.js
  ui/litellm-dashboard/out/_next/static/chunks/app/onboarding/page-82b2525e758a7201.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-4b5f6fba36cb8659.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-8f2fcc2af91a32fd.js
  ui/litellm-dashboard/out/index.html
  ui/litellm-dashboard/out/index.txt
  ui/litellm-dashboard/out/model_hub.html
  ui/litellm-dashboard/out/model_hub.txt
  ui/litellm-dashboard/out/onboarding.html
  ui/litellm-dashboard/out/onboarding.txt
Due: none

style(internal_user_endpoints.py): add response model to `/user/list` endpoint
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/types/proxy/management_endpoints/internal_user_endpoints.py
Due: pyright, isort

ResponsesApiDeploymentCheck
  litellm/router.py
  litellm/types/router.py
Due: pyright, isort

fix ResponsesApiDeploymentCheck
  litellm/router_utils/pre_call_checks/responses_api_deployment_check.py
Due: pyright, isort

fix(key_management_endpoints.py): return 'created_at' and 'updated_at' on `/key/generate`
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
Due: pyright, isort

test(test_keys.py): add e2e test to ensure created at is always returned
  tests/test_keys.py
Due: none

fix(view_users.tsx): support global search by user email
  ui/litellm-dashboard/src/components/view_users.tsx
Due: none

test_responses_api_deployment_check.py
  tests/litellm/router_utils/pre_call_checks/test_responses_api_deployment_check.py
  tests/llm_responses_api_testing/test_azure_responses_api.py
Due: isort

test(search_users.spec.ts): add e2e test ensure user search works on admin ui
  test-results/.last-run.json
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
  tests/proxy_admin_ui_tests/test-results/.last-run.json
Due: none

docs routing affinity
  docs/my-website/docs/response_api.md
  litellm/proxy/proxy_config.yaml
Due: none

Feature - infinity support for #8764 (#10009)
  .env.example
  .gitignore
  docs/my-website/docs/providers/infinity.md
  litellm/__init__.py
  litellm/litellm_core_utils/get_supported_openai_params.py
  litellm/llms/infinity/common_utils.py
  litellm/llms/infinity/embedding/handler.py
  litellm/llms/infinity/embedding/transformation.py
  litellm/llms/infinity/rerank/transformation.py
  litellm/main.py
  litellm/utils.py
  tests/llm_translation/test_infinity.py
Due: pyright, isort

fix(view_users.tsx): support filtering user by role and user id
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
Due: pyright, isort

ensure passthrough_logging_payload is filled in kwargs
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  litellm/proxy/pass_through_endpoints/success_handler.py
  litellm/types/passthrough_endpoints/pass_through_endpoints.py
Due: pyright, isort

fix(view_users.tsx): allow filtering users by team
  ui/litellm-dashboard/src/components/view_users.tsx
Due: none

test_assistants_passthrough_logging
  tests/pass_through_unit_tests/test_custom_logger_passthrough.py
Due: none

style(view_users.tsx): cleanup ui to show filters in consistent style
  ui/litellm-dashboard/src/components/view_users.tsx
Due: none

test_assistants_passthrough_logging
  litellm/llms/anthropic/experimental_pass_through/messages/handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/anthropic_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/assembly_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/base_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/streaming_handler.py
  tests/pass_through_unit_tests/test_custom_logger_passthrough.py
  tests/pass_through_unit_tests/test_pass_through_unit_tests.py
  tests/pass_through_unit_tests/test_unit_test_streaming.py
Due: pyright, isort

test_assistants_passthrough_logging
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  litellm/types/passthrough_endpoints/pass_through_endpoints.py
  tests/pass_through_unit_tests/test_custom_logger_passthrough.py
Due: pyright, isort

test_threads_passthrough_logging
  tests/pass_through_unit_tests/test_custom_logger_passthrough.py
Due: none

Path conditions:
  pyright: any of: ^litellm/ and \.py$
  isort: any of: litellm/.*\.py and \.py$ and not (^litellm/__init__.py$)
