Repository BerriAI/litellm: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, isort

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        files: ^litellm/
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        files: litellm/.*\.py
        exclude: ^litellm/__init__.py$
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0  # The version of flake8 to use
    hooks:
    -  id: flake8
       exclude: ^litellm/tests/|^litellm/proxy/tests/
       additional_dependencies: [flake8-print]
       files: litellm/.*\.py
    # -  id: flake8
    #    name: flake8 (router.py function length)
    #    files: ^litellm/router\.py$
    #    args: [--max-function-length=40]
    # #    additional_dependencies: [flake8-functions]
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
-   repo: local
    hooks:
    -   id: check-files-match
        name: Check if files match
        entry: python3 ci_cd/check_files_match.py
        language: system
    # -   id: check-file-length
    #     name: Check file length
    #     entry: python check_file_length.py
    #     args: ["10000"]  # set your desired maximum number of lines
    #     language: python
    #     files: litellm/.*\.py
    #     exclude: ^litellm/tests/

Litellm dev 04 22 2025 p1 (#10206)
  litellm/integrations/datadog/datadog_llm_obs.py
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/llms/openai/responses/transformation.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/proxy_server.py
  litellm/responses/streaming_iterator.py
  litellm/types/integrations/datadog_llm_obs.py
  litellm/types/llms/openai.py
  tests/litellm/litellm_core_utils/prompt_templates/test_litellm_core_utils_prompt_templates_common_utils.py
  tests/litellm/llms/openai/responses/test_openai_responses_transformation.py
  tests/litellm/types/llms/test_types_llms_openai.py
  tests/llm_translation/test_openai.py
Due: pyright, isort

test: update test to skip 'gemini-pro' - model deprecated
  tests/local_testing/test_amazing_vertex_completion.py
Due: none

Require authentication for all Dashboard pages
  ui/litellm-dashboard/package-lock.json
  ui/litellm-dashboard/package.json
  ui/litellm-dashboard/src/app/page.tsx
  ui/litellm-dashboard/src/components/ui/ui-loading-spinner.tsx
  ui/litellm-dashboard/src/hooks/use-safe-layout-effect.ts
  ui/litellm-dashboard/src/lib/cva.config.ts
Due: none

create key table render fix
  ui/litellm-dashboard/src/app/page.tsx
  ui/litellm-dashboard/src/components/create_key_button.tsx
  ui/litellm-dashboard/src/components/key_team_helpers/key_list.tsx
  ui/litellm-dashboard/src/components/user_dashboard.tsx
  ui/litellm-dashboard/src/components/view_key_table.tsx
Due: none

fix _process_image_response
  litellm/litellm_core_utils/prompt_templates/image_handling.py
Due: pyright, isort

Add test
  ui/litellm-dashboard/out/404.html
  ui/litellm-dashboard/out/_next/static/chunks/117-1c5bfc45bfc4237d.js
  ui/litellm-dashboard/out/_next/static/chunks/250-7d480872c0e251dc.js
  ui/litellm-dashboard/out/_next/static/chunks/250-a927a558002d8fb9.js
  ui/litellm-dashboard/out/_next/static/chunks/261-57d48f76eec1e568.js
  ui/litellm-dashboard/out/_next/static/chunks/261-ee7f0f1f1c8c22a0.js
  ui/litellm-dashboard/out/_next/static/chunks/3014691f-b7b79b78e27792f3.js
  ui/litellm-dashboard/out/_next/static/chunks/42-59f99bfbf676f282.js
  ui/litellm-dashboard/out/_next/static/chunks/42-69f5b4e6a9942a9f.js
  ui/litellm-dashboard/out/_next/static/chunks/466-65538e7f331af98e.js
  ui/litellm-dashboard/out/_next/static/chunks/699-2176ba2273e4676d.js
  ui/litellm-dashboard/out/_next/static/chunks/860-c1d8f124df444312.js
  ui/litellm-dashboard/out/_next/static/chunks/899-57685cedd1dcbc78.js
  ui/litellm-dashboard/out/_next/static/chunks/899-9af4feaf6f21839c.js
  ui/litellm-dashboard/out/_next/static/chunks/app/_not-found/page-3b0daafcbe368586.js
  ui/litellm-dashboard/out/_next/static/chunks/app/layout-311f9b6ff79980ae.js
  ui/litellm-dashboard/out/_next/static/chunks/app/layout-429ad74a94df7643.js
  ui/litellm-dashboard/out/_next/static/chunks/app/model_hub/page-a965e43ba9638156.js
  ui/litellm-dashboard/out/_next/static/chunks/app/model_hub/page-cde2fb783e81a6c1.js
  ui/litellm-dashboard/out/_next/static/chunks/app/onboarding/page-4f4c436bd23d48a0.js
  ui/litellm-dashboard/out/_next/static/chunks/app/onboarding/page-9598003bc1e91371.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-36914b80c40b5032.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-8f2fcc2af91a32fd.js
  ui/litellm-dashboard/out/_next/static/chunks/fd9d1056-205af899b895cbac.js
  ui/litellm-dashboard/out/_next/static/chunks/main-app-2b16cdb7ff4e1af7.js
  ui/litellm-dashboard/out/_next/static/chunks/main-app-4f7318ae681a6d94.js
  ui/litellm-dashboard/out/_next/static/css/005c96178151b9fd.css
  ui/litellm-dashboard/out/_next/static/css/3da1b0cfa7d4e161.css
  ui/litellm-dashboard/out/_next/static/fzhvjOFL6KeNsWYrLD4ya/_buildManifest.js
  ui/litellm-dashboard/out/_next/static/fzhvjOFL6KeNsWYrLD4ya/_ssgManifest.js
  ui/litellm-dashboard/out/index.html
  ui/litellm-dashboard/out/index.txt
  ui/litellm-dashboard/out/model_hub.html
  ui/litellm-dashboard/out/model_hub.txt
  ui/litellm-dashboard/out/onboarding.html
  ui/litellm-dashboard/out/onboarding.txt
Due: none

Add test
  litellm/proxy/_experimental/out/_next/static/chunks/117-1c5bfc45bfc4237d.js
  litellm/proxy/_experimental/out/_next/static/chunks/250-7d480872c0e251dc.js
  litellm/proxy/_experimental/out/_next/static/chunks/250-a927a558002d8fb9.js
  litellm/proxy/_experimental/out/_next/static/chunks/261-57d48f76eec1e568.js
  litellm/proxy/_experimental/out/_next/static/chunks/261-ee7f0f1f1c8c22a0.js
  litellm/proxy/_experimental/out/_next/static/chunks/3014691f-b7b79b78e27792f3.js
  litellm/proxy/_experimental/out/_next/static/chunks/42-59f99bfbf676f282.js
  litellm/proxy/_experimental/out/_next/static/chunks/42-69f5b4e6a9942a9f.js
  litellm/proxy/_experimental/out/_next/static/chunks/466-65538e7f331af98e.js
  litellm/proxy/_experimental/out/_next/static/chunks/699-2176ba2273e4676d.js
  litellm/proxy/_experimental/out/_next/static/chunks/860-c1d8f124df444312.js
  litellm/proxy/_experimental/out/_next/static/chunks/899-57685cedd1dcbc78.js
  litellm/proxy/_experimental/out/_next/static/chunks/899-9af4feaf6f21839c.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/_not-found/page-3b0daafcbe368586.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/layout-311f9b6ff79980ae.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/layout-429ad74a94df7643.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/model_hub/page-a965e43ba9638156.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/model_hub/page-cde2fb783e81a6c1.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/onboarding/page-4f4c436bd23d48a0.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/onboarding/page-9598003bc1e91371.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-36914b80c40b5032.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-8f2fcc2af91a32fd.js
  litellm/proxy/_experimental/out/_next/static/chunks/fd9d1056-205af899b895cbac.js
  litellm/proxy/_experimental/out/_next/static/chunks/main-app-2b16cdb7ff4e1af7.js
  litellm/proxy/_experimental/out/_next/static/chunks/main-app-4f7318ae681a6d94.js
  litellm/proxy/_experimental/out/_next/static/css/005c96178151b9fd.css
  litellm/proxy/_experimental/out/_next/static/css/3da1b0cfa7d4e161.css
  litellm/proxy/_experimental/out/_next/static/fzhvjOFL6KeNsWYrLD4ya/_buildManifest.js
  litellm/proxy/_experimental/out/_next/static/fzhvjOFL6KeNsWYrLD4ya/_ssgManifest.js
  litellm/proxy/_experimental/out/index.html
  litellm/proxy/_experimental/out/index.txt
  litellm/proxy/_experimental/out/model_hub.txt
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_experimental/out/onboarding.txt
  tests/proxy_admin_ui_tests/e2e_ui_tests/redirect-fail-screenshot.png
  tests/proxy_admin_ui_tests/e2e_ui_tests/require_auth_for_dashboard.spec.ts
  tests/proxy_admin_ui_tests/test-results/.last-run.json
Due: none

bump: version 1.67.1 → 1.67.2
  pyproject.toml
Due: none

Users page - new user info pane (#10213)
  tests/proxy_admin_ui_tests/e2e_ui_tests/view_user_info.spec.ts
  tests/proxy_admin_ui_tests/utils/login.ts
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
  ui/litellm-dashboard/src/components/view_users/user_info_view.tsx
Due: none

[Feat] Add Support for DELETE /v1/responses/{response_id} on OpenAI, Azure OpenAI (#10205)
  litellm/llms/azure/responses/transformation.py
  litellm/llms/base_llm/responses/transformation.py
  litellm/llms/custom_httpx/http_handler.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/openai/responses/transformation.py
  litellm/responses/main.py
  litellm/responses/streaming_iterator.py
  litellm/responses/utils.py
  litellm/router_utils/pre_call_checks/responses_api_deployment_check.py
  litellm/types/responses/main.py
  litellm/types/utils.py
  litellm/utils.py
  tests/litellm/llms/openai/responses/test_openai_responses_transformation.py
  tests/llm_responses_api_testing/base_responses_api.py
  tests/llm_responses_api_testing/test_anthropic_responses_api.py
Due: pyright, isort

docs agent ops logging
  docs/my-website/docs/proxy/config_settings.md
Due: none

feat: Added Missing Attributes For Arize & Phoenix Integration (#10043) (#10215)
  litellm/integrations/_types/open_inference.py
  litellm/integrations/arize/_utils.py
  tests/litellm/integrations/arize/test_arize_utils.py
  tests/logging_callback_tests/test_arize_logging.py
Due: pyright, isort

fix test
  tests/llm_responses_api_testing/test_openai_responses_api.py
Due: none

Add global filtering to Users tab (#10195)
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/types/proxy/management_endpoints/internal_user_endpoints.py
  test-results/.last-run.json
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
  tests/proxy_admin_ui_tests/e2e_ui_tests/view_internal_user.spec.ts
  tests/proxy_admin_ui_tests/test-results/.last-run.json
  tests/test_keys.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
Due: pyright, isort

Bug Fix - Address deprecation of open_text (#10208)
  litellm/utils.py
Due: pyright, isort

fix azure/computer-use-preview native streaming
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

UI - Users page - Enable global sorting (allows finding users with highest spend) (#10211)
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/litellm/proxy/management_endpoints/test_internal_user_endpoints.py
  tests/proxy_admin_ui_tests/e2e_ui_tests/search_users.spec.ts
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/view_users.tsx
  ui/litellm-dashboard/src/components/view_users/table.tsx
Due: pyright, isort

fix(internal_user_endpoints.py): add check on sortby value
  litellm/proxy/management_endpoints/internal_user_endpoints.py
Due: pyright, isort

Add AgentOps Integration to LiteLLM (#9685)
  docs/my-website/docs/observability/agentops_integration.md
  docs/my-website/sidebars.js
  litellm/__init__.py
  litellm/integrations/agentops/__init__.py
  litellm/integrations/agentops/agentops.py
  litellm/litellm_core_utils/litellm_logging.py
  poetry.lock
  pyproject.toml
  tests/litellm/integrations/test_agentops.py
Due: pyright, isort

fix failing agent ops test
  tests/logging_callback_tests/test_unit_tests_init_callbacks.py
Due: none

add test
  litellm/litellm_core_utils/prompt_templates/image_handling.py
  tests/llm_translation/test_prompt_factory.py
Due: pyright, isort

Discard duplicate sentence
  security.md
Due: none

Fix typos
  docs/my-website/docs/completion/audio.md
  docs/my-website/docs/completion/document_understanding.md
  docs/my-website/docs/completion/vision.md
  docs/my-website/docs/observability/greenscale_integration.md
  docs/my-website/docs/observability/langfuse_integration.md
  docs/my-website/docs/pass_through/vertex_ai.md
  docs/my-website/docs/providers/anthropic.md
  docs/my-website/docs/providers/azure.md
  docs/my-website/docs/providers/vertex.md
  docs/my-website/docs/proxy/admin_ui_sso.md
  docs/my-website/docs/proxy/alerting.md
  docs/my-website/docs/proxy/custom_pricing.md
  docs/my-website/docs/proxy/db_deadlocks.md
  docs/my-website/docs/proxy/deploy.md
  docs/my-website/docs/proxy/enterprise.md
  docs/my-website/docs/proxy/guardrails/quick_start.md
  docs/my-website/docs/proxy/logging.md
  docs/my-website/docs/proxy/prod.md
  docs/my-website/docs/proxy/temporary_budget_increase.md
  docs/my-website/docs/proxy/ui_credentials.md
  docs/my-website/docs/proxy/virtual_keys.md
  docs/my-website/docs/simple_proxy_old_doc.md
  docs/my-website/docs/tutorials/compare_llms.md
  docs/my-website/docs/tutorials/gradio_integration.md
Due: none

remove unused imports
  litellm/proxy/utils.py
Due: pyright, isort

load env in test
  tests/litellm/proxy/common_utils/test_integration_reset_enduser_spend.py
Due: isort

Added get responses API
  litellm/llms/base_llm/responses/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/openai/responses/transformation.py
  litellm/responses/main.py
  tests/llm_responses_api_testing/base_responses_api.py
Due: pyright, isort

Discard duplicate sentence (#10231)
  security.md
Due: none

Added get responses API (#10234)
  litellm/llms/base_llm/responses/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/openai/responses/transformation.py
  litellm/responses/main.py
  tests/llm_responses_api_testing/base_responses_api.py
Due: pyright, isort

test_basic_openai_responses_get_endpoint
  tests/llm_responses_api_testing/test_anthropic_responses_api.py
Due: none

transform_get_response_api_request
  litellm/llms/azure/responses/transformation.py
Due: pyright, isort

add GET, DELETE responses API endpoints
  litellm/proxy/common_request_processing.py
  litellm/proxy/response_api_endpoints/endpoints.py
  litellm/proxy/route_llm_request.py
  litellm/router.py
Due: pyright, isort
