Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

docs msft SSO
  docs/my-website/docs/tutorials/msft_sso.md
Due: none

fix(litellm_logging.py): create standard logging payload for create file call
  litellm/litellm_core_utils/litellm_logging.py
  litellm/types/llms/openai.py
Due: litellm_logging

fix: fix ruff linting error
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

test: fix test
  litellm/types/utils.py
Due: none

fix: fix linting error
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  litellm/types/llms/openai.py
Due: none

fix(transformation.py): correctly translate 'thinking' param for litellm_proxy/ route
  litellm/llms/litellm_proxy/chat/transformation.py
  tests/llm_translation/test_litellm_proxy_provider.py
Due: none

Revert avglogprobs change + Add azure/gpt-4o-realtime-audio cost tracking (#9893)
  litellm/llms/vertex_ai/gemini/vertex_and_google_ai_studio_gemini.py
  litellm/model_prices_and_context_window_backup.json
  litellm/types/utils.py
  model_prices_and_context_window.json
  tests/litellm/llms/vertex_ai/gemini/test_vertex_and_google_ai_studio.py
  tests/litellm/llms/vertex_ai/gemini/test_vertex_and_google_ai_studio_gemini.py
  tests/litellm/test_cost_calculator.py
  tests/llm_translation/test_gemini.py
  tests/local_testing/test_get_model_info.py
Due: none

Realtime API: Support 'base_model' cost tracking + show response in spend logs (if enabled) (#9897)
  litellm/cost_calculator.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/_new_secret_config.yaml
  litellm/realtime_api/main.py
  litellm/router.py
  litellm/types/utils.py
Due: Router, litellm_logging

docs clean up
  docs/my-website/docs/proxy/self_serve.md
Due: none

test: update test
  tests/llm_translation/test_optional_params.py
Due: none

fix end_user_id not being set
  litellm/proxy/litellm_pre_call_utils.py
Due: none

(#9820) expire user api key cache
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

fixbug(router.py): add original_messages handling in Router class
  litellm/router.py
Due: Router

add tinybird integration
  litellm/__init__.py
  litellm/integrations/tinybird.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/utils.py
  tests/local_testing/test_tinybird_integration.py
Due: litellm_logging

linter
  litellm/integrations/tinybird.py
Due: litellm_logging

comment tests
  tests/local_testing/test_tinybird_integration.py
Due: none

endpoint for updating default team settings on ui
  litellm/proxy/ui_crud_endpoints/proxy_setting_endpoints.py
Due: none

add GET default team settings endpoint
  litellm/proxy/ui_crud_endpoints/proxy_setting_endpoints.py
Due: none

ui expose default team settings on UI
  ui/litellm-dashboard/src/components/TeamSSOSettings.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

update to use DefaultTeamSSOParams
  litellm/__init__.py
  litellm/proxy/management_endpoints/ui_sso.py
  litellm/proxy/ui_crud_endpoints/proxy_setting_endpoints.py
  litellm/types/proxy/management_endpoints/ui_sso.py
  tests/litellm/proxy/management_endpoints/test_ui_sso.py
Due: none

DefaultTeamSSOParams
  litellm/types/proxy/management_endpoints/ui_sso.py
Due: none

fix: file path
  tests/litellm/llms/cohere/chat/test_transformation_v2.py
Due: none

refa: skip test if COHORE_API_KEY is not available
  tests/litellm/llms/cohere/chat/test_transformation_v2.py
Due: none

Litellm dev 04 10 2025 p3 (#9903)
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/hooks/managed_files.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  litellm/router.py
  litellm/types/llms/openai.py
  litellm/types/utils.py
  tests/litellm/litellm_core_utils/prompt_templates/test_litellm_core_utils_prompt_templates_common_utils.py
Due: Router, litellm_logging

fix(openai.py): ensure openai file object shows up on logs
  litellm/proxy/db/db_spend_update_writer.py
  litellm/types/llms/openai.py
Due: none

fix: tools oarameter handle
  litellm/llms/cohere/chat/transformation_v2.py
Due: none

fix: linting error
  litellm/llms/cohere/chat/transformation_v2.py
Due: none

feat: add extraEnvVars to the helm deployment (#9292)
  deploy/charts/litellm-helm/Chart.yaml
  deploy/charts/litellm-helm/templates/deployment.yaml
  deploy/charts/litellm-helm/tests/deployment_tests.yaml
  deploy/charts/litellm-helm/values.yaml
Due: none

reaf:moved tools parameter handling to map_openai_params
  litellm/llms/cohere/chat/transformation_v2.py
Due: none
