Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

chore: evidence audit-head-flow_4d916606ef.webp
  evidence/vs-encrypt/audit-head-flow_4d916606ef.webp
Due: none

feat(guardrails): send a configured gateway_name from noma_v2 to Noma
  litellm/proxy/guardrails/guardrail_hooks/noma/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/noma/noma_v2.py
  litellm/types/guardrails.py
  litellm/types/proxy/guardrails/guardrail_hooks/noma.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_noma_v2.py
  tests/unit/proxy/guardrails/__init__.py
  tests/unit/proxy/guardrails/guardrail_hooks/__init__.py
  tests/unit/proxy/guardrails/guardrail_hooks/noma/__init__.py
  tests/unit/proxy/guardrails/guardrail_hooks/noma/test_noma_v2.py
Due: none

chore(ui): regenerate OpenAPI snapshot and dashboard types for gateway_name
  litellm/proxy/_lazy_openapi_snapshot.json
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

test(ci): run ROI calculator tests in proxy infra shard
  .circleci/scripts/unit_selection.sh
Due: none

feat(providers): add Bourse as an OpenAI-compatible provider
  litellm/llms/openai_like/providers.json
  tests/unit/llms/openai_like/test_json_providers.py
Due: none

feat(guardrails): add logging_only_scope to observe one direction
  litellm/integrations/custom_guardrail.py
  litellm/proxy/guardrails/guardrail_registry.py
  litellm/types/guardrails.py
  tests/integration/observability/test_guardrail_effects.py
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
  tests/unit/integrations/test_custom_guardrail.py
Due: litellm_logging

chore(guardrails): remove unrelated test churn
  litellm/proxy/guardrails/guardrail_registry.py
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
  tests/unit/integrations/test_custom_guardrail.py
Due: none

fix(quickstart): address review findings on reinstall, ports, gitignore, and binding
  docker/docker-compose.quickstart.yml
  scripts/quickstart.sh
Due: none

fix(logging): redact failure error text and honor excluded fields on failure callbacks
  litellm/integrations/custom_logger.py
  litellm/integrations/datadog/datadog.py
  litellm/integrations/mlflow.py
  litellm/integrations/opentelemetry.py
  litellm/integrations/otel/logger.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/redact_messages.py
  litellm/proxy/hooks/proxy_track_cost_callback.py
  tests/integration/observability/test_failure_redaction.py
  tests/unit/integrations/datadog/test_datadog_logger_batching.py
  tests/unit/integrations/otel/test_otel_v2_logger.py
  tests/unit/integrations/test_mlflow.py
  tests/unit/integrations/test_opentelemetry.py
  tests/unit/litellm_core_utils/test_litellm_logging.py
  tests/unit/litellm_core_utils/test_redact_messages.py
  tests/unit/proxy/hooks/test_proxy_track_cost_callback.py
Due: litellm_logging

test(proxy): cover caller metadata precedence over W3C trace headers
  tests/integration/observability/test_langfuse_delivery.py
Due: none

refactor(logging): drop rebinding and comment in failure redaction
  litellm/integrations/custom_logger.py
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

fix(guardrails): allow native lifecycle logging-only scope
  litellm/integrations/custom_guardrail.py
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
  tests/unit/integrations/test_custom_guardrail.py
Due: litellm_logging

fix(quickstart): keep generated .env out of git in an existing repository folder
  scripts/quickstart.sh
Due: none

chore(ui): regenerate api types for logging_only_scope
  litellm/proxy/_lazy_openapi_snapshot.json
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

Update litellm/proxy/guardrails/guardrail_hooks/noma/noma_v2.py
  litellm/proxy/guardrails/guardrail_hooks/noma/noma_v2.py
Due: none

fix(router): keep a deployment's mode off its siblings' shared cost-map entry
  litellm/llms/anthropic/pass_through/adapters/handler.py
  litellm/main.py
  litellm/responses/litellm_completion_transformation/transformation.py
  litellm/router.py
  litellm/types/utils.py
  litellm/utils.py
  tests/unit/llms/anthropic/pass_through/adapters/test_handler_reasoning_effort_normalization.py
  tests/unit/responses/litellm_completion_transformation/test_litellm_completion_responses.py
  tests/unit/test_router_model_cost_isolation.py
Due: Router

feat(guardrails): add system prompt and first role skip filters to generic_guardrail_api
  litellm/proxy/guardrails/_content_utils.py
  litellm/proxy/guardrails/guardrail_hooks/generic_guardrail_api/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/generic_guardrail_api/config_parsing.py
  litellm/proxy/guardrails/guardrail_hooks/generic_guardrail_api/generic_guardrail_api.py
  litellm/proxy/guardrails/guardrail_hooks/generic_guardrail_api/message_filter.py
  litellm/types/proxy/guardrails/guardrail_hooks/generic_guardrail_api.py
  tests/test_litellm/proxy/guardrails/test_content_utils.py
  tests/unit/proxy/guardrails/__init__.py
  tests/unit/proxy/guardrails/guardrail_hooks/__init__.py
  tests/unit/proxy/guardrails/guardrail_hooks/generic_guardrail_api/__init__.py
  tests/unit/proxy/guardrails/guardrail_hooks/generic_guardrail_api/test_message_filter.py
Due: none

fix(proxy): read pass-through settings from the writer during rotation
  litellm/proxy/management_endpoints/key_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
Due: none

refactor: group leaderboard rows in one pass and wrap docstring at 120
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/management_endpoints/model_insights_endpoints.py
Due: Proxy_Authentication

fix(mcp): point registry stdio servers at packages that exist
  litellm/proxy/mcp_registry.json
  tests/unit/proxy/test_mcp_registry.py
  ui/litellm-dashboard/src/app/(dashboard)/mcp-servers/_components/mcp_discovery.integration.test.tsx
Due: none

test(proxy): drop drive-by reformatting from team-owned tag tests
  tests/e2e/access_control/access_control_client.py
  tests/test_litellm/proxy/management_endpoints/test_tag_management_endpoints.py
  tests/test_litellm/proxy/test_common_request_processing.py
Due: none

fix(ui): allow editing tag owner when the stored description is null
  ui/litellm-dashboard/src/app/(dashboard)/tag-management/_components/tagTableColumns.tsx
  ui/litellm-dashboard/src/app/(dashboard)/tag-management/_components/tag_info.integration.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/tag-management/_components/tag_info.tsx
  ui/litellm-dashboard/src/components/tag_management/types.tsx
Due: none

fix(provider): allow clearing key passthrough routes
  terraform/provider/litellm/client.go
  terraform/provider/litellm/resource_key.go
  terraform/provider/litellm/resource_key_test.go
  terraform/provider/litellm/types.go
Due: none

test(router): seed the catalog entry the mode isolation tests rely on
  tests/unit/test_router_model_cost_isolation.py
Due: none

fix(auth): recover concurrent JWT user creation conflicts
  litellm/proxy/auth/auth_checks.py
  tests/unit/proxy/auth/test_auth_checks.py
Due: Proxy_Authentication

fix(quickstart): ignore an inherited LITELLM_BIND and keep .env ignored outside git
  scripts/quickstart.sh
Due: none

refactor(caching): flatten shared batch read keys without a stacked comprehension
  litellm/caching/dual_cache.py
Due: Caching

fix(service_logger): don't run an event loop for sync service events nobody receives
  litellm/_service_logger.py
  tests/unit/test_service_logger.py
Due: none

test(service_logger): check sync delivery through a real OTel logger
  tests/unit/test_service_logger.py
Due: none

refactor(logging): build failure redaction values in one shot
  litellm/integrations/custom_logger.py
  litellm/integrations/mlflow.py
  litellm/integrations/opentelemetry.py
  litellm/integrations/otel/logger.py
  litellm/litellm_core_utils/redact_messages.py
  litellm/proxy/hooks/proxy_track_cost_callback.py
  tests/unit/integrations/otel/test_otel_v2_logger.py
  tests/unit/integrations/test_opentelemetry.py
  tests/unit/litellm_core_utils/test_litellm_logging.py
  tests/unit/litellm_core_utils/test_redact_messages.py
Due: litellm_logging

fix(proxy): generated session uses promoted caller trace id
  litellm/proxy/litellm_pre_call_utils.py
  tests/integration/observability/test_langfuse_delivery.py
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: none

fix(guardrails): remove callbacks when scope validation fails
  litellm/integrations/custom_guardrail.py
  litellm/proxy/guardrails/guardrail_registry.py
  tests/integration/observability/test_guardrail_effects.py
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
Due: litellm_logging

fix(router): keep OpenAI tool-calling requests on OpenAI-protocol deployments
  litellm/router.py
  litellm/router_utils/common_utils.py
  tests/unit/router_utils/test_router_utils_common_utils.py
  tests/unit/test_router/test_router.py
Due: Router

fix(guardrails): keep output-only scans when request copy fails
  litellm/integrations/custom_guardrail.py
  tests/unit/integrations/test_custom_guardrail.py
Due: litellm_logging

test+fix: scope Anthropic-only top_p/top_k strip; cover disabled-thinking & cross-backend
  litellm/llms/anthropic/pass_through/messages/transformation.py
  tests/unit/llms/anthropic/pass_through/messages/test_anthropic_messages_effort.py
Due: none

test: cover both new branches in _drop_incompatible_sampling_for_thinking
  tests/unit/llms/anthropic/pass_through/messages/test_anthropic_messages_effort.py
Due: none

Scope adaptive-thinking sampling drops to the first-party Anthropic API
  litellm/llms/anthropic/pass_through/messages/transformation.py
  tests/unit/llms/anthropic/pass_through/messages/test_anthropic_messages_effort.py
Due: none

test(ui): assert owner change reaches update payload when stored tag description is null
  ui/litellm-dashboard/src/app/(dashboard)/tag-management/_components/tag_info.integration.test.tsx
Due: none

test(proxy): move test context into assertion messages
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: none

fix(proxy): _strip_prisma_query_params drops host, breaking every Unix-socket Postgres deployment
  litellm-proxy-extras/litellm_proxy_extras/utils.py
  litellm-proxy-extras/tests/test_setup_database_fail_fast.py
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
