Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

pass through litellm_logging_obj
  litellm/cost_calculator.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/_experimental/mcp_server/cost_calculator.py
Due: litellm_logging

logged_standard_logging_payload
  tests/mcp_tests/test_mcp_logging.py
Due: none

add support for server api call
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
  litellm/proxy/auth/model_checks.py
  litellm/proxy/proxy_server.py
  litellm/proxy/utils.py
Due: Proxy_Authentication

feat(db_spend_update_writer.py): log by mcp_namespaced_tool_name
  litellm/proxy/_experimental/mcp_server/server.py
  litellm/proxy/_types.py
  litellm/proxy/db/db_spend_update_writer.py
  litellm/proxy/management_endpoints/common_daily_activity.py
  litellm/proxy/schema.prisma
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  litellm/types/utils.py
Due: none

Added frontend for test key
  ui/litellm-dashboard/src/components/chat_ui.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/anthropic_messages.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/chat_completion.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/fetch_mcp_tools.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/responses_api.tsx
  ui/litellm-dashboard/src/components/networking.tsx
Due: none

fix: make TextCompletionStreamWrapper conversion retain reasoning_content (#12377)
  litellm/utils.py
  tests/test_litellm/test_utils.py
Due: none

fix logging MCP tool call
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/_experimental/mcp_server/cost_calculator.py
  litellm/proxy/_experimental/mcp_server/server.py
  tests/mcp_tests/test_mcp_logging.py
Due: litellm_logging

test_mcp_cost_tracking_per_tool
  tests/mcp_tests/test_mcp_logging.py
Due: none

feat(stream_chunk_builder_utils.py): combine thinking blocks in stream chunk builder
  litellm/litellm_core_utils/streaming_chunk_builder_utils.py
  litellm/main.py
  tests/test_litellm/test_main.py
Due: none

fix(prometheus.py): remove experimental 'by_tag' metrics
  litellm/integrations/prometheus.py
Due: litellm_logging

fix NewMCPServerRequest
  litellm/proxy/_types.py
Due: none

fix add_update_server
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
Due: none

add MCP info to schema.prisma
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/proxy/schema.prisma
  schema.prisma
Due: none

fix(model_management_endpoints.py): add audit logs on model update
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/management_endpoints/model_management_endpoints.py
  litellm/proxy/management_helpers/audit_logs.py
Due: none

fix create_mcp_server
  litellm/proxy/_experimental/mcp_server/db.py
Due: none

working custom cost per call
  ui/litellm-dashboard/src/components/mcp_tools/create_mcp_server.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_cost_config.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_edit.tsx
  ui/litellm-dashboard/src/components/mcp_tools/types.tsx
Due: none

added tools used output
  ui/litellm-dashboard/src/components/chat_ui.tsx
  ui/litellm-dashboard/src/components/chat_ui/ResponseMetrics.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/anthropic_messages.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/chat_completion.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/responses_api.tsx
  ui/litellm-dashboard/src/components/chat_ui/types.ts
Due: none

fix mcp server cost
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_cost_config.tsx
  ui/litellm-dashboard/src/components/mcp_tools/types.tsx
Due: none

Litellm mcp internal users (#12389)
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
  litellm/proxy/_types.py
  litellm/proxy/auth/model_checks.py
  litellm/proxy/management_endpoints/mcp_management_endpoints.py
  litellm/proxy/proxy_server.py
  litellm/proxy/utils.py
  ui/litellm-dashboard/src/components/chat_ui.tsx
  ui/litellm-dashboard/src/components/chat_ui/ResponseMetrics.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/anthropic_messages.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/chat_completion.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/fetch_mcp_tools.tsx
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/responses_api.tsx
  ui/litellm-dashboard/src/components/chat_ui/types.ts
  ui/litellm-dashboard/src/components/leftnav.tsx
  ui/litellm-dashboard/src/components/mcp_tools/create_mcp_server.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_columns.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_servers.tsx
  ui/litellm-dashboard/src/components/mcp_tools/types.ts
  ui/litellm-dashboard/src/components/mcp_tools/types.tsx
  ui/litellm-dashboard/src/components/networking.tsx
Due: Proxy_Authentication

Litellm add mcp cost tracking (#12390)
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/cost_calculator.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/_experimental/mcp_server/cost_calculator.py
  litellm/proxy/_experimental/mcp_server/db.py
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
  litellm/proxy/_experimental/mcp_server/server.py
  litellm/proxy/_types.py
  litellm/proxy/schema.prisma
  litellm/types/mcp.py
  litellm/types/mcp_server/mcp_server_manager.py
  litellm/types/utils.py
  schema.prisma
  tests/mcp_tests/test_mcp_logging.py
  ui/litellm-dashboard/src/components/mcp_tools/create_mcp_server.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_cost_config.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_edit.tsx
  ui/litellm-dashboard/src/components/mcp_tools/types.tsx
Due: litellm_logging

Litellm mcp demo (#12391)
  litellm/proxy/_experimental/mcp_server/server.py
  litellm/proxy/_types.py
  litellm/proxy/db/db_spend_update_writer.py
  litellm/proxy/management_endpoints/common_daily_activity.py
  litellm/proxy/management_endpoints/mcp_management_endpoints.py
  litellm/proxy/schema.prisma
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  litellm/types/proxy/management_endpoints/common_daily_activity.py
  litellm/types/utils.py
  ui/litellm-dashboard/src/components/activity_metrics.tsx
  ui/litellm-dashboard/src/components/new_usage.tsx
  ui/litellm-dashboard/src/components/usage/types.ts
Due: none

fix MCPCostCalculator
  litellm/proxy/_experimental/mcp_server/cost_calculator.py
Due: none

TestMCPCostCalculator
  tests/test_litellm/proxy/_experimental/mcp_server/test_mcp_cost_calculator.py
Due: none

[Feat] Add MCP Cost Tracking (#12385)
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/cost_calculator.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/_experimental/mcp_server/cost_calculator.py
  litellm/proxy/_experimental/mcp_server/db.py
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
  litellm/proxy/_experimental/mcp_server/server.py
  litellm/proxy/_types.py
  litellm/proxy/schema.prisma
  litellm/types/mcp.py
  litellm/types/mcp_server/mcp_server_manager.py
  litellm/types/utils.py
  schema.prisma
  tests/mcp_tests/test_mcp_logging.py
  tests/test_litellm/proxy/_experimental/mcp_server/test_mcp_cost_calculator.py
  ui/litellm-dashboard/src/components/mcp_tools/create_mcp_server.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_cost_config.tsx
  ui/litellm-dashboard/src/components/mcp_tools/mcp_server_edit.tsx
  ui/litellm-dashboard/src/components/mcp_tools/types.tsx
Due: litellm_logging

fix(server.py): ensure spend logs work for mcp calls
  litellm/proxy/_experimental/mcp_server/server.py
  litellm/proxy/utils.py
  ui/litellm-dashboard/src/components/chat_ui/llm_calls/responses_api.tsx
Due: none

add litellm proxy extras
  litellm-proxy-extras/dist/litellm_proxy_extras-0.2.7-py3-none-any.whl
  litellm-proxy-extras/dist/litellm_proxy_extras-0.2.7.tar.gz
  litellm-proxy-extras/pyproject.toml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

bump: version 1.74.0 → 1.74.1
  pyproject.toml
Due: none

feat: add image support for Responses API to Chat Completion transformation (#12204)
  litellm/responses/litellm_completion_transformation/transformation.py
  tests/test_litellm/responses/litellm_completion_transformation/test_litellm_completion_responses.py
Due: none

refactor(common_daily_activity.py): update to return mcp activity in API
  litellm/proxy/management_endpoints/common_daily_activity.py
Due: none

migration - add mcp_info
  litellm-proxy-extras/litellm_proxy_extras/migrations/20250707212517_add_mcp_info_column_mcp_servers/migration.sql
Due: none

ci/cd new release
  litellm/__init__.py
Due: none
