Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix(router): formatted to pass lint check
  litellm/router.py
Due: Router

Revert "fix(router): formatted to pass lint check"
  litellm/router.py
Due: Router

fix(router): handle ContextWindowExceededError during streaming with fallbacks
  litellm/router.py
Due: Router

feat(a2a_endpoints.py): fix tracing to avoid recreating logging objects for the same call
  litellm/a2a_protocol/main.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/agent_endpoints/a2a_endpoints.py
  litellm/proxy/litellm_pre_call_utils.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  litellm/utils.py
Due: litellm_logging

Add incident report: cache eviction closes in-use httpx clients (#22309)
  docs/my-website/blog/httpx_cache_eviction_incident/index.md
Due: none

UI FIXES
  ui/litellm-dashboard/src/app/(dashboard)/components/Sidebar2.tsx
  ui/litellm-dashboard/src/app/page.tsx
  ui/litellm-dashboard/src/components/leftnav.tsx
  ui/litellm-dashboard/src/components/model_rollout/ModelRollout.tsx
  ui/litellm-dashboard/src/components/playground/chat_ui/ChatUI.tsx
  ui/litellm-dashboard/src/components/routing_groups/RoutingFlowVisualization.tsx
  ui/litellm-dashboard/src/components/routing_groups/RoutingGroupBuilder.tsx
  ui/litellm-dashboard/src/components/view_logs/LogDetailsDrawer/LogDetailContent.tsx
  ui/litellm-dashboard/src/components/view_logs/columns.tsx
Due: none

fix: add groups
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/routing_group_endpoints.py
  litellm/proxy/proxy_server.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  litellm/router.py
Due: Router

添加AI网关开发辅助配置参数
  litellm/proxy/zx/zx_endpoints.py
Due: none

fix: preserve usage/cached_tokens in Responses API streaming bridge (#22194)
  litellm/completion_extras/litellm_responses_transformation/transformation.py
  tests/test_litellm/completion_extras/litellm_responses_transformation/test_completion_extras_litellm_responses_transformation_transformation.py
Due: none

fix(caching): inject default_in_memory_ttl in DualCache async_set_cache and async_set_cache_pipeline (#22241)
  litellm/caching/dual_cache.py
  tests/test_litellm/caching/test_dual_cache.py
Due: Caching

feat(ui): add retry and edit message actions to playground chat
  ui/litellm-dashboard/src/components/playground/chat_ui/ChatUI.tsx
  ui/litellm-dashboard/src/components/playground/chat_ui/MessageActions.test.tsx
  ui/litellm-dashboard/src/components/playground/chat_ui/MessageActions.tsx
Due: none

fix: apply server root path to mapped passthrough route matching (#22310)
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  tests/test_litellm/proxy/pass_through_endpoints/test_pass_through_endpoints.py
Due: none

fix: set mock status_code in JWT OIDC discovery tests (#22361)
  tests/test_litellm/proxy/auth/test_handle_jwt.py
Due: none

fix(ui): persist selected model across playground navigation
  ui/litellm-dashboard/src/components/playground/chat_ui/ChatUI.tsx
Due: none

fix(openrouter): register OpenRouter as native Responses API provider (#22355)
  litellm/__init__.py
  litellm/_lazy_imports_registry.py
  litellm/llms/openrouter/responses/transformation.py
  litellm/utils.py
  tests/test_litellm/llms/openrouter/responses/test_openrouter_responses_transformation.py
Due: none

feat(guardrails): team-based guardrail registration and approval workflow (#22459)
  docs/my-website/docs/adding_provider/generic_guardrail_api.md
  docs/my-website/docs/proxy/guardrails/quick_start.md
  docs/my-website/docs/proxy/guardrails/team_based_guardrails.md
  docs/my-website/img/admin_team_guardrails.png
  docs/my-website/sidebars.js
  litellm-proxy-extras/litellm_proxy_extras/migrations/20260228170127_support_team_based_guardrails/migration.sql
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/proxy/_types.py
  litellm/proxy/guardrails/guardrail_endpoints.py
  litellm/proxy/guardrails/guardrail_hooks/generic_guardrail_api/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/generic_guardrail_api/generic_guardrail_api.py
  litellm/proxy/guardrails/guardrail_registry.py
  litellm/proxy/schema.prisma
  litellm/types/guardrails.py
  schema.prisma
  scripts/create_team_key_and_submit_guardrail.sh
  scripts/test_guardrails_register_endpoints.sh
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_generic_guardrail_api.py
  tests/test_litellm/proxy/guardrails/test_guardrail_endpoints.py
  ui/litellm-dashboard/package-lock.json
  ui/litellm-dashboard/src/components/guardrails.tsx
  ui/litellm-dashboard/src/components/guardrails/TeamGuardrailsTab.tsx
  ui/litellm-dashboard/src/components/networking.tsx
Due: none

refactor(ui): polish retry/edit actions and add resend on user messages
  ui/litellm-dashboard/src/components/playground/chat_ui/ChatUI.tsx
  ui/litellm-dashboard/src/components/playground/chat_ui/MessageActions.test.tsx
  ui/litellm-dashboard/src/components/playground/chat_ui/MessageActions.tsx
Due: none

优化定制路由配置
  litellm/proxy/zx/zx_endpoints.py
Due: none

test: refactor vertex ai embedding tests to be 100% mocked
  tests/test_litellm/test_vertex_ai_embedding_headers.py
Due: none

bump: version 1.82.0 → 1.82.1
  pyproject.toml
Due: none

fix: add missing commas in the string list
  litellm/constants.py
  litellm/types/llms/openai.py
Due: none

test: add implicit string concatenation detection test
  tests/test_litellm/test_missing_comma_fixes.py
Due: none

fix(deepinfra): set supports_function_calling=true for Llama-3.3-70B-Instruct-Turbo (fixes #22619)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

feat: complete strict schema enforcement and exhaustive edge-case tests
  litellm/llms/anthropic/experimental_pass_through/adapters/transformation.py
  tests/test_litellm/llms/anthropic/experimental_pass_through/adapters/test_anthropic_openai_strict_schema.py
Due: none

Add logic to include prompt information in the log line
  litellm/integrations/braintrust_logging.py
  tests/test_litellm/integrations/test_braintrust_logging.py
  tests/test_litellm/integrations/test_braintrust_span_name.py
Due: litellm_logging

fix(proxy_server): allow http urls for UI_LOGO_PATH via redirect and improve test hygiene
  litellm/proxy/proxy_server.py
  tests/proxy_unit_tests/test_get_image.py
Due: none

Fix: Add support for reasoning check via model map
  litellm/llms/azure/chat/gpt_5_transformation.py
  litellm/llms/openai/chat/gpt_5_transformation.py
  litellm/model_prices_and_context_window_backup.json
  litellm/types/utils.py
  litellm/utils.py
  model_prices_and_context_window.json
Due: none

fix(bedrock): add missing type field in parallel_tool_calls tool_choice for Claude 4.5+
  litellm/llms/bedrock/chat/converse_transformation.py
  tests/test_litellm/llms/bedrock/chat/test_converse_transformation.py
Due: none

fix(proxy_server): restore non-root and cache logic while maintaining redirect for HTTP URLs
  litellm/proxy/proxy_server.py
Due: none

Address PR suggestions
  litellm/integrations/braintrust_logging.py
Due: litellm_logging

Fix issue with async tests
  tests/test_litellm/integrations/test_braintrust_logging.py
  tests/test_litellm/integrations/test_braintrust_span_name.py
Due: none

fix(aiohttp): catch asyncio.CancelledError in map_aiohttp_exceptions
  litellm/llms/custom_httpx/aiohttp_transport.py
Due: none

fix(aiohttp): properly map asyncio.CancelledError to httpx.ConnectError
  litellm/llms/custom_httpx/aiohttp_transport.py
Due: none

Fi azure gpt-5 transformations
  litellm/llms/azure/chat/gpt_5_transformation.py
  tests/test_litellm/llms/openai/test_gpt5_transformation.py
Due: none

fix(aiohttp): remove dead AIOHTTP_EXC_MAP entry and simplify CancelledError comment
  litellm/llms/custom_httpx/aiohttp_transport.py
Due: none

Remove defualt hardcoded thinking levels for gemini 3 family
  litellm/llms/vertex_ai/gemini/vertex_and_google_ai_studio_gemini.py
Due: none

fix: handle missing 'index' in images response
  litellm/litellm_core_utils/llm_response_utils/convert_dict_to_response.py
Due: none

Fix test case
  tests/test_litellm/llms/vertex_ai/gemini/test_vertex_and_google_ai_studio_gemini.py
Due: none

Add day 0 support of gemini-3.1-flash-lite-preview
  docs/my-website/docs/providers/gemini.md
  docs/my-website/docs/providers/vertex.md
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
  tests/test_litellm/llms/vertex_ai/gemini/test_vertex_and_google_ai_studio_gemini.py
Due: none
