Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

test: debug ci/cd test
  tests/documentation_tests/test_env_keys.py
Due: none

test: fix test
  tests/documentation_tests/test_env_keys.py
Due: none

fix(team_endpoints.py): skip invalid team object. don't fail `/team/list` call
  litellm/proxy/management_endpoints/team_endpoints.py
Due: none

fix(key_management_endpoints.py): fix user-membership check when creating team key (#6890)
  litellm/llms/prompt_templates/factory.py
  litellm/llms/vertex_ai_and_google_ai_studio/gemini/transformation.py
  litellm/llms/vertex_ai_and_google_ai_studio/gemini/vertex_and_google_ai_studio_gemini.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/_types.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/proxy/pass_through_endpoints/llm_passthrough_endpoints.py
  litellm/proxy/proxy_server.py
  litellm/proxy/vertex_ai_endpoints/langfuse_endpoints.py
  litellm/proxy/vertex_ai_endpoints/vertex_endpoints.py
  tests/llm_translation/base_llm_unit_tests.py
  tests/llm_translation/test_gemini.py
  tests/llm_translation/test_prompt_factory.py
  tests/llm_translation/test_vertex.py
  tests/proxy_admin_ui_tests/test_key_management.py
  tests/proxy_unit_tests/test_proxy_server.py
  ui/litellm-dashboard/src/components/teams.tsx
Due: Proxy_Authentication

fix
  litellm/router.py
  litellm/router_utils/retry_utils.py
  litellm/utils.py
Due: Router

test(base_llm_unit_tests.py): add 'response_format={"type": "text"}' test to base_llm_unit_tests
  tests/llm_translation/base_llm_unit_tests.py
Due: none

fix
  litellm/router_utils/retry_utils.py
  litellm/utils.py
Due: none

fix
  litellm/router.py
  litellm/router_utils/retry_utils.py
Due: Router

add the logprobs param for fireworks ai
  litellm/llms/fireworks_ai/chat/fireworks_ai_transformation.py
Due: none

feat(router.py): support wildcard routes in `get_router_model_info()`
  litellm/model_prices_and_context_window_backup.json
  litellm/router.py
  litellm/types/utils.py
  litellm/utils.py
  model_prices_and_context_window.json
  tests/local_testing/test_router.py
  tests/local_testing/test_router_utils.py
Due: Router

cases
  litellm/proxy/_experimental/out/404.html
  litellm/proxy/_experimental/out/model_hub.html
  litellm/proxy/_experimental/out/onboarding.html
  tests/local_testing/test_completion_with_retries.py
Due: none

fix
  tests/local_testing/test_completion_with_retries.py
Due: none

revert unintended
  litellm/proxy/_experimental/out/404.html
  litellm/proxy/_experimental/out/model_hub.html
  litellm/proxy/_experimental/out/onboarding.html
Due: none

build(model_prices_and_context_window.json): add tpm/rpm limits for all gemini models
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/local_testing/test_get_model_info.py
Due: none

fix
  litellm/main.py
  litellm/proxy/_experimental/out/404.html
  litellm/proxy/_experimental/out/model_hub.html
  litellm/proxy/_experimental/out/onboarding.html
  litellm/utils.py
  tests/local_testing/test_completion_with_retries.py
Due: none

revert
  litellm/proxy/_experimental/out/404.html
  litellm/proxy/_experimental/out/model_hub.html
  litellm/proxy/_experimental/out/onboarding.html
Due: none

format
  litellm/utils.py
Due: none

Update azure.py
  litellm/llms/AzureOpenAI/azure.py
Due: none

exc map
  tests/local_testing/test_completion_with_retries.py
Due: none

Async decorator
  tests/local_testing/test_completion_with_retries.py
Due: none

fix
  litellm/main.py
  tests/local_testing/test_completion_with_retries.py
Due: none

feat(router.py): add tpm/rpm tracking on success/failure to global_router
  litellm/router.py
  litellm/router_utils/response_headers.py
  litellm/types/router.py
  tests/local_testing/test_router_utils.py
Due: Router

Added parameter to main.py
  litellm/llms/AzureOpenAI/chat/o1_handler.py
  litellm/main.py
Due: none

feat(router.py): support wildcard routes on router.get_model_group_usage()
  litellm/router.py
  litellm/router_utils/response_headers.py
  litellm/types/router.py
  tests/local_testing/test_router_utils.py
Due: Router

Found token provider arg location
  litellm/main.py
Due: none

fix(router.py): fix linting error
  litellm/router.py
Due: Router

Fixed embeddings
  litellm/main.py
Due: none

Fixed ad token provider
  litellm/main.py
Due: none

add helper to process inlcudes directive on yaml
  litellm/proxy/model_config.yaml
  litellm/proxy/proxy_config.yaml
  litellm/proxy/proxy_server.py
Due: none

docs: update the docs
  docs/my-website/docs/observability/argilla.md
Due: none

add doc on config management
  docs/my-website/docs/proxy/config_management.md
  docs/my-website/docs/proxy/configs.md
  docs/my-website/sidebars.js
Due: none

unit tests for `include` on config.yaml
  tests/proxy_unit_tests/example_config_yaml/config_with_include.yaml
  tests/proxy_unit_tests/example_config_yaml/config_with_missing_include.yaml
  tests/proxy_unit_tests/example_config_yaml/config_with_multiple_includes.yaml
  tests/proxy_unit_tests/example_config_yaml/included_models.yaml
  tests/proxy_unit_tests/example_config_yaml/models_file_1.yaml
  tests/proxy_unit_tests/example_config_yaml/models_file_2.yaml
  tests/proxy_unit_tests/test_proxy_config_unit_test.py
Due: none

add PATCH for pass through endpoints
  litellm/proxy/pass_through_endpoints/llm_passthrough_endpoints.py
  litellm/proxy/vertex_ai_endpoints/langfuse_endpoints.py
  litellm/proxy/vertex_ai_endpoints/vertex_endpoints.py
Due: none

test_pass_through_routes_support_all_methods
  tests/pass_through_unit_tests/test_pass_through_unit_tests.py
Due: none

(feat) pass through llm endpoints - add `PATCH` support (vertex context caching requires for update ops) (#6924)
  litellm/proxy/pass_through_endpoints/llm_passthrough_endpoints.py
  litellm/proxy/vertex_ai_endpoints/langfuse_endpoints.py
  litellm/proxy/vertex_ai_endpoints/vertex_endpoints.py
  tests/pass_through_unit_tests/test_pass_through_unit_tests.py
Due: none
