Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix docker compose
  docker-compose.yml
Due: none

add vertex gemini-2.0-flash-lite
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

add gemini/gemini-2.0-flash-lite
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

Nova Canvas complete image generation tasks (#9177)
  docs/my-website/docs/providers/bedrock.md
  litellm/llms/bedrock/image/amazon_nova_canvas_transformation.py
  litellm/types/llms/bedrock.py
  tests/image_gen_tests/test_bedrock_image_gen_unit_tests.py
  tests/image_gen_tests/test_image_generation.py
Due: none

Add new model provider Novita AI (#7582)
  .env.example
  README.md
  cookbook/LiteLLM_NovitaAI_Cookbook.ipynb
  cookbook/LiteLLM_OpenRouter.ipynb
  docs/my-website/docs/completion/input.md
  docs/my-website/docs/index.md
  docs/my-website/docs/providers/novita.md
  docs/my-website/sidebars.js
  docs/my-website/src/pages/completion/input.md
  docs/my-website/src/pages/completion/supported.md
  docs/my-website/src/pages/index.md
  litellm/__init__.py
  litellm/constants.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/litellm_core_utils/get_supported_openai_params.py
  litellm/llms/novita/chat/transformation.py
  litellm/main.py
  litellm/types/utils.py
  litellm/utils.py
  poetry.lock
  tests/litellm/llms/novita/chat/test_transformation.py
  tests/local_testing/test_completion.py
Due: none

_initialize_remaining_budget_metrics
  litellm/constants.py
  litellm/proxy/proxy_config.yaml
  litellm/proxy/proxy_server.py
Due: none

fix: initial commit for adding provider model discovery to gemini
  litellm/utils.py
  tests/litellm_utils_tests/test_utils.py
Due: none

initialize_budget_metrics_cron_job
  litellm/integrations/prometheus.py
  litellm/proxy/proxy_server.py
Due: litellm_logging

initialize_budget_metrics_cron_job
  litellm/integrations/prometheus.py
Due: litellm_logging

feat(gemini/): add model discovery for gemini/ route
  litellm/__init__.py
  litellm/llms/base_llm/base_utils.py
  litellm/llms/gemini/common_utils.py
  litellm/utils.py
  tests/litellm_utils_tests/test_utils.py
Due: none

docs(set_keys.md): update docs to show you can check available gemini models as well
  docs/my-website/docs/set_keys.md
Due: none

test_initialize_budget_metrics_cron_job
  tests/litellm/integrations/test_prometheus.py
Due: none

feat(anthropic/): add model discovery for anthropic api key
  litellm/__init__.py
  litellm/llms/anthropic/common_utils.py
  litellm/utils.py
  tests/litellm_utils_tests/test_utils.py
Due: none

feat(xai/): add model discovery for XAI
  docs/my-website/docs/set_keys.md
  litellm/__init__.py
  litellm/llms/xai/common_utils.py
  litellm/utils.py
Due: none

docs: update release note with patch
  docs/my-website/release_notes/v1.63.14/index.md
Due: none

LITELLM_PROXY_ADMIN_NAME
  litellm/integrations/prometheus.py
  litellm/proxy/proxy_server.py
Due: litellm_logging

fix code qa checks
  litellm/integrations/prometheus.py
Due: litellm_logging

run test
  litellm/__init__.py
Due: none

ci: emit all dependencies
  .circleci/config.yml
Due: none

litellm_assistants_api_testing
  .circleci/config.yml
Due: none

anyio==4.8.0
  requirements.txt
Due: none

docs(admin_ui_sso.md): add logout url
  docs/my-website/docs/proxy/admin_ui_sso.md
Due: none

docs: cleanup docs
  docs/my-website/docs/proxy/admin_ui_sso.md
Due: none

UserAPIKeyAuthExceptionHandler
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/auth/auth_exception_handler.py
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

fix ProxyErrorTypes
  litellm/proxy/_types.py
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
