Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix(spend_tracking): strip the session-omission marker from both metadata buckets
  litellm/proxy/litellm_pre_call_utils.py
  litellm/proxy/spend_tracking/spend_tracking_utils.py
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: none

fix(ui): keep Virtual Keys list state in the URL so it survives leaving the page (#39481)
  ui/litellm-dashboard/src/components/VirtualKeysPage/VirtualKeysTable.test.tsx
  ui/litellm-dashboard/src/components/VirtualKeysPage/VirtualKeysTable.tsx
  ui/litellm-dashboard/src/components/VirtualKeysPage/keyTableColumns.tsx
Due: none

fix: satisfy mutable collection lint gate
  litellm/caching/dual_cache.py
Due: Caching

fix(cache): report real callers through breaker guards
  basedpyright-code-budget.json
  litellm/caching/redis_cache.py
  ruff-strict-budget.json
  tests/test_litellm/caching/test_redis_cache.py
  type-discipline-budget.json
Due: Caching

fix(caching): keep breaker guard-frame skipping in bytecode-only deploys
  litellm/caching/redis_cache.py
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

test(cache): cover concurrent sync and async Redis batch reads
  tests/local_testing/test_dual_cache.py
Due: none

test(cache): mock Redis before sync breaker setup
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

fix: preserve DualCache batch list contract
  basedpyright-code-budget.json
  litellm/caching/dual_cache.py
  ruff-strict-budget.json
  tests/local_testing/test_dual_cache.py
  tests/test_litellm/caching/test_dual_cache.py
  type-discipline-budget.json
Due: Caching

fix(cache): use sync Redis batch reads
  litellm/caching/dual_cache.py
  litellm/caching/redis_cache.py
  tests/test_litellm/caching/test_dual_cache.py
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

style(imports): import Sequence from collections.abc
  litellm/caching/dual_cache.py
  litellm/router_strategy/lowest_tpm_rpm_v2.py
Due: Caching

test(cache): document sync breaker patch target
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

fix(types): widen batch result params to Sequence
  litellm/caching/dual_cache.py
  litellm/router_strategy/lowest_tpm_rpm_v2.py
Due: Caching

test(cache): isolate sync Redis breaker coverage
  tests/test_litellm/caching/test_dual_cache.py
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

fix(cache): type sync circuit breaker decorator
  litellm/caching/redis_cache.py
Due: Caching

style(cache): satisfy type-discipline budget
  litellm/caching/dual_cache.py
Due: Caching

style: format DualCache batch result
  litellm/caching/dual_cache.py
Due: Caching

style(cache): format batch read
  litellm/caching/dual_cache.py
Due: Caching

fix(cache): keep batch result merge budget compliant
  litellm/caching/dual_cache.py
Due: Caching

refactor: build sync batch_get_cache results as tuples to satisfy the LIT002 gate
  basedpyright-code-budget.json
  litellm/caching/dual_cache.py
  ruff-strict-budget.json
  tests/local_testing/test_dual_cache.py
  tests/test_litellm/caching/test_dual_cache.py
  type-discipline-budget.json
Due: Caching

chore: preserve staging budget ratchets
  basedpyright-code-budget.json
  ruff-strict-budget.json
  type-discipline-budget.json
Due: none

chore: ratchet budgets after staging merge
  basedpyright-code-budget.json
  ruff-strict-budget.json
  type-discipline-budget.json
Due: none

style(cache): avoid mutable batch placeholder
  litellm/caching/dual_cache.py
Due: Caching

fix(snowflake): surface Cortex prompt-cache usage and thinking blocks
  litellm/llms/snowflake/chat/transformation.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/test_litellm/llms/snowflake/chat/test_snowflake_chat_transformation.py
  tests/test_litellm/llms/snowflake/test_snowflake_native_endpoints.py
Due: none

fix(bedrock): preserve missing credentials error
  litellm/llms/bedrock/base_aws_llm.py
Due: none

test(passthrough): look up anthropic spend rows by the message id the caller received
  tests/pass_through_tests/test_anthropic_passthrough.py
Due: none

fix(fal_ai): guard video download and result peek URLs
  litellm/llms/fal_ai/videos/transformation.py
  tests/test_litellm/llms/fal_ai/videos/test_fal_ai_video_transformation.py
Due: none

fix(images): stop forwarding the raw image[] and mask[] form keys
  litellm/proxy/image_endpoints/endpoints.py
  tests/test_litellm/proxy/image_endpoints/test_endpoints.py
Due: none

test(e2e): correlate anthropic passthrough spend rows by the served message id
  tests/e2e/llm_translation/passthrough_client.py
  tests/e2e/llm_translation/test_passthrough_e2e.py
Due: none

refactor(logging): name the response-id helper for what it reads, not the provider
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

fix: keep Opper inside the lint and exception-mapping budgets
  litellm/litellm_core_utils/exception_mapping_utils.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/llms/opper/chat/transformation.py
  litellm/main.py
  litellm/utils.py
  tests/test_litellm/llms/opper/test_opper.py
Due: none

fix(proxy): keep boot alive when the installed proxy extras has no prisma runner
  litellm/proxy/db/check_migration.py
  litellm/proxy/db/prisma_client.py
  tests/test_litellm/proxy/db/test_check_migration.py
  tests/test_litellm/proxy/db/test_prisma_client.py
Due: none

fix(vector-stores): surface retrieval failures to the API caller
  litellm/__init__.py
  litellm/exceptions.py
  litellm/integrations/vector_store_integrations/vector_store_pre_call_hook.py
  litellm/types/vector_stores.py
  tests/test_litellm/integrations/vector_store_integrations/test_vector_store_pre_call_hook.py
Due: none

test(local_testing): point test_router_timeout and test_timeout at the unroutable api_base
  tests/local_testing/test_router.py
  tests/local_testing/test_timeout.py
Due: none

fix(duration_parser): raise ValueError for unparseable budget_duration
  litellm/litellm_core_utils/duration_parser.py
Due: none

fix(reset_budget_job): skip rows with empty/falsy budget_duration
  litellm/proxy/common_utils/reset_budget_job.py
Due: none

refactor: clear fresh tech debt from the last 24 hours (2026-09-03)
  litellm/proxy/guardrails/guardrail_hooks/model_armor/model_armor.py
  litellm/responses/streaming_iterator.py
  litellm/rust_bridge/runtime.py
  type-discipline-budget.json
Due: none

test(cache): isolate sync Redis batch reads
  tests/local_testing/test_dual_cache.py
Due: none

fix(vector-stores): import assert_never from typing_extensions for Python 3.10
  litellm/integrations/vector_store_integrations/vector_store_pre_call_hook.py
Due: none

fix(logging): key bridged /v1/messages rows on the id the caller received
  litellm/litellm_core_utils/litellm_logging.py
  tests/pass_through_tests/test_anthropic_passthrough.py
  tests/test_litellm/proxy/spend_tracking/test_spend_tracking_utils.py
Due: litellm_logging

fix(bedrock): stop the Moonshot invoke transform from resolving AWS credentials
  litellm/llms/bedrock/chat/invoke_transformations/amazon_moonshot_transformation.py
  tests/test_litellm/llms/bedrock/chat/invoke_transformations/test_amazon_moonshot_transformation.py
Due: none
