Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix(azure_ai): advertise 1M context window for Claude Opus 4.6+ on Foundry
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/test_litellm/litellm_core_utils/test_get_model_cost_map.py
  tests/test_litellm/test_claude_opus_4_6_config.py
  tests/test_litellm/test_claude_opus_4_8_config.py
Due: none

fix(cost): treat null responses output as empty in built-in tool cost tracking
  litellm/litellm_core_utils/llm_cost_calc/tool_call_cost_tracking.py
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_tool_call_cost_tracking.py
Due: none

fix: handle dict response in Responses API streaming and logging
  litellm/completion_extras/litellm_responses_transformation/transformation.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/router.py
Due: Router, litellm_logging

feat: add TrustedRouter provider
  litellm/constants.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/llms/openai_like/providers.json
  litellm/types/utils.py
  provider_endpoints_support.json
  tests/test_litellm/llms/trustedrouter/test_trustedrouter.py
  ui/litellm-dashboard/public/assets/logos/trustedrouter.svg
  ui/litellm-dashboard/src/components/provider_info_helpers.tsx
Due: none

fix(dashscope): select one pricing tier from request input size
  litellm/llms/dashscope/cost_calculator.py
  tests/test_litellm/llms/dashscope/test_dashscope_cost_calculator.py
Due: none

fix(cache_control): surface tool_config breakpoint on the request tools
  litellm/integrations/anthropic_cache_control_hook.py
  litellm/llms/bedrock/chat/converse_transformation.py
  litellm/main.py
  tests/test_litellm/integrations/test_anthropic_cache_control_hook.py
Due: litellm_logging

refactor(dashscope): use pep604 and pep585 annotations in cost calculator
  litellm/llms/dashscope/cost_calculator.py
Due: none

Format CommandCode provider changes
  litellm/__init__.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/llms/commandcode/chat/transformation.py
  litellm/main.py
Due: none

fix(cache_control): stop leaking spent tool_config points to the provider
  litellm/integrations/anthropic_cache_control_hook.py
  litellm/types/integrations/anthropic_cache_control_hook.py
  tests/test_litellm/integrations/test_anthropic_cache_control_hook.py
Due: litellm_logging

Enforce user budgets for proxy admins
  litellm/proxy/auth/user_api_key_auth.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
Due: Proxy_Authentication

Enforce user budgets for proxy admins (#219)
  litellm/proxy/auth/user_api_key_auth.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
Due: Proxy_Authentication

fix(ui): expose the authorization MCP auth type in the create and edit forms
  ui/litellm-dashboard/src/app/(dashboard)/mcp-servers/_components/create_mcp_server.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/mcp-servers/_components/create_mcp_server.tsx
  ui/litellm-dashboard/src/app/(dashboard)/mcp-servers/_components/mcp_server_edit.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/mcp-servers/_components/mcp_server_edit.tsx
  ui/litellm-dashboard/src/components/mcp_tools/types.test.tsx
  ui/litellm-dashboard/src/components/mcp_tools/types.tsx
Due: none

fix(proxy): start on consoles that cannot encode the startup banner
  litellm/proxy/common_utils/banner.py
  tests/test_litellm/proxy/common_utils/test_banner.py
Due: none

Scope user budget checks to LLM routes (#220)
  litellm/proxy/auth/auth_checks.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
Due: Proxy_Authentication

fix(complexity_router): escalate a session pin when a turn scores higher
  litellm/router_strategy/complexity_router/complexity_router.py
  tests/test_litellm/router_strategy/test_complexity_router.py
Due: none

fix(responses): stream emulated file_search results instead of 500ing
  litellm/responses/file_search/emulated_handler.py
  litellm/responses/streaming_iterator.py
  tests/test_litellm/llms/test_file_search_responses.py
Due: none

fix(responses): search emulated file_search stores with their registered provider
  litellm/proxy/rag_endpoints/endpoints.py
  litellm/responses/file_search/emulated_handler.py
  tests/test_litellm/llms/test_file_search_responses.py
  tests/test_litellm/proxy/rag_endpoints/test_rag_endpoints.py
Due: none

feat(cli): add litellm-token-count subcommand for offline token counting
  litellm/cli/__init__.py
  litellm/cli/token_count.py
  pyproject.toml
Due: none

test(cli): cover litellm-token-count pass / fail / invalid-input paths
  tests/test_litellm/cli/test_token_count.py
Due: none

fix(cli): drop TypedDict + cast from token_count to stay within ruff-strict TID251 budget
  litellm/cli/token_count.py
Due: none

fix(cli): replace banned type: ignore in token_count with runtime assert
  litellm/cli/token_count.py
Due: none

test(responses): cover emulated file_search stream fallback without logging object
  tests/test_litellm/llms/test_file_search_responses.py
Due: none

ci(misc): include tests/test_litellm/cli in the misc unit-test job
  .github/workflows/test-unit-misc.yml
Due: none

fix(guardrails): accept raw DB dict in PresidioGuardrail param update
  litellm/proxy/guardrails/guardrail_hooks/presidio.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_presidio.py
Due: none

feat(guardrails): generic apply_guardrail_to_model_groups scoping in CustomGuardrail base class
  litellm/integrations/custom_guardrail.py
  litellm/proxy/guardrails/guardrail_registry.py
  litellm/types/guardrails.py
  tests/test_litellm/integrations/test_custom_guardrail.py
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
Due: litellm_logging

fix(guardrails): sync event_hook when a params update changes mode
  litellm/integrations/custom_guardrail.py
  tests/test_litellm/integrations/test_custom_guardrail.py
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
Due: litellm_logging

fix(guardrails): don't let a partial params update null out omitted fields
  litellm/integrations/custom_guardrail.py
  tests/test_litellm/integrations/test_custom_guardrail.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_presidio.py
Due: litellm_logging

fix(guardrails): match model_group scope against every metadata container
  litellm/integrations/custom_guardrail.py
  tests/test_litellm/integrations/test_custom_guardrail.py
Due: litellm_logging

fix(guardrails): accept raw DB dict in update_in_memory_litellm_params
  litellm/integrations/custom_guardrail.py
  litellm/proxy/guardrails/guardrail_hooks/tool_permission.py
  litellm/proxy/guardrails/guardrail_registry.py
  tests/test_litellm/integrations/test_custom_guardrail.py
Due: litellm_logging

fix(guardrails): normalize model groups on update path; check both model and model_group in gate
  litellm/integrations/custom_guardrail.py
  tests/test_litellm/integrations/test_custom_guardrail.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: litellm_logging

fix(guardrails): apply explicit null updates instead of skipping them
  litellm/integrations/custom_guardrail.py
  litellm/proxy/guardrails/guardrail_hooks/presidio.py
  tests/test_litellm/integrations/test_custom_guardrail.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_presidio.py
Due: litellm_logging

fix(guardrails): clear tool-permission rules on explicit null instead of restoring
  litellm/proxy/guardrails/guardrail_hooks/tool_permission.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_tool_permission.py
Due: none

fix(mcp): reject the gateway's own /callback as a DCR client redirect_uri
  litellm/proxy/_experimental/mcp_server/discoverable_endpoints.py
  litellm/proxy/_experimental/mcp_server/oauth_utils.py
  litellm/proxy/management_endpoints/mcp_management_endpoints.py
  tests/test_litellm/proxy/_experimental/mcp_server/test_discoverable_endpoints.py
Due: none

test(responses): cover synthetic responses stream replay iterator
  tests/test_litellm/responses/test_streaming_iterator.py
Due: none

fix(ollama): emit streamed tool calls instead of raw JSON content
  litellm/llms/ollama/completion/transformation.py
  litellm/utils.py
  tests/test_litellm/llms/ollama/test_ollama_completion_transformation.py
Due: none

style: fix ruff format in batches_endpoints/endpoints.py
  litellm/proxy/batches_endpoints/endpoints.py
Due: none

fix(claude-code): allow dot-prefixed segments in git-subdir paths
  litellm/proxy/anthropic_endpoints/claude_code_endpoints/claude_code_marketplace.py
  tests/test_litellm/proxy/anthropic_endpoints/test_claude_code_marketplace.py
Due: none

fix(cursor): translate chat completion content blocks to Responses API input
  litellm/proxy/response_api_endpoints/endpoints.py
  tests/test_litellm/proxy/response_api_endpoints/test_endpoints.py
Due: none

feat: add support for Poolside models on OpenRouter
  litellm/model_prices_and_context_window_backup.json
  litellm/proxy/management_endpoints/credential_migration.py
  model_prices_and_context_window.json
  tests/test_litellm/llms/openrouter/chat/test_openrouter_chat_transformation.py
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
