Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix linting error
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

fix litellm logging
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

fix get model info logic to use O(1) lookups
  litellm/__init__.py
  litellm/types/utils.py
  litellm/utils.py
Due: none

perf - use O(1) lookup for get llm provider
  litellm/litellm_core_utils/get_llm_provider_logic.py
Due: none

speed up use_custom_pricing_for_model
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

docs(config_settings.md): update docs to include new athina env var
  docs/my-website/docs/proxy/config_settings.md
Due: none

latency fix _cache_key_object
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

fix uvloop critical fix
  poetry.lock
  pyproject.toml
Due: none

bump: version 1.57.6 → 1.57.7
  pyproject.toml
Due: none

test(test_basic_python_version.py): assert all optional dependencies are marked as extras on poetry
  dist/litellm-1.57.6.tar.gz
  tests/local_testing/test_basic_python_version.py
Due: none

latency fix _cache_key_object (#7676)
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

speed up use_custom_pricing_for_model (#7674)
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

(litellm sdk - perf improvement) - use O(1) set lookups for checking llm providers / models (#7672)
  litellm/__init__.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/types/utils.py
  litellm/utils.py
Due: none

(litellm sdk - perf improvement) - optimize `pre_call_check` (#7673)
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

docs(secret.md): clarify 'read_and_write' secret manager usage on aws
  docs/my-website/docs/secret.md
Due: none

docs(secret.md): fix doc
  docs/my-website/docs/secret.md
Due: none

build(ui/teams.tsx): add edit/delete button for updating user / team membership on ui
  litellm/proxy/_experimental/out/404.html
  litellm/proxy/_experimental/out/model_hub.html
  litellm/proxy/_experimental/out/onboarding.html
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

build(ui/teams.tsx): display edit member component on ui, when edit button on member clicked
  ui/litellm-dashboard/src/components/team/edit_membership.tsx
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

heroku additions - initial test
  litellm/__init__.py
  litellm/constants.py
  litellm/llms/bedrock/chat/invoke_handler.py
  litellm/llms/bedrock/embed/amazon_titan_g1_transformation.py
  litellm/llms/openai/chat/gpt_transformation.py
  litellm/llms/openai/openai.py
  litellm/main.py
  litellm/types/utils.py
  litellm/utils.py
Due: none

transformation.py
  litellm/llms/heroku/chat/transformation.py
Due: none

feat(team_endpoints.py): support updating team member role to admin via api endpoints
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/team_endpoints.py
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/components/team/edit_membership.tsx
  ui/litellm-dashboard/src/components/teams.tsx
Due: none

fix handle_sync_success_callbacks_for_async_calls
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

fix handle_sync_success_callbacks_for_async_calls
  litellm/utils.py
Due: none

fix linting / testing errors
  litellm/litellm_core_utils/litellm_logging.py
  tests/logging_callback_tests/test_unit_tests_init_callbacks.py
Due: litellm_logging

build(ui/user_dashboard.tsx): if team admin - show all team keys
  ui/litellm-dashboard/src/components/team/edit_membership.tsx
  ui/litellm-dashboard/src/components/user_dashboard.tsx
  ui/litellm-dashboard/src/components/view_key_table.tsx
Due: none

test(config.yml): add tomli to ci/cd
  .circleci/config.yml
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
