Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix(hooks): address Greptile review on PR #28703
  .githooks/commit-msg
  CONTRIBUTING.md
  tests/test_litellm/test_git_hooks.py
Due: none

test(bedrock): swap legacy claude-3/3.5 model strings for 4.5 inference profiles
  tests/litellm_utils_tests/test_litellm_overhead.py
  tests/local_testing/test_function_calling.py
  tests/test_openai_endpoints.py
Due: none

feat(responses): explicitly handle unsupported built-in tool types in Responses → Chat Completion transformation
  litellm/llms/anthropic/chat/transformation.py
  litellm/llms/vertex_ai/gemini/vertex_and_google_ai_studio_gemini.py
  litellm/responses/litellm_completion_transformation/transformation.py
  tests/test_litellm/llms/anthropic/chat/test_anthropic_chat_transformation.py
  tests/test_litellm/llms/vertex_ai/gemini/test_vertex_and_google_ai_studio_gemini.py
  tests/test_litellm/responses/litellm_completion_transformation/test_litellm_completion_responses.py
Due: none

fix(otel): stamp http.response.status_code on every SERVER span path
  litellm/integrations/opentelemetry.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/proxy_server.py
  tests/test_litellm/integrations/open_telemetry/test_otel_exception_handler.py
  tests/test_litellm/integrations/open_telemetry/test_otel_unified_endpoints.py
Due: litellm_logging, Proxy_Authentication

CI: copy of #25177 (OCI GenAI: embeddings, streaming/reasoning fixes, model catalog) (#28223)
  .github/workflows/codeql.yml
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/llms/oci/chat/cohere.py
  litellm/llms/oci/chat/generic.py
  litellm/llms/oci/chat/transformation.py
  litellm/llms/oci/common_utils.py
  litellm/llms/oci/embed/transformation.py
  litellm/main.py
  litellm/model_prices_and_context_window_backup.json
  litellm/router.py
  litellm/types/llms/oci.py
  litellm/utils.py
  model_prices_and_context_window.json
  tests/code_coverage_tests/recursive_detector.py
  tests/integration/oci_proxy_test_config.yaml
  tests/integration/test_oci_integration.py
  tests/integration/test_oci_proxy_integration.py
  tests/litellm/llms/oci/chat/test_oci_chat_transformation.py
  tests/test_litellm/llms/oci/chat/test_oci_chat_transformation.py
  tests/test_litellm/llms/oci/chat/test_oci_cohere_tool_calls.py
  tests/test_litellm/llms/oci/chat/test_oci_generic_chat.py
  tests/test_litellm/llms/oci/chat/test_oci_sse_splitter.py
  tests/test_litellm/llms/oci/chat/test_oci_streaming_tool_calls.py
  tests/test_litellm/llms/oci/embed/test_oci_embed_transformation.py
  tests/test_litellm/llms/oci/embed/test_oci_embedding.py
  tests/test_litellm/llms/oci/rerank/__init__.py
  tests/test_litellm/llms/oci/test_oci_common_utils.py
  tests/test_litellm/llms/oci/test_oci_coverage_boost.py
Due: Router

encrypt callback_vars in key/team metadata at rest (#27141)
  litellm/proxy/common_utils/callback_utils.py
  litellm/proxy/litellm_pre_call_utils.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_callback_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  tests/proxy_unit_tests/test_proxy_utils.py
  tests/test_litellm/proxy/common_utils/test_callback_utils.py
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_team_callback_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_team_endpoints.py
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: none

perf: reduce per-request and per-chunk overhead across Anthropic streaming hot paths (#28289)
  litellm/llms/anthropic/experimental_pass_through/messages/handler.py
  litellm/llms/anthropic/experimental_pass_through/messages/transformation.py
  litellm/llms/anthropic/experimental_pass_through/messages/utils.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/proxy/common_request_processing.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/anthropic_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/streaming_handler.py
  litellm/proxy/utils.py
  scripts/benchmark_anthropic_messages_perf.py
  tests/test_litellm/llms/anthropic/experimental_pass_through/messages/test_anthropic_experimental_pass_through_messages_handler.py
  tests/test_litellm/llms/anthropic/experimental_pass_through/messages/test_request_optional_param_utils.py
  tests/test_litellm/llms/custom_httpx/test_llm_http_handler.py
  tests/test_litellm/proxy/pass_through_endpoints/llm_provider_handlers/test_anthropic_passthrough_logging_handler.py
  tests/test_litellm/proxy/test_common_request_processing.py
  tests/test_litellm/proxy/test_proxy_logging_hook_detection.py
Due: none

feat(azure): add speech transcription config support (#27482)
  litellm/__init__.py
  litellm/_lazy_imports_registry.py
  litellm/llms/azure/audio_transcription/__init__.py
  litellm/llms/azure/audio_transcription/transformation.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/main.py
  litellm/model_prices_and_context_window_backup.json
  litellm/utils.py
  model_prices_and_context_window.json
  tests/test_litellm/llms/azure/test_azure_speech_audio_transcription.py
Due: none

test(proxy): phase-4 payload behavior pinning for tier-2/3 key + team management endpoints (#28681)
  tests/proxy_behavior/management/conftest.py
  tests/proxy_behavior/management/test_f7_coverage_closeout.py
  tests/proxy_behavior/management/test_f7_key_coverage_push.py
  tests/proxy_behavior/management/test_key_budget_limits.py
  tests/proxy_behavior/management/test_key_team_change.py
  tests/proxy_behavior/management/test_team_budget_limits.py
  tests/proxy_behavior/management/test_team_info.py
  tests/proxy_behavior/management/test_team_member_info_validation.py
  tests/proxy_behavior/management/test_team_permissions_bulk_update.py
  tests/proxy_behavior/management/test_team_update.py
Due: none

feat(prometheus): emit per-token-type detail metrics (LIT-3220) (#28372) (#28378)
  litellm/integrations/prometheus.py
  litellm/types/integrations/prometheus.py
  tests/test_litellm/integrations/test_prometheus_token_detail_metrics.py
Due: litellm_logging

fix(otel): stamp http.response.status_code on all error responses (#28405)
  litellm/integrations/opentelemetry.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_helpers/utils.py
  litellm/proxy/proxy_server.py
  tests/test_litellm/integrations/open_telemetry/__init__.py
  tests/test_litellm/integrations/open_telemetry/_helpers.py
  tests/test_litellm/integrations/open_telemetry/conftest.py
  tests/test_litellm/integrations/open_telemetry/test_otel_admin_endpoints.py
  tests/test_litellm/integrations/open_telemetry/test_otel_exception_handler.py
  tests/test_litellm/integrations/open_telemetry/test_otel_passthrough_endpoints.py
  tests/test_litellm/integrations/open_telemetry/test_otel_unified_endpoints.py
Due: litellm_logging, Proxy_Authentication

test: cover redis semantic cache miss paths
  tests/test_litellm/caching/test_redis_semantic_cache.py
Due: Caching

test: accept budget_exceeded interaction status
  tests/test_litellm/interactions/test_openapi_compliance.py
Due: none

fix: install libatomic in non-root image
  docker/Dockerfile.non_root
Due: none

test(model_prices): allow audio_transcription_config in schema
  tests/test_litellm/test_utils.py
Due: none

fix(gemini realtime): event_id, item copy, and dict guard for tool-call events
  litellm/llms/gemini/realtime/transformation.py
  litellm/types/llms/openai.py
Due: none

fix: filter sensitive cache lookup kwargs
  litellm/caching/caching.py
  tests/test_litellm/caching/test_redis_semantic_cache.py
Due: Caching

fix(gemini realtime): buffer standalone usageMetadata for next response.done
  litellm/llms/gemini/realtime/transformation.py
  tests/test_litellm/llms/gemini/realtime/test_gemini_realtime_transformation.py
Due: none

Remove local proof script from PR diff
  scripts/bedrock_parallel_tool_choice_proof.py
Due: none

fix(helm): drop main- prefix from default image tag
  deploy/charts/litellm-helm/Chart.yaml
  deploy/charts/litellm-helm/templates/deployment.yaml
  deploy/charts/litellm-helm/templates/migrations-job.yaml
  deploy/charts/litellm-helm/values.yaml
Due: none

fix(proxy): merge metadata buckets for batch policy response headers
  litellm/proxy/common_utils/callback_utils.py
  tests/test_litellm/proxy/common_utils/test_callback_utils.py
Due: none

fix(helm): use :latest in tag override example, not pinned version
  deploy/charts/litellm-helm/values.yaml
Due: none

fix(docker): build UI from source in Dockerfile.non_root instead of copied artefacts
  docker/Dockerfile.non_root
Due: none

fix(ci): use rm+mv in build_ui.sh so dest dir need not pre-exist
  ui/litellm-dashboard/build_ui.sh
Due: none

revert: finish restoring .gitignore and Dockerfile.non_root to original state
  .gitignore
  docker/Dockerfile.non_root
Due: none

feat(docker): add backend service to docker-compose matching helm chart (LIT-2815)
  docker-compose.yml
  tests/test_litellm/test_docker_compose.py
Due: none

fix(model-edit): allow clearing custom input/output cost on wildcard deployments
  litellm/proxy/management_endpoints/model_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_model_management_endpoints.py
  ui/litellm-dashboard/src/components/model_info_view.tsx
Due: none

fix(model-edit): run null-clears after both merges, not interleaved
  litellm/proxy/management_endpoints/model_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_model_management_endpoints.py
Due: none

fix(docker): remove spurious backend service from compose split
  docker-compose.yml
  tests/test_litellm/test_docker_compose.py
Due: none

fix(prometheus): delete all *_{pid}.db files on worker exit to stop storage growth
  litellm/proxy/prometheus_cleanup.py
  tests/test_litellm/proxy/test_prometheus_cleanup.py
Due: none

feat(proxy): graceful shutdown with SIGTERM drain support (LIT-3307)
  litellm/proxy/health_endpoints/_health_endpoints.py
  litellm/proxy/proxy_server.py
  litellm/proxy/shutdown/__init__.py
  litellm/proxy/shutdown/graceful_shutdown_manager.py
  tests/test_litellm/proxy/conftest.py
  tests/test_litellm/proxy/test_graceful_shutdown.py
Due: none

test(e2e): clear-custom-pricing flow with create/delete cleanup
  ui/litellm-dashboard/e2e_tests/tests/modelsPage/clearCustomPricing.spec.ts
Due: none

fix(terraform/aws): make db_bootstrap_sql output idempotent (LIT-3173)
  terraform/litellm/aws/outputs.tf
Due: none

feat(terraform): one-click + zero-config deploy for AWS and GCP stacks
  .github/workflows/terraform-modules-publish.yml
  README.md
  terraform/litellm/README.md
  terraform/litellm/aws/README.md
  terraform/litellm/aws/alb.tf
  terraform/litellm/aws/ecs.tf
  terraform/litellm/aws/examples/default/deploy.sh
  terraform/litellm/aws/examples/default/main.tf
  terraform/litellm/aws/examples/default/terraform.tfvars.example
  terraform/litellm/aws/examples/default/tutorial.md
  terraform/litellm/aws/examples/default/variables.tf
  terraform/litellm/gcp/README.md
  terraform/litellm/gcp/artifact_registry.tf
  terraform/litellm/gcp/cloudrun.tf
  terraform/litellm/gcp/cloudsql.tf
  terraform/litellm/gcp/examples/default/main.tf
  terraform/litellm/gcp/examples/default/providers.tf
  terraform/litellm/gcp/examples/default/terraform.tfvars.example
  terraform/litellm/gcp/examples/default/tutorial.md
  terraform/litellm/gcp/examples/default/variables.tf
  terraform/litellm/gcp/locals.tf
  terraform/litellm/gcp/redis.tf
  terraform/litellm/gcp/variables.tf
Due: Caching

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
