Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

test(redis): cover credential provider exclusivity with _async_auth_kwargs
  tests/test_litellm/test_redis.py
Due: Caching

test(access-groups): give each xdist worker its own fixture ids
  tests/proxy_admin_ui_tests/test_access_group_team_sync.py
Due: none

fix(cost): price image generations from the requested quality when the response omits it
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: none

feat(ui): edit the auto-router tier set with custom classifier-defined tiers (#38603)
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/CostOptimizationView.activity.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/TierTurnsChart.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/TierTurnsChart.tsx
  ui/litellm-dashboard/src/components/add_model/ClassificationMethodConfig.tsx
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.test.tsx
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.tsx
  ui/litellm-dashboard/src/components/add_model/KeywordTierRules.tsx
  ui/litellm-dashboard/src/components/add_model/TierRestrictions.tsx
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.test.tsx
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.tsx
  ui/litellm-dashboard/src/components/edit_auto_router/build_updated_complexity_router_config.test.ts
  ui/litellm-dashboard/src/components/edit_auto_router/edit_auto_router_modal.test.tsx
  ui/litellm-dashboard/src/components/edit_auto_router/edit_auto_router_modal.tsx
Due: none

feat(auto_router): write and preview the classifier prompt an edited tier set sends
  litellm/proxy/_types.py
  litellm/proxy/management_endpoints/model_management_endpoints.py
  litellm/router_strategy/complexity_router/__init__.py
  litellm/router_strategy/complexity_router/complexity_router.py
  litellm/router_strategy/complexity_router/config.py
  tests/test_litellm/proxy/management_endpoints/test_model_management_endpoints.py
  ui/litellm-dashboard/src/components/add_model/ClassificationMethodConfig.tsx
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.test.tsx
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.tsx
  ui/litellm-dashboard/src/components/add_model/CustomTierPromptEditor.test.tsx
  ui/litellm-dashboard/src/components/add_model/CustomTierPromptEditor.tsx
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.tsx
  ui/litellm-dashboard/src/components/add_model/build_complexity_router_config.test.ts
  ui/litellm-dashboard/src/components/add_model/build_complexity_router_config.ts
  ui/litellm-dashboard/src/components/add_model/tier_rows.ts
  ui/litellm-dashboard/src/components/edit_auto_router/build_updated_complexity_router_config.test.ts
  ui/litellm-dashboard/src/components/edit_auto_router/edit_auto_router_modal.tsx
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

fix(cost): only let a WxH request size drive image pricing
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: none

fix(ui): name the orphaned keyword rules inside the tier editor before Done
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.test.tsx
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.tsx
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.test.tsx
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.tsx
  ui/litellm-dashboard/src/components/edit_auto_router/edit_auto_router_modal.tsx
Due: none

wip
  .github/workflows/python-benchmark.yml
  scripts/README.bench_sdk.md
  scripts/bench_sdk.py
  scripts/bench_sdk_runtime.py
  scripts/test_bench_sdk.py
Due: none

feat(proxy): add paginated GET /public/v1/model_hub (#38636)
  .github/workflows/test-unit.yml
  litellm/proxy/_types.py
  litellm/proxy/list_api/__init__.py
  litellm/proxy/list_api/common.py
  litellm/proxy/list_api/in_memory.py
  litellm/proxy/list_api/list_framework.py
  litellm/proxy/management_endpoints/management_v1/budgets.py
  litellm/proxy/management_endpoints/management_v1/common.py
  litellm/proxy/management_endpoints/management_v1/spend_logs.py
  litellm/proxy/proxy_server.py
  litellm/proxy/public_endpoints/public_v1/__init__.py
  litellm/proxy/public_endpoints/public_v1/model_hub.py
  litellm/proxy/utils.py
  tests/test_litellm/proxy/list_api/test_common.py
  tests/test_litellm/proxy/list_api/test_in_memory.py
  tests/test_litellm/proxy/list_api/test_list_framework.py
  tests/test_litellm/proxy/management_endpoints/management_v1/test_budgets.py
  tests/test_litellm/proxy/management_endpoints/management_v1/test_spend_logs.py
  tests/test_litellm/proxy/public_endpoints/public_v1/test_model_hub.py
  tests/test_litellm/proxy/utils/prisma_and_spend/test_prisma_client_health.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

refactor(ui): type search tool params from the generated schema (#38633)
  ui/litellm-dashboard/CLAUDE.md
  ui/litellm-dashboard/src/app/(dashboard)/search-tools/_components/CreateSearchTools.integration.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/search-tools/_components/CreateSearchTools.tsx
  ui/litellm-dashboard/src/app/(dashboard)/search-tools/_components/SearchTools.integration.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/search-tools/_components/searchToolPayload.test.ts
  ui/litellm-dashboard/src/app/(dashboard)/search-tools/_components/searchToolPayload.ts
  ui/litellm-dashboard/src/app/(dashboard)/search-tools/_components/types.tsx
  ui/litellm-dashboard/src/lib/http/searchToolTypes.test-d.ts
Due: none

fix(bedrock): route all Cohere Embed models to BedrockCohereEmbeddingConfig
  litellm/utils.py
  tests/test_litellm/test_utils.py
Due: none

test: assert endpoint config freshness by identity instead of mutating it
  tests/test_litellm/containers/test_endpoint_factory.py
Due: none

test(langfuse): cover empty, whitespace, and truncated tool-call arguments
  tests/test_litellm/integrations/test_langfuse_otel.py
Due: none

test: e2e coverage for MCP toolset enforcement at team, org, and user levels
  tests/e2e/coverage_registry/mcp.yaml
  tests/e2e/mcp/datadog_mcp.py
  tests/e2e/mcp/mcp_client.py
  tests/e2e/mcp/test_mcp_toolset_enforcement_e2e.py
  tests/e2e/models.py
Due: none

assets: shadow eval cost comparison screenshots for PR 38631
  shadoweval_cost_forward.jpg
  shadoweval_cost_reverse.jpg
Due: none

fix(prometheus): populate custom metadata labels on failure and fallback metrics
  litellm/integrations/prometheus.py
  tests/test_litellm/integrations/test_prometheus_custom_labels_failure_metrics.py
Due: litellm_logging

test: poll the exact tool set to the shared deadline instead of trusting one replica's sync
  tests/e2e/mcp/test_mcp_toolset_enforcement_e2e.py
Due: none

test(prometheus): extend the mapped custom-label test file instead of a new one
  tests/test_litellm/integrations/test_prometheus_custom_labels_failure_metrics.py
  tests/test_litellm/integrations/test_prometheus_custom_metadata_label_counts.py
Due: none

feat(terraform): add tpm_limit, rpm_limit, budget_duration, allowed_models to litellm_team_member_add
  terraform/provider/CHANGELOG.md
  terraform/provider/docs/resources/team_member_add.md
  terraform/provider/litellm/resource_team_member_add.go
  terraform/provider/litellm/resource_team_member_add_test.go
Due: none

fix(proxy): dispatch team callbacks for passthrough failures
  basedpyright-code-budget.json
  litellm/proxy/litellm_pre_call_utils.py
  litellm/proxy/management_endpoints/team_callback_endpoints.py
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  litellm/proxy/vertex_ai_endpoints/langfuse_endpoints.py
  tests/proxy_unit_tests/test_proxy_utils.py
  tests/test_litellm/proxy/management_endpoints/test_team_callback_endpoints.py
  tests/test_litellm/proxy/pass_through_endpoints/test_pass_through_endpoints.py
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: none

test(langfuse): mark the span-attribute patch as an intentional observable seam
  tests/test_litellm/integrations/test_langfuse_otel.py
Due: none

fix(anthropic): count client-marked tools in the chat/completions breakpoint census
  litellm/integrations/anthropic_cache_control_hook.py
  tests/test_litellm/integrations/test_anthropic_cache_control_hook.py
Due: litellm_logging

fix(logging): preserve null end user in callbacks (#38642)
  litellm/litellm_core_utils/litellm_logging.py
  tests/test_litellm/litellm_core_utils/test_litellm_logging.py
Due: litellm_logging

refactor(prometheus): combine custom labels from standard metadata without a wrapper dict
  litellm/integrations/prometheus.py
Due: litellm_logging

fix(router): honor allowed_openai_params when gating tier params
  litellm/router.py
  tests/test_litellm/test_router.py
Due: Router

fix(anthropic): keep tools last so the override stays positionally compatible
  litellm/integrations/anthropic_cache_control_hook.py
Due: litellm_logging

fix(prometheus): type the custom-label helpers as Mapping so TypedDicts are accepted
  litellm/integrations/prometheus.py
Due: litellm_logging

style(bedrock): fix linting and formatting issues with ruff
  tests/test_utils.py
Due: none

test(router): cover _declared_param_allowlist malformed declarations
  tests/test_litellm/test_router.py
Due: none

fix(ui): drop stale classifier prompt preview responses
  ui/litellm-dashboard/src/components/add_model/CustomTierPromptEditor.test.tsx
  ui/litellm-dashboard/src/components/add_model/CustomTierPromptEditor.tsx
Due: none

sync _lazy_openapi_snapshot.json and schema.d.ts with upstream/main
  litellm/proxy/_lazy_openapi_snapshot.json
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

assets: A/B terminal run, shared DB, base vs fix
  lit5749_ab_terminal.png
Due: none

fix(proxy): reset a key's budget-window counters and broadcast the reset cross-pod
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
Due: Proxy_Authentication

fix(proxy): use default_factory for _BudgetCascade.rollover_caps
  litellm/proxy/common_utils/reset_budget_job.py
Due: none

Add LiteLLM Proxy for SynapticChain x402 integrationfeat(examples): add SynapticChain native HTTP 402 pay-per-token proxy hook
  examples/synaptic_x402_litellm_proxy.py
Due: none
