Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix: exchange GitHub access token for inference token in embedding/responses
  litellm/llms/github_copilot/authenticator.py
  litellm/llms/github_copilot/embedding/transformation.py
  litellm/llms/github_copilot/responses/transformation.py
  tests/test_litellm/llms/github_copilot/embedding/test_github_copilot_embedding_transformation.py
  tests/test_litellm/llms/github_copilot/responses/test_github_copilot_responses_transformation.py
Due: none

fix(gemini): prevent duplicate model path generation when api_base includes full route
  litellm/llms/vertex_ai/vertex_llm_base.py
Due: none

feat(router): health-check-driven failover v2 — stricter cooldown qualification
  litellm/router.py
  litellm/router_utils/cooldown_handlers.py
  tests/test_litellm/router_utils/test_health_check_routing.py
  tests/test_litellm/router_utils/test_v2_health_failover.py
Due: Router

fix: apply black formatting to utils.py
  litellm/litellm_core_utils/llm_cost_calc/utils.py
Due: none

fix: apply black formatting to handler.py (upstream lint fix)
  litellm/llms/openai/chat/guardrail_translation/handler.py
Due: none

fix: apply black formatting to audit_logs.py (upstream lint fix)
  litellm/proxy/management_helpers/audit_logs.py
Due: none

fix: update test assertions to expect camelCase field names (functionCall, functionResponse)
  tests/test_litellm/llms/vertex_ai/test_vertex.py
Due: none

fix: apply black formatting to transformation.py
  litellm/llms/anthropic/experimental_pass_through/messages/transformation.py
Due: none

fix: apply black formatting to litellm_logging.py
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

fix: apply black formatting to team_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
Due: none

fix: apply black formatting to ui_sso.py
  litellm/proxy/management_endpoints/ui_sso.py
Due: none

fix(docs): add missing default values to OpenAPI spec
  litellm/proxy/openapi.json
  tests/test_litellm/proxy/test_openapi_schema_validation.py
Due: none

ci: remove test file and sign commit
  malfeasance.pth
Due: none

ci(security): increase fetch-depth and use git history for gitleaks
  .github/workflows/security-gate.yml
Due: none

ci: add security gate workflow for PRs
  .github/workflows/security-gate.yml
Due: none

ci(security): add timeouts and restrict security scans to changed Python files
  .github/workflows/security-gate.yml
  malfeasance.pth
Due: none

ci(security): replace gitleaks-action with direct gitleaks installation
  .github/workflows/security-gate.yml
Due: none

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

ci: update the job to resolve greptile review
  .github/workflows/security-gate.yml
Due: none

style: run black formatter on all litellm source files
  litellm/completion_extras/litellm_responses_transformation/transformation.py
  litellm/litellm_core_utils/prompt_templates/factory.py
  litellm/llms/anthropic/files/transformation.py
  litellm/llms/base_llm/base_model_iterator.py
  litellm/llms/black_forest_labs/image_edit/transformation.py
  litellm/llms/moonshot/chat/transformation.py
  litellm/llms/perplexity/responses/transformation.py
  litellm/proxy/_experimental/mcp_server/rest_endpoints.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/guardrails/guardrail_hooks/presidio.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/ui_sso.py
  litellm/proxy/response_polling/background_streaming.py
  litellm/proxy/utils.py
  litellm/responses/litellm_completion_transformation/transformation.py
Due: Proxy_Authentication

style: run black formatter on all litellm source files
  litellm/completion_extras/litellm_responses_transformation/transformation.py
  litellm/litellm_core_utils/prompt_templates/factory.py
  litellm/llms/anthropic/files/transformation.py
  litellm/llms/base_llm/base_model_iterator.py
  litellm/llms/black_forest_labs/image_edit/transformation.py
  litellm/llms/moonshot/chat/transformation.py
  litellm/llms/perplexity/responses/transformation.py
  litellm/proxy/_experimental/mcp_server/rest_endpoints.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/guardrails/guardrail_hooks/presidio.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/response_polling/background_streaming.py
  litellm/proxy/utils.py
  litellm/responses/litellm_completion_transformation/transformation.py
Due: Proxy_Authentication

style: run black formatter on all litellm source files
  litellm/completion_extras/litellm_responses_transformation/transformation.py
  litellm/litellm_core_utils/prompt_templates/factory.py
  litellm/llms/anthropic/files/transformation.py
  litellm/llms/base_llm/base_model_iterator.py
  litellm/llms/black_forest_labs/image_edit/transformation.py
  litellm/llms/moonshot/chat/transformation.py
  litellm/llms/perplexity/responses/transformation.py
  litellm/proxy/_experimental/mcp_server/rest_endpoints.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/guardrails/guardrail_hooks/bedrock_guardrails.py
  litellm/proxy/guardrails/guardrail_hooks/presidio.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/response_polling/background_streaming.py
  litellm/proxy/utils.py
  litellm/responses/litellm_completion_transformation/transformation.py
Due: Proxy_Authentication

fix(gpt5): exclude all gpt-5*-chat variants from GPT-5 reasoning routing
  litellm/llms/azure/chat/gpt_5_transformation.py
  litellm/llms/openai/chat/gpt_5_transformation.py
  tests/test_litellm/llms/azure/chat/test_azure_gpt5_transformation.py
  tests/test_litellm/llms/openai/test_gpt5_transformation.py
Due: none
