Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix(router): resolve model_group_alias before pre-routing hook lookups
  litellm/router.py
  tests/test_litellm/router_utils/test_pre_routing_hook_alias_resolution.py
Due: Router

test: add adaptive_routers alias resolution test
  tests/test_litellm/router_utils/test_pre_routing_hook_alias_resolution.py
Due: none

fix(anthropic): place strict flag at tool level, not inside input_schema
  litellm/llms/anthropic/chat/transformation.py
  litellm/types/llms/anthropic.py
  tests/test_litellm/llms/anthropic/chat/test_anthropic_chat_transformation.py
Due: none

feat(dashboard): refine navbar zones and Agent Platform notice
  ui/litellm-dashboard/src/components/Navbar/BlogDropdown/BlogDropdown.tsx
  ui/litellm-dashboard/src/components/Navbar/CommunityEngagementButtons/CommunityEngagementButtons.tsx
  ui/litellm-dashboard/src/components/Navbar/NotificationsBell/NotificationsBell.test.tsx
  ui/litellm-dashboard/src/components/Navbar/NotificationsBell/NotificationsBell.tsx
  ui/litellm-dashboard/src/components/Navbar/UserDropdown/UserDropdown.test.tsx
  ui/litellm-dashboard/src/components/Navbar/UserDropdown/UserDropdown.tsx
  ui/litellm-dashboard/src/components/Navbar/navDisplayName.test.ts
  ui/litellm-dashboard/src/components/Navbar/navDisplayName.ts
  ui/litellm-dashboard/src/components/Navbar/navProductLinkClass.ts
  ui/litellm-dashboard/src/components/navbar.test.tsx
  ui/litellm-dashboard/src/components/navbar.tsx
Due: none

fix(mcp): static headers win over forwarded headers in OpenAPI MCP
  litellm/proxy/_experimental/mcp_server/openapi_to_mcp_generator.py
  tests/test_litellm/proxy/_experimental/mcp_server/test_openapi_to_mcp_generator.py
Due: none

fix(ui): don't overwrite guardrails with empty array on model edit
  ui/litellm-dashboard/src/components/model_info_view.test.tsx
  ui/litellm-dashboard/src/components/model_info_view.tsx
Due: none

fix(proxy): honor wildcards in JWT role_permissions model RBAC
  litellm/proxy/auth/handle_jwt.py
  tests/proxy_unit_tests/test_user_api_key_auth.py
Due: Proxy_Authentication

fix(router): set num_retries in embedding() and aembedding()
  litellm/router.py
  tests/test_litellm/test_router_embedding_num_retries.py
Due: Router

fix(router): add _update_kwargs_with_deployment to aspeech()
  litellm/router.py
  tests/test_litellm/test_router_aspeech_deployment_kwargs.py
Due: Router

chore: remove legacy deployment artifacts and litellm-js packages
  AGENTS.md
  CLAUDE.md
  deploy/Dockerfile.ghcr_base
  deploy/kubernetes/kub.yaml
  deploy/kubernetes/service.yaml
  dev_config.yaml
  docker/Dockerfile.alpine
  docker/Dockerfile.custom_ui
  docker/Dockerfile.dev
  docker/Dockerfile.health_check
  index.yaml
  litellm-js/proxy/.npmrc
  litellm-js/proxy/README.md
  litellm-js/proxy/package-lock.json
  litellm-js/proxy/package.json
  litellm-js/proxy/src/index.ts
  litellm-js/proxy/tsconfig.json
  litellm-js/proxy/wrangler.toml
  litellm-js/spend-logs/.npmrc
  litellm-js/spend-logs/Dockerfile
  litellm-js/spend-logs/README.md
  litellm-js/spend-logs/package-lock.json
  litellm-js/spend-logs/package.json
  litellm-js/spend-logs/schema.prisma
  litellm-js/spend-logs/src/_types.ts
  litellm-js/spend-logs/src/index.ts
  litellm-js/spend-logs/tsconfig.json
Due: none

fix: use is-None chaining so strict=False is not swallowed by or
  litellm/llms/anthropic/chat/transformation.py
  tests/test_litellm/llms/anthropic/chat/test_anthropic_chat_transformation.py
Due: none

fix(guardrails/peyeeye): rename classes to PEyeEye, guard length mismatch
  litellm/proxy/guardrails/guardrail_hooks/peyeeye/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/peyeeye/peyeeye.py
  litellm/types/guardrails.py
  litellm/types/proxy/guardrails/guardrail_hooks/peyeeye.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_peyeeye.py
Due: none

fix(guardrails/peyeeye): address review — shared cache, stricter errors
  litellm/proxy/guardrails/guardrail_hooks/peyeeye/peyeeye.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_peyeeye.py
Due: none

feat(guardrails): add peyeeye PII redaction & rehydration guardrail
  litellm/proxy/guardrails/guardrail_hooks/peyeeye/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/peyeeye/peyeeye.py
  litellm/types/guardrails.py
  litellm/types/proxy/guardrails/guardrail_hooks/peyeeye.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_peyeeye.py
Due: none

fix(guardrails/peyeeye): wrap json decode errors, simplify session cleanup
  litellm/proxy/guardrails/guardrail_hooks/peyeeye/peyeeye.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_peyeeye.py
Due: none

fix(dashboard): address PR review — AntD buttons, public page guard, dedupe regex
  ui/litellm-dashboard/src/components/Navbar/BlogDropdown/BlogDropdown.tsx
  ui/litellm-dashboard/src/components/Navbar/NotificationsBell/NotificationsBell.tsx
  ui/litellm-dashboard/src/components/Navbar/UserDropdown/UserDropdown.tsx
  ui/litellm-dashboard/src/components/Navbar/navDisplayName.ts
  ui/litellm-dashboard/src/components/navbar.test.tsx
  ui/litellm-dashboard/src/components/navbar.tsx
Due: none

fix(ui): omit allowed_routes from key edit save when unchanged
  ui/litellm-dashboard/src/components/templates/key_edit_view.test.tsx
  ui/litellm-dashboard/src/components/templates/key_edit_view.tsx
Due: none

Fix proxy auth status code tests
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/auth/auth_exception_handler.py
  litellm/proxy/auth/user_api_key_auth.py
  tests/otel_tests/test_e2e_budgeting.py
  tests/otel_tests/test_e2e_model_access.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
  tests/test_litellm/proxy/auth/test_auth_exception_handler.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
  tests/test_openai_endpoints.py
Due: Proxy_Authentication

fix(ui): order-insensitive allowed_routes diff + cover null-original case
  ui/litellm-dashboard/src/components/templates/key_edit_view.test.tsx
  ui/litellm-dashboard/src/components/templates/key_edit_view.tsx
Due: none

chore(ui): strip ticket refs and tighten comments in key edit fix
  ui/litellm-dashboard/src/components/templates/key_edit_view.test.tsx
  ui/litellm-dashboard/src/components/templates/key_edit_view.tsx
Due: none

fix(ui): annotate Set<string> generic in allowed_routes diff to fix tsc
  ui/litellm-dashboard/src/components/templates/key_edit_view.tsx
Due: none

Update user model access status expectation
  tests/test_users.py
Due: none

feat: add ability to auth to azure with token
  litellm/_redis.py
  tests/test_litellm/test_utils.py
Due: Caching

fix(redis): refresh-aware Azure AD auth + drop raw secret leak
  litellm/_redis.py
  litellm/_redis_credential_provider.py
  tests/test_litellm/test_utils.py
Due: Caching

chore(lint): silence PLR0915 on _get_redis_client_logic
  litellm/_redis.py
Due: Caching

Reset tag spend when linked budget cycle expires
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

fix: reset tag budgets on budget_duration cycle (#27481)
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

fix(chatgpt): aggregate output items for non-streaming responses
  litellm/llms/chatgpt/responses/transformation.py
Due: none

feat(prometheus): add new latency metrics for upstream, gateway, and streaming chunks
  litellm/integrations/prometheus.py
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/llm_response_utils/response_metadata.py
  litellm/proxy/proxy_server.py
  litellm/types/integrations/prometheus.py
  litellm/types/utils.py
  tests/test_litellm/integrations/test_prometheus_metric_name_consistency.py
Due: litellm_logging

fix: reset tag spend on budget cycle (BerriAI/litellm#27481)
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

Fix tag budget reset cache invalidation
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

fix: reset tag spend when linked budget tier resets
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

Address tag reset cache fetch retry
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

Fix: reset LiteLLM_TagTable.spend when linked budget rolls over
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

fix: reset spend on tags linked to expiring budget tiers
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

fix: drop stale tag cache after budget reset
  litellm/proxy/common_utils/reset_budget_job.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

fix: enforce tag budgets when tags are passed via x-litellm-tags header
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/common_utils/http_parsing_utils.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
  tests/test_litellm/proxy/common_utils/test_http_parsing_utils.py
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
Due: Proxy_Authentication

chore(mcp): only register approved servers from single-row paths
  litellm/proxy/_experimental/mcp_server/mcp_server_manager.py
  tests/test_litellm/proxy/_experimental/mcp_server/test_mcp_server_manager.py
Due: none

test(mcp): set approval_status on add_server mocks
  tests/mcp_tests/test_mcp_server.py
Due: none

chore(mcp): reject stdio transport on the user submission endpoint
  litellm/proxy/management_endpoints/mcp_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_mcp_management_endpoints.py
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
