Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

Setup on LiteLLM config
  docs/my-website/docs/proxy/db_deadlocks.md
Due: none

feat: more updates
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/proxy/_types.py
  litellm/proxy/hooks/__init__.py
  litellm/proxy/hooks/managed_files.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  litellm/proxy/utils.py
  litellm/router.py
  litellm/router_utils/common_utils.py
  litellm/types/llms/openai.py
  litellm/types/router.py
  litellm/types/utils.py
  tests/litellm/proxy/openai_files_endpoint/test_files_endpoint.py
Due: Router, litellm_logging

feat: initial working commit of unified file id translation
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/main.py
  litellm/proxy/hooks/managed_files.py
Due: none

refactor pod lock manager to use redis
  litellm/caching/redis_cache.py
Due: Caching

test pod lock manager
  litellm/proxy/db/db_transaction_queue/pod_lock_manager.py
  tests/proxy_unit_tests/test_e2e_pod_lock_manager.py
Due: none

fix: additional fixes
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/main.py
  tests/litellm/proxy/openai_files_endpoint/test_files_endpoint.py
Due: none

fix pod lock manager
  litellm/proxy/proxy_config.yaml
  litellm/proxy/utils.py
Due: none

test pod lock manager
  tests/litellm/proxy/db/db_transaction_queue/test_pod_lock_manager.py
Due: none

fix(router.py): remove model replace logic in jsonl on acreate_file
  litellm/proxy/common_utils/openai_endpoint_utils.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  litellm/router.py
Due: Router

fix(files_endpoints.py): remove whitespace around model name
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  litellm/types/utils.py
Due: none

fix(azure/handler.py): return acreate_file with correct response type
  litellm/llms/azure/files/handler.py
  litellm/proxy/hooks/managed_files.py
Due: none

use service logger for tracking pod lock status
  litellm/types/services.py
Due: none

emit lock acquired and released events
  litellm/proxy/db/db_transaction_queue/pod_lock_manager.py
Due: none

fix: fix linting errors
  litellm/main.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
Due: none

test: fix mock test to run on github actions
  tests/litellm/proxy/openai_files_endpoint/test_files_endpoint.py
Due: none

fix: fix ruff errors
  litellm/litellm_core_utils/prompt_templates/common_utils.py
  litellm/proxy/common_utils/openai_endpoint_utils.py
  litellm/proxy/hooks/managed_files.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  litellm/router.py
Due: Router

clean up service metrics
  litellm/_service_logger.py
  litellm/integrations/prometheus_services.py
  litellm/proxy/proxy_config.yaml
Due: litellm_logging

fix: fix file too large error
  litellm/proxy/openai_files_endpoints/files_endpoints.py
Due: none

track service types on prom services
  litellm/types/services.py
Due: none

fix(utils.py): remove redundant var
  litellm/types/utils.py
Due: none

test: modify test to work on github actions
  tests/litellm/proxy/openai_files_endpoint/test_files_endpoint.py
Due: none

doc fix sso login url
  docs/my-website/docs/proxy/admin_ui_sso.md
Due: none
