Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix(budget_manager.py): remove requests lib usgae
  litellm/budget_manager.py
Due: none

fix(main.py): cleanup requests lib usage
  litellm/main.py
Due: none

fix(utils.py): remove requests lib usage
  litellm/utils.py
Due: none

fix(argilla.py): fix argilla test
  litellm/integrations/argilla.py
  litellm/llms/custom_httpx/http_handler.py
Due: litellm_logging

fix(athina.py): replace 'requests' lib usage with litellm module
  litellm/integrations/athina.py
Due: litellm_logging

fix(greenscale.py): replace 'requests' lib usage with httpx
  litellm/integrations/dynamodb.py
  litellm/integrations/greenscale.py
Due: litellm_logging

fix: remove unused 'requests' lib import + replace usage in some places
  litellm/integrations/helicone.py
  litellm/integrations/langsmith.py
  litellm/integrations/prometheus.py
  litellm/integrations/prometheus_services.py
  litellm/integrations/supabase.py
  litellm/integrations/weights_biases.py
  litellm/llms/azure/completion/handler.py
  litellm/llms/cohere/embed/handler.py
  litellm/llms/custom_llm.py
  litellm/llms/huggingface/chat/handler.py
  litellm/llms/vertex_ai/vertex_ai_non_gemini.py
  litellm/llms/vllm/completion/handler.py
  litellm/proxy/proxy_cli.py
  tests/documentation_tests/test_requests_lib_usage.py
Due: LLMs, litellm_logging

fix ruff print check
  ruff.toml
Due: none

fix(prompt_layer.py): remove 'requests' lib usage from prompt layer
  litellm/integrations/prompt_layer.py
Due: litellm_logging

fix ruff check
  litellm/llms/openai_like/chat/handler.py
  litellm/llms/openai_like/chat/transformation.py
Due: none

fix(ollama_chat.py): remove 'requests' lib usage
  litellm/llms/ollama_chat.py
Due: LLMs

fix(baseten.py): replace 'requests' lib usage
  litellm/llms/baseten.py
Due: LLMs

ui fix tags getting proxy settings
  ui/litellm-dashboard/src/components/usage.tsx
Due: none

(code quality) Add ruff check to ban `print` in repo (#7233)
  litellm/llms/openai_like/chat/handler.py
  litellm/llms/openai_like/chat/transformation.py
  ruff.toml
Due: none

ui fix tags getting proxy settings (#7234)
  ui/litellm-dashboard/src/components/usage.tsx
Due: none

fix(codestral/): replace 'requests' lib usage
  litellm/llms/codestral/completion/handler.py
Due: none

ui new build
  litellm/proxy/_experimental/out/404.html
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-0ad2ec54b8904803.js
  litellm/proxy/_experimental/out/_next/static/chunks/app/page-276b2ef886aa0b4e.js
  litellm/proxy/_experimental/out/_next/static/hVf_gZvXyfiXWr1kx6sNi/_buildManifest.js
  litellm/proxy/_experimental/out/_next/static/hVf_gZvXyfiXWr1kx6sNi/_ssgManifest.js
  litellm/proxy/_experimental/out/index.html
  litellm/proxy/_experimental/out/index.txt
  litellm/proxy/_experimental/out/model_hub.html
  litellm/proxy/_experimental/out/model_hub.txt
  litellm/proxy/_experimental/out/onboarding.html
  litellm/proxy/_experimental/out/onboarding.txt
  ui/litellm-dashboard/out/404.html
  ui/litellm-dashboard/out/_next/static/chunks/app/page-0ad2ec54b8904803.js
  ui/litellm-dashboard/out/_next/static/chunks/app/page-276b2ef886aa0b4e.js
  ui/litellm-dashboard/out/_next/static/hVf_gZvXyfiXWr1kx6sNi/_buildManifest.js
  ui/litellm-dashboard/out/_next/static/hVf_gZvXyfiXWr1kx6sNi/_ssgManifest.js
  ui/litellm-dashboard/out/index.html
  ui/litellm-dashboard/out/index.txt
  ui/litellm-dashboard/out/model_hub.html
  ui/litellm-dashboard/out/model_hub.txt
  ui/litellm-dashboard/out/onboarding.html
  ui/litellm-dashboard/out/onboarding.txt
Due: none

fix(predibase/): replace 'requests' lib usage
  litellm/llms/predibase/chat/handler.py
Due: none

add BudgetConfig
  litellm/__init__.py
  litellm/types/utils.py
Due: none

refactor: cleanup unused 'requests' lib imports
  litellm/llms/anthropic/chat/handler.py
  litellm/llms/anthropic/chat/transformation.py
  litellm/llms/deprecated_providers/aleph_alpha.py
  litellm/llms/vertex_ai/gemini/vertex_and_google_ai_studio_gemini.py
  litellm/llms/vertex_ai/vertex_ai_partner_models/anthropic/transformation.py
  tests/documentation_tests/test_requests_lib_usage.py
Due: none

fix(oobabooga.py): cleanup 'requests' lib usage
  litellm/llms/oobabooga/chat/oobabooga.py
Due: none

fix(invoke_handler.py): remove unused 'requests' lib usage
  litellm/llms/bedrock/base_aws_llm.py
  litellm/llms/bedrock/chat/invoke_handler.py
Due: none

add _get_tags_from_request_kwargs
  litellm/router_strategy/tag_based_routing.py
Due: none

test_tag_budgets_e2e_test_expect_to_fail
  tests/local_testing/test_router_budget_limiter.py
Due: none

refactor: cleanup unused 'requests' lib import
  litellm/llms/openai_like/chat/handler.py
  litellm/llms/openai_like/embedding/handler.py
  litellm/llms/sagemaker/completion/handler.py
  litellm/router_strategy/least_busy.py
  litellm/router_strategy/lowest_tpm_rpm.py
Due: none

add a check for request tags
  litellm/router_strategy/budget_limiter.py
Due: none

fix: fix linting errors
  litellm/llms/ollama_chat.py
  litellm/main.py
Due: LLMs

fix _async_get_cache_keys_for_router_budget_limiting
  litellm/router_strategy/budget_limiter.py
Due: none

Fix vllm import (#7224)
  litellm/llms/vllm/completion/handler.py
Due: none

fix test
  tests/local_testing/test_router_budget_limiter.py
Due: none

Add new Gemini 2.0 Flash model to Vertex AI. (#7193)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none
