Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

feat(team): enforce team-level model_max_budget with key-level overrides
  litellm/proxy/_types.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/hooks/model_max_budget_limiter.py
  litellm/proxy/litellm_pre_call_utils.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  tests/proxy_unit_tests/test_unit_test_max_model_budget_limiter.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: Proxy_Authentication

fix(team-callbacks): report API-registered callbacks from GET /team/{team_id}/callback (#35512)
  litellm/proxy/management_endpoints/team_callback_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_team_callback_endpoints.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

fix(team-callbacks): actually stop logging when disable_logging is called
  litellm/proxy/management_endpoints/team_callback_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_team_callback_endpoints.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

build(makefile): run bootstrap before pre-commit lint
  Makefile
Due: none

fix(prompt_management): don't hijack vector-store requests without a prompt_id
  litellm/integrations/prompt_management_base.py
  litellm/litellm_core_utils/litellm_logging.py
  tests/test_litellm/litellm_core_utils/test_litellm_logging.py
Due: litellm_logging

chore(lint): use a PEP 604 union for the flat tool_choice helper (UP007)
  litellm/completion_extras/litellm_responses_transformation/transformation.py
Due: none

fix(auth): distinguish end-user lookup failures from missing end users
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/auth/user_api_key_auth.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
Due: Proxy_Authentication

fix(files): enforce require_managed_files on file retrieve, content and delete
  litellm/proxy/openai_files_endpoints/common_utils.py
  litellm/proxy/openai_files_endpoints/files_endpoints.py
  tests/test_litellm/proxy/openai_files_endpoint/test_files_endpoint.py
Due: none

fix(teams): validate org limits against final team state including defaults
  litellm/proxy/management_endpoints/team_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_team_default_params.py
Due: none

Merge pull request #35523 from BerriAI/litellm_ui_login_no_mcp_landing
  litellm/proxy/_experimental/mcp_server/gateway_dcr_flow.py
  tests/e2e/ui/tests/internal-user/internalUserNoTeam.spec.ts
  tests/test_litellm/proxy/_experimental/mcp_server/test_gateway_dcr_flow.py
  ui/litellm-dashboard/src/app/(dashboard)/hooks/keys/useKeys.ts
  ui/litellm-dashboard/src/app/(dashboard)/page.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/page.tsx
  ui/litellm-dashboard/src/app/connect/page.test.tsx
  ui/litellm-dashboard/src/app/connect/page.tsx
Due: none

chore: sync generated dashboard api types after staging merge
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

fix(auth): only skip centralized common_checks for requests custom auth actually authenticated
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/response_api_endpoints/endpoints.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
Due: Proxy_Authentication

fix(team): harden team model budget against review findings
  litellm/proxy/hooks/model_max_budget_limiter.py
  litellm/proxy/management_endpoints/credential_migration.py
  tests/proxy_unit_tests/test_unit_test_max_model_budget_limiter.py
Due: none

fix(spend): price each arm under the key litellm billed it, and see agent turns
  litellm/proxy/db/db_spend_update_writer.py
  litellm/proxy/spend_tracking/savings.py
  litellm/router_strategy/complexity_router/complexity_router.py
  litellm/router_strategy/savings_baseline.py
  litellm/types/utils.py
  tests/test_litellm/router_strategy/test_complexity_router.py
  tests/test_litellm/router_strategy/test_savings_baseline.py
Due: none

feat(proxy): resolve Cursor thinking/fast model-name suffixes on /cursor/chat/completions
  litellm/proxy/response_api_endpoints/endpoints.py
  tests/test_litellm/proxy/response_api_endpoints/test_endpoints.py
Due: none

test(proxy_behavior): pin org team limits as enforced on /team/new
  tests/proxy_behavior/management/test_team_budget_limits.py
  tests/proxy_behavior/management/test_team_new.py
Due: none

fix(spend): give the cost-key resolver both inputs the selected arm needs
  litellm/proxy/db/db_spend_update_writer.py
  litellm/proxy/spend_tracking/savings.py
Due: none

feat(gemini): add gemini-robotics-er-2-preview and gemini-robotics-er-1.6-preview pricing
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

chore: reconcile lint budgets after the staging merge
  basedpyright-code-budget.json
  ruff-strict-budget.json
  type-discipline-budget.json
Due: none

chore: sync Next.js build artifacts with staging
  litellm/proxy/_experimental/out/_next/static/chunks/0ald9tfsbz2e-.js
  litellm/proxy/_experimental/out/_next/static/chunks/0am68mi9t9cb6.js
  litellm/proxy/_experimental/out/_next/static/chunks/0bzsgiuwi1q0e.js
  litellm/proxy/_experimental/out/_next/static/chunks/0eamb3kk74kws.js
  litellm/proxy/_experimental/out/_next/static/chunks/0m-x8i06te864.js
  litellm/proxy/_experimental/out/_next/static/chunks/0nb8zgkq5nq1r.js
  litellm/proxy/_experimental/out/_next/static/chunks/0p_yh7pymv-5p.js
  litellm/proxy/_experimental/out/_next/static/chunks/0qtmfaeayrb_n.js
  litellm/proxy/_experimental/out/_next/static/chunks/19wkvbsdat9-w.js
  litellm/proxy/_experimental/out/_next/static/chunks/1bi3j49b6k_jv.js
  litellm/proxy/_experimental/out/_next/static/chunks/2-a_yn53fgb-5.js
  litellm/proxy/_experimental/out/_next/static/chunks/2_r1-ssk6qj_g.js
  litellm/proxy/_experimental/out/_next/static/chunks/2f9ut03jhmdi3.js
  litellm/proxy/_experimental/out/_next/static/chunks/2qtobvowg08en.js
  litellm/proxy/_experimental/out/_next/static/chunks/2uc2pi4ob086w.js
  litellm/proxy/_experimental/out/_next/static/chunks/310jfkx44dv17.js
  litellm/proxy/_experimental/out/_next/static/chunks/32m8u3pqnkyca.js
  litellm/proxy/_experimental/out/_next/static/chunks/3f-3kisu7wrvc.js
Due: none

fix(spend): same model is only the same cost when it is the same deployment
  litellm/proxy/spend_tracking/savings.py
Due: none

fix(anthropic): preserve speed=fast in usage for /v1/messages and pass-through
  litellm/litellm_core_utils/litellm_logging.py
  litellm/litellm_core_utils/streaming_chunk_builder_utils.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/anthropic_passthrough_logging_handler.py
  litellm/types/litellm_core_utils/streaming_chunk_builder_utils.py
  tests/test_litellm/litellm_core_utils/test_litellm_logging.py
  tests/test_litellm/litellm_core_utils/test_streaming_chunk_builder_utils.py
  tests/test_litellm/proxy/pass_through_endpoints/llm_provider_handlers/test_anthropic_passthrough_logging_handler.py
Due: litellm_logging

fix(proxy): support async call_types in pre_call_hook string response and preserve raw message
  litellm/exceptions.py
  litellm/proxy/proxy_server.py
  litellm/proxy/utils.py
  tests/test_litellm/proxy/utils/proxy_logging/test_pre_call_hook.py
Due: none

fix(auth): reject blocked keys before the cached proxy-admin early return
  litellm/proxy/auth/user_api_key_auth.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
Due: Proxy_Authentication

fix(spend): reseed tag spend counters from the durable tag row
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/db/spend_counter_reseed.py
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/proxy_server/test_spend_counters.py
  tests/test_litellm/proxy/test_proxy_server.py
Due: Proxy_Authentication

fix(proxy): make async_pre_call_hook str returns reach the caller as completion content
  litellm/exceptions.py
  litellm/proxy/proxy_server.py
  litellm/proxy/utils.py
  tests/test_litellm/proxy/utils/proxy_logging/test_pre_call_hook.py
  tests/test_litellm/test_rejected_request_error_message.py
Due: none

docs: LIT-3251 playground stream toggle QA screenshots [skip ci]
  after-chat.png
  after-settings.png
  before-chat.png
  before-settings.png
Due: none

feat(playground): add non-streaming response toggle
  ui/litellm-dashboard/src/app/(dashboard)/playground/components/chat_ui/AdditionalModelSettings.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/playground/components/chat_ui/AdditionalModelSettings.tsx
  ui/litellm-dashboard/src/app/(dashboard)/playground/components/chat_ui/ChatUI.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/playground/components/chat_ui/ChatUI.tsx
  ui/litellm-dashboard/src/components/llm_calls/chat_completion.test.tsx
  ui/litellm-dashboard/src/components/llm_calls/chat_completion.tsx
  ui/litellm-dashboard/src/components/llm_calls/responses_api.test.tsx
  ui/litellm-dashboard/src/components/llm_calls/responses_api.tsx
Due: none

fix(responses_id_security): fail closed for raw and ownerless response ids
  enterprise/litellm_enterprise/proxy/common_utils/check_responses_cost.py
  litellm/proxy/hooks/responses_id_security.py
  litellm/types/utils.py
  tests/test_litellm/test_responses_id_security.py
Due: none

fix(proxy): surface background spend entity update failures and retain the task
  litellm/proxy/db/db_spend_update_writer.py
  tests/test_litellm/proxy/db/test_db_spend_update_writer.py
Due: none

LIT-4398 PR screenshots
  lit4398-1-teams-table.png
  lit4398-2-default-settings-view.png
  lit4398-3-default-settings-edit-dropdown.png
  lit4398-4-default-settings-saved.png
  lit4398-5-create-team-modal-no-org.png
  lit4398-6-teams-table-final.png
  lit4398-after-rejected-toast.png
  lit4398-before-overcap-team.png
Due: none

test(vertex_ai): assert exact cache partition, not just membership
  tests/test_litellm/integrations/test_anthropic_cache_control_hook.py
Due: none

fix(team): gate loosening of team model caps behind proxy admin
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_key_management_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_team_endpoints.py
Due: none

feat(cost): support time-based off-peak pricing in cost calculation
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/types/utils.py
  litellm/utils.py
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: none

fix(proxy): activate interception callbacks enabled via DB config
  basedpyright-code-budget.json
  litellm/integrations/code_interpreter_interception/handler.py
  litellm/integrations/compression_interception/handler.py
  litellm/integrations/websearch_interception/handler.py
  litellm/proxy/common_utils/callback_utils.py
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/common_utils/test_callback_utils.py
  tests/test_litellm/proxy/proxy_server/test_proxy_config.py
  type-discipline-budget.json
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
