Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

test(redis): cover ElastiCache IAM failures
  tests/test_litellm/test_redis.py
  tests/test_litellm/test_redis_credential_provider.py
Due: Caching

fix(proxy): validate coordination Redis mappings
  litellm/proxy/management_endpoints/coordination_redis_endpoints.py
  litellm/proxy/proxy_server.py
Due: Caching

style(proxy): format coordination Redis validation
  litellm/proxy/proxy_server.py
Due: none

fix(redis): require TLS for ElastiCache IAM auth
  litellm/_redis.py
  tests/test_litellm/test_redis.py
Due: Caching

Fix failing tests
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_hiddenlayer.py
Due: none

fix(redis): type signed ElastiCache IAM URL
  litellm/_redis_credential_provider.py
Due: Caching

fix(rust-gateway): close remaining veria-ai review gaps on PR #38920
  litellm-rust/crates/ai-gateway/src/constants.rs
  litellm-rust/crates/ai-gateway/src/routes/messages/service.rs
Due: none

fix(redis): validate signed ElastiCache IAM URL
  litellm/_redis_credential_provider.py
Due: Caching

refactor(proxy): resolve supported_openai_params aliases via Router.resolved_litellm_models
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/proxy_server/test_routes_utils.py
Due: none

fix(proxy): handle missing prisma in db-less auth
  litellm/proxy/db/exception_handler.py
  tests/test_litellm/proxy/db/test_exception_handler.py
Due: none

fix(guardrails): stop registered guardrails starving vector store search_results
  litellm/integrations/custom_guardrail.py
  litellm/utils.py
  tests/test_litellm/integrations/test_custom_guardrail.py
  tests/test_litellm/test_utils.py
Due: litellm_logging

fix(cost): bill OCR annotation pages via annotation_cost_per_page
  litellm/cost_calculator.py
  litellm/llms/base_llm/ocr/transformation.py
  tests/test_litellm/llms/mistral/ocr/test_mistral_ocr_cost.py
Due: none

docs(proxy): account for budget rollover and daily upserts in spend wording
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

fix(vertex_ai): graft default vertex path when api_base has a version-only path
  litellm/llms/vertex_ai/vertex_llm_base.py
  tests/test_litellm/llms/vertex_ai/test_vertex_llm_base.py
Due: none

fix(vertex_ai): keep query and fragment placement when grafting vertex path
  litellm/llms/vertex_ai/vertex_llm_base.py
  tests/test_litellm/llms/vertex_ai/test_vertex_llm_base.py
Due: none

Fix lint: typed image-part filter, restore monkeypatch-based tests
  litellm/proxy/guardrails/guardrail_hooks/hiddenlayer/hiddenlayer.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_hiddenlayer.py
Due: none

fix(registry): update veo 3.1 pricing with resolution tiers
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

fix(responses): json-encode object tool call arguments in the chat completions bridge
  litellm/responses/litellm_completion_transformation/custom_tools.py
  litellm/responses/litellm_completion_transformation/streaming_iterator.py
  litellm/responses/litellm_completion_transformation/transformation.py
  tests/test_litellm/responses/litellm_completion_transformation/test_litellm_completion_responses.py
  tests/test_litellm/responses/litellm_completion_transformation/test_streaming_iterator_transformation.py
Due: none

refactor(responses): simplify tool call argument serializer
  litellm/responses/litellm_completion_transformation/custom_tools.py
Due: none

fix(vertex_ai): merge alt=sse into existing query when streaming
  litellm/llms/vertex_ai/vertex_llm_base.py
  tests/test_litellm/llms/vertex_ai/test_vertex_llm_base.py
Due: none

fix(azure_ai): route Foundry embeddings to the /models inference route
  litellm/llms/azure_ai/chat/transformation.py
  litellm/llms/azure_ai/common_utils.py
  litellm/llms/azure_ai/embed/handler.py
  tests/test_litellm/llms/azure_ai/embed/test_azure_ai_embed_handler.py
Due: none

fix(redis): keep connection pools local during client initialization
  litellm/caching/redis_cache.py
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

fix(bedrock): per-response realtime usage deltas, spend-log event filter, single transcript completed
  litellm/llms/bedrock/realtime/handler.py
  litellm/llms/bedrock/realtime/transformation.py
  tests/test_litellm/llms/bedrock/realtime/test_bedrock_realtime_handler.py
  tests/test_litellm/llms/bedrock/realtime/test_bedrock_realtime_transformation.py
Due: none

fix(bedrock): stop duplicating Converse config blocks inside inferenceConfig
  litellm/llms/bedrock/chat/converse_transformation.py
  tests/test_litellm/llms/bedrock/chat/test_converse_transformation.py
Due: none

test(panw_prisma_airs): assert returned texts so scope tests observe caller-visible behavior
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_panw_prisma_airs.py
Due: none

feat(openai): support workload identity federation (OIDC token exchange)
  basedpyright-code-budget.json
  litellm/llms/openai/common_utils.py
  litellm/llms/openai/openai.py
  litellm/llms/openai/responses/transformation.py
  litellm/llms/openai/workload_identity.py
  tests/test_litellm/llms/openai/test_openai_workload_identity.py
Due: none

test(guardrails): assert redacted deltas through the incremental_diff streaming path
  tests/test_litellm/proxy/guardrails/test_prompt_security_guardrails.py
Due: none

fix(bedrock): register bedrock_batch_timeout_hours as a batch-only param
  litellm/llms/bedrock/batches/transformation.py
  litellm/proxy/auth/auth_utils.py
  litellm/types/utils.py
  tests/test_litellm/llms/bedrock/batches/test_transformation.py
Due: Proxy_Authentication

feat(bedrock): allow configuring batch job timeout beyond the 24h default
  litellm/llms/bedrock/batches/transformation.py
  tests/test_litellm/llms/bedrock/batches/test_transformation.py
Due: none

test(redis): mock redis boundary in race regression
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

chore(tests): fix import ordering and drop unused variable in prompt security tests
  tests/test_litellm/proxy/guardrails/test_prompt_security_guardrails.py
Due: none

fix(proxy): accept both deferred-stream arg shapes in native branch
  litellm/litellm_core_utils/litellm_logging.py
  litellm/proxy/common_request_processing.py
  tests/test_litellm/proxy/guardrails/test_deferred_guardrail_logging.py
Due: litellm_logging

feat(proxy): add /v1/responses/input_tokens token counting endpoint
  litellm/proxy/_types.py
  litellm/proxy/response_api_endpoints/endpoints.py
  tests/test_litellm/proxy/response_api_endpoints/test_endpoints.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

fix(guardrails): configure Prompt Security file timeout policy (#38083)
  litellm/proxy/guardrails/guardrail_hooks/prompt_security/__init__.py
  litellm/proxy/guardrails/guardrail_hooks/prompt_security/prompt_security.py
  litellm/types/proxy/guardrails/guardrail_hooks/prompt_security.py
  tests/test_litellm/proxy/guardrails/test_prompt_security_guardrails.py
Due: none

fix(caching): don't trip redis circuit breaker on short timeout bursts
  litellm/caching/redis_cache.py
  litellm/constants.py
  tests/test_litellm/caching/test_redis_cache.py
Due: Caching

fix(proxy): never run OAuth device flows when resolving model names
  litellm/proxy/proxy_server.py
  litellm/router_utils/pattern_match_deployments.py
  tests/test_litellm/proxy/proxy_server/test_routes_utils.py
  tests/test_litellm/router_utils/test_pattern_match_deployments.py
Due: none

fix(proxy): wire team-level logging callbacks into passthrough endpoints
  litellm/proxy/litellm_pre_call_utils.py
  litellm/proxy/pass_through_endpoints/pass_through_endpoints.py
  tests/test_litellm/proxy/pass_through_endpoints/test_pass_through_endpoints.py
Due: none

fix(registry): add zai/glm-5.2, together Qwen3.8-Flash, cerebras/gemma-4-31b, elevenlabs/scribe_v2
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

fix(openai): scope workload identity to the openai provider and env-resolved base/key
  litellm/llms/openai/responses/transformation.py
  litellm/llms/openai/workload_identity.py
  tests/test_litellm/llms/openai/test_openai_workload_identity.py
Due: none
