Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix tmp dir non root
  docker/Dockerfile.non_root
Due: none

linting fix
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

linting fix
  litellm/proxy/health_endpoints/_health_endpoints.py
Due: none

fix BudgetAlertType
  litellm/proxy/proxy_server.py
Due: none

Update several Azure AI models in model cost map (#6655)
  model_prices_and_context_window.json
Due: none

fix(streaming_handler.py): remove import
  litellm/litellm_core_utils/streaming_handler.py
Due: none

fix(pattern_match_deployments.py): default to user input if unable to map based on wildcards (#6646)
  litellm/router_utils/pattern_match_deployments.py
  tests/local_testing/test_router_pattern_matching.py
  tests/router_unit_tests/test_router_helper_utils.py
Due: none

(QOL improvement) add unit testing for all static_methods in litellm_logging.py (#6640)
  .circleci/config.yml
  litellm/litellm_core_utils/litellm_logging.py
  tests/code_coverage_tests/litellm_logging_code_coverage.py
  tests/logging_callback_tests/test_otel_logging.py
  tests/logging_callback_tests/test_standard_logging_payload.py
Due: litellm_logging

(feat) log error class, function_name on prometheus service failure hook + only log DB related failures on DB service hook (#6650)
  litellm/_service_logger.py
  litellm/integrations/prometheus_services.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/db/log_db_metrics.py
  litellm/proxy/proxy_server.py
  litellm/proxy/utils.py
  tests/logging_callback_tests/test_log_db_redis_services.py
Due: Caching, litellm_logging, Proxy_Authentication

chore: comment for maritalk (#6607)
  litellm/litellm_core_utils/get_llm_provider_logic.py
Due: none

Update gpt-4o-2024-08-06, and o1-preview, o1-mini models in model cost map (#6654)
  model_prices_and_context_window.json
Due: none

fix(streaming_handler.py): fix linting error
  litellm/litellm_core_utils/streaming_handler.py
  litellm/model_prices_and_context_window_backup.json
Due: none

ci(conftest.py): reset conftest.py for local_testing/
  litellm/model_prices_and_context_window_backup.json
  tests/local_testing/conftest.py
Due: none

fix(deepseek/chat): convert content list to str
  litellm/__init__.py
  litellm/llms/OpenAI/chat/gpt_transformation.py
  litellm/llms/OpenAI/chat/o1_transformation.py
  litellm/llms/OpenAI/openai.py
  litellm/llms/deepseek/chat/transformation.py
  litellm/llms/prompt_templates/common_utils.py
  litellm/model_prices_and_context_window_backup.json
  litellm/utils.py
  tests/local_testing/test_completion.py
Due: none

test(test_deepseek_completion.py): implement base llm unit tests
  tests/llm_translation/base_llm_unit_tests.py
  tests/llm_translation/test_deepseek_completion.py
  tests/local_testing/test_completion.py
Due: none

fix(router.py): support content policy violation fallbacks with default fallbacks
  litellm/router.py
  tests/local_testing/test_router_fallbacks.py
  tests/router_unit_tests/test_router_helper_utils.py
Due: Router

Custom Model Provider zhipu
  litellm/__init__.py
  litellm/litellm_core_utils/get_llm_provider_logic.py
  litellm/model_prices_and_context_window_backup.json
  litellm/router_utils/client_initalization_utils.py
  model_prices_and_context_window.json
  ui/litellm-dashboard/src/components/budgets/budget_settings.tsx
  ui/litellm-dashboard/src/components/general_settings.tsx
  ui/litellm-dashboard/src/components/model_dashboard.tsx
  ui/litellm-dashboard/src/components/pass_through_settings.tsx
  ui/litellm-dashboard/src/components/settings.tsx
Due: none

use glm doc
  docs/my-website/docs/index.md
Due: none

fix(opentelemetry.py): refactor to move otel imports behing flag
  litellm/integrations/opentelemetry.py
  tests/local_testing/test_python_38.py
Due: litellm_logging

fix(opentelemtry.py): close span on success completion
  litellm/integrations/opentelemetry.py
  litellm/proxy/_new_secret_config.yaml
  tests/local_testing/test_opentelemetry_unit_tests.py
Due: litellm_logging

fix(user_api_key_auth.py): allow user_role to default to none
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

build: update backup model prices map
  litellm/model_prices_and_context_window_backup.json
  pyproject.toml
Due: none

fix: fix import
  tests/local_testing/conftest.py
Due: none

fix(conftest.py): fix import to check if hasattr
  tests/local_testing/conftest.py
Due: none

fix(conftest.py): ignore proxy reload if doesn't exist
  tests/local_testing/conftest.py
Due: none

test: remove duplicate test
  tests/local_testing/test_streaming.py
Due: none

feat(utils.py): support passing metadata param to provider (openai/anthropic)
  litellm/router.py
  litellm/types/utils.py
  tests/llm_translation/test_anthropic_completion.py
Due: Router

refactor: ensure 'metadata' llm api param support
  litellm/llms/anthropic/chat/transformation.py
  litellm/main.py
  litellm/proxy/litellm_pre_call_utils.py
  litellm/types/utils.py
  litellm/utils.py
  tests/documentation_tests/test_litellm_params.py
  tests/llm_translation/test_anthropic_completion.py
  tests/local_testing/log.txt
  tests/local_testing/test_configs/test_custom_logger.yaml
  tests/proxy_unit_tests/test_proxy_custom_logger.py
  tests/proxy_unit_tests/test_proxy_utils.py
Due: none

fix(router.py): correctly handle logging additional metadata to the right field based on api endpoint used
  litellm/main.py
  litellm/router.py
  litellm/types/utils.py
  litellm/utils.py
  tests/proxy_unit_tests/test_configs/test_custom_logger.yaml
  tests/router_unit_tests/test_router_helper_utils.py
Due: Router

fix(types/utils.py): name 'user_to_llm_metadata' as a litellm_param
  litellm/types/utils.py
Due: none

fix: mark flaky test
  tests/local_testing/test_completion.py
Due: none

fix(main.py): cleanup re-init of metadata param
  litellm/main.py
  tests/llm_translation/test_anthropic_completion.py
Due: none

fix(anthropic/chat/transformation.py): reduce anthropic function size
  litellm/llms/anthropic/chat/transformation.py
Due: none

fix(opentelemetry.py): move otelconfig.from_env to inside the init
  litellm/integrations/opentelemetry.py
Due: litellm_logging

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
