Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix: send whisper timestamp_granularities as bracketed array field
  litellm/llms/openai/transcriptions/whisper_transformation.py
  tests/test_litellm/llms/openai/transcriptions/test_whisper_transformation.py
Due: none

fix(ui): make the expired-miss stat row a focusable tooltip trigger
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/AutoRouterBenchmarksTab.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/AutoRouterBenchmarksTab.tsx
Due: none

style: ruff-format utils strip helpers and drop unused test import
  litellm/utils.py
  tests/test_litellm/test_vertex_claude_sonnet5_cost_parity.py
Due: none

fix(batches): persist managed file ids for cancelled/failed/expired batches
  enterprise/litellm_enterprise/proxy/common_utils/check_batch_cost.py
  litellm/proxy/batches_endpoints/endpoints.py
  tests/proxy_unit_tests/test_check_batch_cost.py
  tests/test_litellm/proxy/batches_endpoints/test_endpoints.py
Due: none

test: roll back runtime model registrations between tests
  tests/test_litellm/conftest.py
  tests/test_litellm/test_conftest_isolation.py
Due: none

fix(managed_files): return unified output file ids from GET /batches
  enterprise/litellm_enterprise/proxy/hooks/managed_files.py
  tests/enterprise/litellm_enterprise/proxy/hooks/test_managed_files.py
Due: none

fix(guardrails): apply unreachable_fallback to every callback of a guardrail
  litellm/proxy/guardrails/guardrail_registry.py
  tests/test_litellm/proxy/guardrails/test_guardrail_registry.py
Due: none

fix(guardrails): guard tools write-back under scan_only_tool_results and warn on role-filtered no-op scans
  litellm/llms/anthropic/chat/guardrail_translation/handler.py
  litellm/llms/openai/chat/guardrail_translation/handler.py
  litellm/proxy/guardrails/guardrail_hooks/bedrock_guardrails.py
  litellm/proxy/guardrails/guardrail_hooks/panw_prisma_airs/panw_prisma_airs.py
  tests/test_litellm/llms/anthropic/chat/guardrail_translation/test_anthropic_guardrail_handler.py
  tests/test_litellm/llms/openai/chat/guardrail_translation/test_openai_guardrail_handler.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_bedrock_guardrails.py
  tests/test_litellm/proxy/guardrails/guardrail_hooks/test_panw_prisma_airs.py
Due: none

warn at startup when a proxy-wide budget is set but no DB is connected
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/proxy_server/test_lifecycle.py
Due: none

feat(router): add complexity session deployment affinity
  litellm/router.py
  litellm/router_utils/pre_call_checks/deployment_affinity_check.py
  tests/test_litellm/router_utils/pre_call_checks/test_session_id_affinity.py
Due: Router

test(router): cover complexity affinity expiry
  tests/test_litellm/router_utils/pre_call_checks/test_session_id_affinity.py
Due: none

fix(auto-router): accept every reminder marker pair a harness emits (#36029)
  litellm/router_strategy/complexity_router/README.md
  litellm/router_strategy/complexity_router/__init__.py
  litellm/router_strategy/complexity_router/complexity_router.py
  litellm/router_strategy/complexity_router/config.py
  tests/test_litellm/router_strategy/test_complexity_router.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

feat(router): support complexity tier generation params
  litellm/router.py
  litellm/router_strategy/complexity_router/README.md
  litellm/router_strategy/complexity_router/complexity_router.py
  litellm/router_strategy/complexity_router/config.py
  litellm/types/router.py
  tests/test_litellm/router_strategy/test_complexity_router.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: Router

fix(router): tighten complexity deployment affinity
  litellm/router.py
  litellm/router_utils/pre_call_checks/deployment_affinity_check.py
  tests/test_litellm/router_utils/pre_call_checks/test_session_id_affinity.py
Due: Router

refactor(proxy): inject max_budget into DB-less budget warning
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/proxy_server/test_lifecycle.py
Due: none

fix: map missing OpenAI credentials to 401 instead of 500
  litellm/llms/openai/openai.py
  tests/test_litellm/llms/openai/test_openai_exception_status_code.py
Due: none

fix(router): preserve legacy complexity tier pools
  litellm/router.py
  litellm/router_strategy/complexity_router/complexity_router.py
  litellm/router_strategy/complexity_router/config.py
  litellm/types/router.py
  tests/test_litellm/router_strategy/test_complexity_router.py
Due: Router

fix(router): finalize complexity affinity cleanup
  litellm/router.py
  litellm/router_utils/pre_call_checks/deployment_affinity_check.py
  tests/test_litellm/router_utils/pre_call_checks/test_session_id_affinity.py
Due: Router

fix(router): finalize tier parameter routing
  litellm/router_strategy/complexity_router/complexity_router.py
  litellm/router_strategy/complexity_router/config.py
  tests/test_litellm/router_strategy/test_complexity_router.py
Due: none

chore(router): sync final tier routing edits
  litellm/router_strategy/complexity_router/complexity_router.py
  tests/test_litellm/router_strategy/test_complexity_router.py
Due: none

fix(router): avoid affinity provider router leak
  litellm/router.py
  tests/test_litellm/router_strategy/test_complexity_router.py
  tests/test_litellm/router_utils/pre_call_checks/test_session_id_affinity.py
Due: Router

fix(proxy): stop dropping bedrock batch credentials and model in batch endpoints
  litellm/proxy/batches_endpoints/endpoints.py
  litellm/proxy/openai_files_endpoints/common_utils.py
  litellm/router.py
  litellm/types/router.py
  tests/test_litellm/proxy/batches_endpoints/test_endpoints.py
  tests/test_litellm/proxy/vector_store_endpoints/test_vector_store_endpoints.py
  tests/test_litellm/proxy/vector_store_endpoints/test_vector_store_tenant_guard.py
  tests/test_litellm/test_router.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: Router

fix(lint): measure the basedpyright budget gate in a gate-owned venv
  .github/workflows/publish-basedpyright-base-counts.yml
  .gitignore
  Makefile
  scripts/type_check_gate.py
  tests/test_litellm/test_type_check_gate.py
Due: none

test(responses): add unit tests for _transform_response_api_usage_to_chat_usage
  tests/llm_responses_api_testing/test_transform_response_api_usage.py
Due: none

fix(types): correct annotations that were false about their runtime values
  litellm/integrations/galileo.py
  litellm/proxy/_experimental/mcp_server/openapi_to_mcp_generator.py
  litellm/proxy/anthropic_endpoints/claude_code_endpoints/claude_code_marketplace.py
  litellm/proxy/common_utils/custom_openapi_spec.py
  litellm/proxy/container_endpoints/ownership.py
  litellm/proxy/guardrails/guardrail_hooks/cato_networks/cato_networks.py
  litellm/proxy/guardrails/guardrail_hooks/microsoft_purview/base.py
  tests/test_litellm/proxy/anthropic_endpoints/test_claude_code_marketplace.py
Due: litellm_logging

fix(router): tighten complexity tier params
  litellm/router_strategy/complexity_router/complexity_router.py
  litellm/router_strategy/complexity_router/config.py
  litellm/types/router.py
  tests/test_litellm/router_strategy/test_complexity_router.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

fix(proxy): include today's UTC bucket when a daily activity range ends at the caller's current day
  litellm/proxy/management_endpoints/common_daily_activity.py
  tests/test_litellm/proxy/management_endpoints/test_common_daily_activity.py
Due: none

refactor(router): rename tier param validator
  litellm/router_strategy/complexity_router/config.py
Due: none

fix(router): return model and Bedrock batch fields in deployment credentials
  litellm/proxy/openai_files_endpoints/common_utils.py
  litellm/router.py
  litellm/types/router.py
  tests/test_litellm/test_router.py
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: Router

chore(lint): ratchet lint budgets down by what this branch fixed
  basedpyright-code-budget.json
  ruff-strict-budget.json
  type-discipline-budget.json
Due: none

test(proxy): cover DB-less budget warning startup call
  tests/test_litellm/proxy/proxy_server/test_lifecycle.py
Due: none

test(proxy): pin DB-less budget warning call site
  tests/test_litellm/proxy/proxy_server/test_lifecycle.py
Due: none

fix(proxy): gate the current-UTC-day extension behind an opt-in param sent by the cost optimization dashboard
  litellm/proxy/management_endpoints/common_daily_activity.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  tests/test_litellm/proxy/management_endpoints/test_common_daily_activity.py
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/useDailyActivityRange.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/useDailyActivityRange.ts
  ui/litellm-dashboard/src/components/networking.tsx
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: none

fix(ui): label cost optimization savings dates as UTC days
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/UsageTab.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/UsageTab.tsx
Due: none

docs(router): clarify thinking budget warning
  litellm/router_strategy/complexity_router/README.md
Due: none

fix(google_genai): price gemini streams with the gemini rate card
  litellm/google_genai/streaming_iterator.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/vertex_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/streaming_handler.py
  tests/test_litellm/google_genai/test_google_genai_streaming_iterator.py
  tests/test_litellm/proxy/pass_through_endpoints/llm_provider_handlers/test_vertex_passthrough_logging_handler.py
Due: none

fix(cost): bill Azure Foundry GPT-5.6 prompt cache writes
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: none

test: allow cache_creation_input_token_cost_above_272k_tokens_priority in prices schema whitelist
  tests/test_litellm/test_utils.py
Due: none

test: pin standard long-context fallback for data zone priority cache writes
  tests/test_litellm/litellm_core_utils/llm_cost_calc/test_llm_cost_calc_utils.py
Due: none

chore: regenerate model prices schema after rebase
  model_prices_and_context_window.schema.json
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
