Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

fix: map Gemini ON_DEMAND_FLEX traffic type to flex service tier
  litellm/cost_calculator.py
  tests/test_litellm/llms/gemini/test_cost_calculator.py
Due: none

bump: litellm-enterprise 0.1.57 -> 0.1.58, litellm-proxy-extras 0.4.87 -> 0.4.88 (#37717)
  enterprise/pyproject.toml
  litellm-proxy-extras/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix: count tiered_pricing as a cost mapping when blocking unpriced models
  litellm/proxy/auth/auth_checks.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
Due: Proxy_Authentication

fix(logging): bound oversized error payloads written to stdout
  litellm/_logging.py
  litellm/constants.py
  tests/test_litellm/test_logging.py
Due: none

fix(ui): surface the paginated fallback on Cost Optimization (#37659)
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/CacheLeakageCard.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/CacheLeakageCard.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/CostOptimizationView.activity.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/CostOptimizationView.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/PromptCachingTab.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/UsageTab.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/useDailyActivityRange.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/useDailyActivityRange.ts
  ui/litellm-dashboard/src/app/(dashboard)/usage/_components/components/EntityUsage/EntityUsage.tsx
  ui/litellm-dashboard/src/app/(dashboard)/usage/_components/components/UsagePageView.tsx
  ui/litellm-dashboard/src/components/shared/PaginationStatusAlerts.test.tsx
  ui/litellm-dashboard/src/components/shared/PaginationStatusAlerts.tsx
Due: none

feat(shadow_eval)!: gate the per-key budget on dollar spend instead of turns (#37555)
  litellm-proxy-extras/litellm_proxy_extras/migrations/20260819000000_shadow_eval_max_budget/migration.sql
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/integrations/shadow_eval_logger.py
  litellm/proxy/management_endpoints/auto_router_endpoints.py
  litellm/proxy/proxy_server.py
  litellm/proxy/schema.prisma
  litellm/types/management_endpoints/auto_router_endpoints.py
  schema.prisma
  tests/test_litellm/integrations/test_shadow_eval_logger.py
  tests/test_litellm/proxy/management_endpoints/test_auto_router_endpoints.py
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/ShadowEvalSection.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/cost-optimization/_components/ShadowEvalSection.tsx
  ui/litellm-dashboard/src/lib/http/schema.d.ts
Due: litellm_logging

test(proxy): cover a registry model priced only via tiered_pricing
  tests/test_litellm/proxy/auth/test_auth_checks.py
Due: none

feat(ui): gate the effort control on model group reasoning support
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.test.tsx
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.tsx
  ui/litellm-dashboard/src/components/add_model/TierModelEffortRows.tsx
  ui/litellm-dashboard/src/components/add_model/complexity_router_tiers.ts
  ui/litellm-dashboard/src/components/llm_calls/fetch_models.tsx
Due: none

fix(router): isolate deployment model info
  litellm/router.py
  tests/test_litellm/test_router_model_cost_isolation.py
Due: Router

fix(proxy): capture requester IP in 401 and auth-time 429 failure logs
  litellm/proxy/auth/auth_exception_handler.py
  tests/test_litellm/proxy/auth/test_auth_exception_handler.py
Due: Proxy_Authentication

fix(proxy): claim batch cost rows atomically so multi-pod polling can't double-bill
  enterprise/litellm_enterprise/proxy/common_utils/check_batch_cost.py
  tests/proxy_unit_tests/test_check_batch_cost.py
  tests/test_litellm/enterprise/proxy/test_managed_files_access_check.py
Due: none

perf(reset_budget_job): elect one sweeper per tick and bound the window scan
  litellm/constants.py
  litellm/proxy/common_utils/reset_budget_job.py
  litellm/proxy/proxy_server.py
  tests/litellm_utils_tests/test_proxy_budget_reset.py
  tests/test_litellm/proxy/common_utils/test_reset_budget_job.py
Due: none

feat(ui): per-model reasoning effort in the complexity tier editor (#37673)
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.test.tsx
  ui/litellm-dashboard/src/components/add_model/ComplexityRouterConfig.tsx
  ui/litellm-dashboard/src/components/add_model/TierModelEffortRows.tsx
  ui/litellm-dashboard/src/components/add_model/add_auto_router_tab.tsx
  ui/litellm-dashboard/src/components/add_model/build_complexity_router_config.test.ts
  ui/litellm-dashboard/src/components/add_model/build_complexity_router_config.ts
  ui/litellm-dashboard/src/components/add_model/complexity_router_tiers.test.ts
  ui/litellm-dashboard/src/components/add_model/complexity_router_tiers.ts
  ui/litellm-dashboard/src/components/edit_auto_router/build_updated_complexity_router_config.test.ts
  ui/litellm-dashboard/src/components/edit_auto_router/edit_auto_router_modal.tsx
  ui/litellm-dashboard/src/components/llm_calls/fetch_models.tsx
Due: none

perf(budget_reservation): tokenize each request once, off the event loop for large prompts
  litellm/proxy/spend_tracking/budget_reservation.py
  tests/test_litellm/proxy/test_budget_reservation.py
Due: none

fix(db): apply the configured connection params to the read replica URL
  litellm/proxy/db/db_url_settings.py
  litellm/proxy/proxy_cli.py
  tests/test_litellm/proxy/db/test_db_url_settings.py
  tests/test_litellm/proxy/test_proxy_cli.py
Due: none

fix(proxy): split agent inference and management routes so admin nodes can create agents
  litellm/proxy/_types.py
  litellm/proxy/auth/route_checks.py
  ruff-strict-budget.json
  tests/enterprise/litellm_enterprise/proxy/auth/test_route_checks.py
  tests/test_litellm/proxy/auth/test_route_checks.py
Due: Proxy_Authentication

fix(scim): propagate team roster write failures on group and user writes
  litellm/proxy/management_endpoints/scim/scim_v2.py
  tests/test_litellm/proxy/management_endpoints/scim/test_scim_v2_endpoints.py
Due: none

feat(fal_ai): add gpt-image-2 image generation support
  litellm/llms/fal_ai/image_generation/__init__.py
  litellm/llms/fal_ai/image_generation/gpt_image_2_transformation.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/test_litellm/llms/fal_ai/image_generation/test_fal_ai_gpt_image_2_transformation.py
Due: none

feat(ui): support project input and output TPM limits
  tests/enterprise/litellm_enterprise/proxy/management_endpoints/test_project_endpoints_prisma.py
  ui/litellm-dashboard/src/app/(dashboard)/hooks/projects/useCreateProject.test.ts
  ui/litellm-dashboard/src/app/(dashboard)/hooks/projects/useCreateProject.ts
  ui/litellm-dashboard/src/app/(dashboard)/hooks/projects/useUpdateProject.test.ts
  ui/litellm-dashboard/src/app/(dashboard)/hooks/projects/useUpdateProject.ts
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/CreateProjectModal.integration.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/CreateProjectModal.tsx
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/EditProjectModal.integration.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/EditProjectModal.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/EditProjectModal.tsx
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/ProjectBaseForm.test.tsx
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/ProjectBaseForm.tsx
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/projectFormSchema.ts
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/projectFormUtils.test.ts
  ui/litellm-dashboard/src/app/(dashboard)/projects/_components/ProjectModals/projectFormUtils.ts
Due: none

test(fal_ai): use monkeypatch for the gpt-image-2 cost map fixture
  tests/test_litellm/llms/fal_ai/image_generation/test_fal_ai_gpt_image_2_transformation.py
Due: none

feat(proxy): add router_model_name to auto-routed response bodies
  litellm/constants.py
  litellm/proxy/common_request_processing.py
  litellm/proxy/proxy_server.py
  litellm/router.py
  tests/test_litellm/proxy/test_common_request_processing.py
  tests/test_litellm/proxy/test_proxy_server.py
  tests/test_litellm/test_router.py
Due: Router

fix(router): make prompt caching affinity aware of auto-injected cache_control
  litellm/integrations/anthropic_cache_control_hook.py
  litellm/router_utils/pre_call_checks/prompt_caching_deployment_check.py
  tests/test_litellm/integrations/test_anthropic_cache_control_hook.py
  tests/test_litellm/router_utils/pre_call_checks/test_prompt_caching_deployment_check.py
Due: litellm_logging

perf(prometheus): render /metrics off the event loop and coalesce concurrent scrapes
  litellm/integrations/prometheus.py
  litellm/integrations/prometheus_metrics_endpoint.py
  tests/test_litellm/integrations/test_prometheus_metrics_endpoint.py
Due: litellm_logging

fix(proxy): apply DB-persisted safe litellm settings on every worker's config reload
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/management_endpoints/test_cost_tracking_settings.py
Due: none

fix(proxy): log block_requests_for_models_without_pricing updates lazily
  litellm/proxy/management_endpoints/cost_tracking_settings.py
Due: none

fix(streaming): price partial-stream spend rows at the real model and keep prompt and cache fields
  litellm/litellm_core_utils/streaming_handler.py
  litellm/proxy/common_request_processing.py
  tests/test_litellm/litellm_core_utils/test_streaming_handler.py
  tests/test_litellm/proxy/test_common_request_processing.py
Due: none

fix(ui): show auto-router savings as the fourth key-savings tile
  ui/litellm-dashboard/src/components/templates/KeySavingsTab.integration.test.tsx
  ui/litellm-dashboard/src/components/templates/KeySavingsTab.tsx
Due: none

test: point the live web search, groq and vertex image suites at models that still exist
  tests/image_gen_tests/test_image_generation.py
  tests/llm_translation/test_openai.py
  tests/logging_callback_tests/test_built_in_tools_cost_tracking.py
  tests/test_openai_endpoints.py
Due: none

test: annotate parametrized traffic-type test inputs
  tests/test_litellm/llms/gemini/test_cost_calculator.py
Due: none

fix(redis): keep Azure AD and GCP IAM auth on URL and pool clients
  litellm/_redis.py
  tests/test_litellm/test_redis.py
Due: Caching

docs(redis): say why async paths cannot reuse redis_connect_func
  litellm/_redis.py
Due: Caching

fix(ui): surface toggle failures on the block-unpriced-models setting
  ui/litellm-dashboard/src/app/(dashboard)/cost-tracking/_components/use_block_unpriced_config.test.ts
  ui/litellm-dashboard/src/app/(dashboard)/cost-tracking/_components/use_block_unpriced_config.ts
Due: none

fix(token_counter): stop large token counts from blocking the proxy event loop
  litellm/constants.py
  litellm/litellm_core_utils/env_utils.py
  litellm/litellm_core_utils/token_counter.py
  litellm/proxy/proxy_server.py
  litellm/router.py
  tests/test_litellm/litellm_core_utils/test_token_counter.py
  tests/test_litellm/proxy/proxy_server/test_routes_utils.py
  tests/test_litellm/test_router.py
Due: Router

fix(redis): say when an async client drops an unusable connect func
  litellm/_redis.py
Due: Caching

fix(proxy): reload the unpriced-model toggle regardless of supported_db_objects
  litellm/proxy/proxy_server.py
  tests/test_litellm/proxy/management_endpoints/test_cost_tracking_settings.py
Due: none

fix(containers): surface provider errors from container file content endpoint
  litellm/llms/custom_httpx/container_handler.py
  tests/test_litellm/llms/custom_httpx/test_container_handler.py
Due: none

test(ci): serve /moderations from the canned OpenAI mock
  tests/_fake_openai_endpoint_server.py
  tests/local_testing/test_fake_openai_endpoint.py
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
