Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

Move Z.ai / GLM to cache_control marker list
  docs/my-website/docs/tutorials/prompt_caching.md
Due: none

fix(mavvrik): address Copilot review comments 1, 3, 5
  litellm/integrations/mavvrik/settings.py
  litellm/integrations/mavvrik/uploader.py
Due: none

fix: /health/readiness returns 503 when DB is unreachable due to handle_db_exception re-raising
  litellm/proxy/health_endpoints/_health_endpoints.py
Due: none

add litellm_call_id field to StandardLoggingPayload
  litellm/types/utils.py
Due: none

populate litellm_call_id in get_standard_logging_object_payload
  litellm/litellm_core_utils/litellm_logging.py
Due: litellm_logging

emit litellm.call_id span attribute in OTel integration
  litellm/integrations/opentelemetry.py
Due: litellm_logging

test: litellm_call_id is present in StandardLoggingPayload
  tests/test_litellm/litellm_core_utils/test_litellm_logging.py
Due: litellm_logging

test: litellm.call_id emitted as OTel span attribute
  tests/test_litellm/integrations/test_opentelemetry.py
Due: none

test: update health readiness tests for handle_db_exception removal
  tests/test_litellm/proxy/health_endpoints/test_health_endpoints.py
Due: none

memoize columns and derived table data in SpendLogsTable
  ui/litellm-dashboard/src/components/view_logs/index.tsx
Due: none

[Refactor] Dockerfile.non_root: drop UI drift guard approach
  .dockerignore
  .github/workflows/ui-drift-guard.yml
  docker/Dockerfile.non_root
Due: none

[Fix] Dockerfile.non_root: drop prisma --version sanity call
  docker/Dockerfile.non_root
Due: none

fix(pass-through): use logging_obj fallback for passthrough_logging_payload in non-streaming paths
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/anthropic_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/base_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/cohere_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/gemini_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/openai_passthrough_logging_handler.py
  litellm/proxy/pass_through_endpoints/llm_provider_handlers/vertex_passthrough_logging_handler.py
Due: none

Mark xAI models as supporting prompt caching
  docs/my-website/docs/completion/prompt_caching.md
  model_prices_and_context_window.json
Due: none

Feature/add audio support for scaleway (#26110)
  docs/my-website/docs/providers/scaleway.md
  litellm/litellm_core_utils/get_supported_openai_params.py
  litellm/llms/scaleway/audio_transcription/transformation.py
  litellm/provider_endpoints_support_backup.json
  litellm/types/utils.py
  litellm/utils.py
  provider_endpoints_support.json
  tests/test_litellm/llms/scaleway/test_scaleway_audio_transcription_transformation.py
Due: none

Narrow xAI prompt caching flag to models with documented cache pricing
  model_prices_and_context_window.json
Due: none

chore(deps): widen uv exclude-newer cooldown from 3 to 7 days
  pyproject.toml
Due: none

Update litellm/router.py
  litellm/router.py
Due: Router

Add prompt caching flag to grok-4, grok-4-0709, grok-4-latest
  model_prices_and_context_window.json
Due: none

fix: address CI violations for adaptive router
  litellm/router.py
  tests/router_unit_tests/test_router_index_management.py
Due: Router

Prompt Compression - add it to the proxy (#25729)
  docs/my-website/docs/completion/prompt_compression.md
  docs/my-website/docs/proxy/agentic_loop_hook.md
  docs/my-website/sidebars.js
  litellm/__init__.py
  litellm/compression/compress.py
  litellm/integrations/compression_interception/__init__.py
  litellm/integrations/compression_interception/handler.py
  litellm/integrations/custom_logger.py
  litellm/integrations/websearch_interception/handler.py
  litellm/llms/anthropic/experimental_pass_through/messages/agentic_streaming_iterator.py
  litellm/llms/custom_httpx/llm_http_handler.py
  litellm/proxy/_new_secret_config.yaml
  litellm/proxy/common_utils/callback_utils.py
  litellm/proxy/litellm_pre_call_utils.py
  litellm/types/compression.py
  litellm/types/integrations/compression_interception.py
  litellm/types/integrations/custom_logger.py
  scripts/eval_compression.py
  tests/eval_swe_bench.py
  tests/test_litellm/integrations/compression_interception/test_compression_interception_handler.py
  tests/test_litellm/integrations/websearch_interception/test_websearch_interception_handler.py
  tests/test_litellm/llms/anthropic/experimental_pass_through/messages/test_agentic_streaming_iterator.py
  tests/test_litellm/llms/custom_httpx/test_llm_http_handler.py
  tests/test_litellm/proxy/common_utils/test_callback_utils.py
  tests/test_litellm/proxy/test_litellm_pre_call_utils.py
  tests/test_litellm/test_compression.py
Due: litellm_logging

fix(adaptive_router): 3 P1 review defects
  docs/my-website/docs/adaptive_router.md
  litellm-proxy-extras/litellm_proxy_extras/migrations/20260418000000_add_adaptive_router_tables/migration.sql
  litellm/proxy/example_config_yaml/adaptive_router_example.yaml
  litellm/router_strategy/adaptive_router/README.md
  litellm/router_strategy/adaptive_router/adaptive_router.py
  tests/test_litellm/router_strategy/adaptive_router/test_adaptive_router.py
  tests/test_litellm/router_strategy/adaptive_router/test_async_pre_routing.py
Due: none

Support /v1/responses in complexity router
  litellm/integrations/custom_logger.py
  litellm/llms/anthropic/chat/guardrail_translation/handler.py
  litellm/llms/base_llm/guardrail_translation/base_translation.py
  litellm/llms/openai/chat/guardrail_translation/handler.py
  litellm/llms/openai/responses/guardrail_translation/handler.py
  litellm/proxy/_new_secret_config.yaml
  litellm/router.py
  litellm/router_strategy/auto_router/auto_router.py
  litellm/router_strategy/complexity_router/complexity_router.py
  tests/test_litellm/llms/openai/chat/guardrail_translation/test_openai_guardrail_handler.py
  tests/test_litellm/llms/openai/responses/test_openai_responses_guardrail_handler.py
  tests/test_litellm/router_strategy/test_auto_router.py
  tests/test_litellm/router_strategy/test_complexity_router.py
Due: Router, litellm_logging

Add supported providers to prompt caching doc (#26124)
  docs/my-website/docs/completion/prompt_caching.md
  docs/my-website/docs/tutorials/prompt_caching.md
  model_prices_and_context_window.json
Due: none

fix(adaptive_router/hooks): populate tool_results so failure signal fires
  litellm/router_strategy/adaptive_router/hooks.py
  tests/test_litellm/router_strategy/adaptive_router/test_hooks.py
Due: none

chore: apply black formatting
  litellm/integrations/custom_logger.py
  litellm/router.py
  litellm/router_strategy/auto_router/auto_router.py
  tests/test_litellm/router_strategy/test_auto_router.py
Due: Router, litellm_logging

fix: /health/readiness 503 loop when DB is unreachable (#26134)
  litellm/proxy/health_endpoints/_health_endpoints.py
  tests/test_litellm/proxy/health_endpoints/test_health_endpoints.py
Due: none

test: allow litellm. prefix attributes in redacted span validator
  tests/logging_callback_tests/test_otel_logging.py
Due: none

replace retired claude-3-haiku-20240307 with claude-haiku-4-5-20251001 in anthropic messages passthrough test
  tests/pass_through_unit_tests/test_anthropic_messages_passthrough.py
Due: none

[Refactor] remove orphaned _experimental/out build artifacts
  litellm/proxy/_experimental/out/_next/static/8Gn6tA2K4jsPxzCCMwObH/_buildManifest.js
  litellm/proxy/_experimental/out/_next/static/8Gn6tA2K4jsPxzCCMwObH/_clientMiddlewareManifest.json
  litellm/proxy/_experimental/out/_next/static/8Gn6tA2K4jsPxzCCMwObH/_ssgManifest.js
Due: none

fix: fallback to trying each handler when route inference fails
  litellm/router_strategy/complexity_router/complexity_router.py
Due: none

feat(router): add auto_router/quality_router for quality-tier routing (#25987)
  litellm/integrations/prometheus.py
  litellm/integrations/prometheus_helpers/__init__.py
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/llms/github_copilot/authenticator.py
  litellm/passthrough/utils.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/health_check.py
  litellm/proxy/hooks/parallel_request_limiter_v3.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/organization_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/router.py
  litellm/router_strategy/quality_router/__init__.py
  litellm/router_strategy/quality_router/config.py
  litellm/router_strategy/quality_router/quality_router.py
  litellm/types/integrations/prometheus.py
  litellm/types/router.py
  tests/test_litellm/router_strategy/test_quality_router.py
Due: Router, litellm_logging, Proxy_Authentication

[Fix] Apply black formatting to fix CI lint failures
  litellm/integrations/prometheus.py
  litellm/integrations/prometheus_helpers/__init__.py
  litellm/integrations/websearch_interception/handler.py
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/llms/anthropic/experimental_pass_through/messages/agentic_streaming_iterator.py
  litellm/llms/github_copilot/authenticator.py
  litellm/passthrough/utils.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/health_check.py
  litellm/proxy/hooks/parallel_request_limiter_v3.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/organization_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/types/integrations/prometheus.py
Due: litellm_logging, Proxy_Authentication

test: cover _is_quality_router_deployment and init_quality_router_deployment
  tests/test_litellm/router_strategy/test_quality_router.py
Due: none

fix: reset auto_routers on set_model_list to prevent hot-reload ValueError
  litellm/router.py
Due: Router

style: apply black formatting
  litellm/integrations/prometheus.py
  litellm/integrations/prometheus_helpers/__init__.py
  litellm/integrations/websearch_interception/handler.py
  litellm/litellm_core_utils/llm_cost_calc/utils.py
  litellm/llms/anthropic/experimental_pass_through/messages/agentic_streaming_iterator.py
  litellm/llms/github_copilot/authenticator.py
  litellm/passthrough/utils.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/db/db_transaction_queue/adaptive_router_update_queue.py
  litellm/proxy/health_check.py
  litellm/proxy/hooks/parallel_request_limiter_v3.py
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/organization_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
  litellm/router_strategy/adaptive_router/hooks.py
  litellm/types/integrations/prometheus.py
Due: litellm_logging, Proxy_Authentication
