Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

codecov.yaml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "router"
    - component_id: "LLMs"
      paths:
        - "*/llms/*"
    - component_id: "Caching"
      paths:
        - "*/caching/*"
        - ".*redis.*"
    - component_id: "litellm_logging"
      paths:
        - "*/integrations/*"
        - ".*litellm_logging.*"
    - component_id: "Proxy_Authentication"
      paths:
        - "*/proxy/auth/**"
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1% # at maximum allow project coverage to drop by 1%
    patch:
      default:
        target: auto
        threshold: 0% # patch coverage should be 100%

codecov.yml:

component_management:
  individual_components:
    - component_id: "Router"
      paths:
        - "litellm/router.py"
    - component_id: "LLMs"
      paths:
        - "litellm/llms/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix(proxy): update path_params model on budget fallback reroute
  litellm/proxy/auth/user_api_key_auth.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
Due: Proxy_Authentication

fix(proxy): scope _json sync to budget fallback only, not all parsed body writes
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/common_utils/http_parsing_utils.py
Due: Proxy_Authentication

fix(proxy): set request._json unconditionally on budget fallback reroute
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

fix(sambanova): correct DeepSeek-V3.2 context window (32k -> 128k)
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

fix(proxy): skip budget fallback for models from nested fields
  litellm/proxy/auth/user_api_key_auth.py
  tests/test_litellm/proxy/auth/test_user_api_key_auth.py
Due: Proxy_Authentication

fix(responses): make response-id encoding idempotent to prevent MCP gateway double-encoding previous_response_id
  litellm/responses/utils.py
  tests/test_litellm/responses/test_responses_utils.py
Due: none

fix: regenerate backup JSON from primary to fix malformed structure
  litellm/model_prices_and_context_window_backup.json
Due: none

fix(prometheus): populate api_provider on proxy_failed_requests via model inference
  litellm/integrations/prometheus.py
  tests/test_litellm/integrations/test_prometheus_labels.py
Due: litellm_logging

feat(prometheus): add api_provider label to token, latency, request and cache metrics
  litellm/integrations/prometheus.py
  litellm/types/integrations/prometheus.py
  tests/test_litellm/integrations/test_prometheus_labels.py
Due: litellm_logging

fix: drop unsupported custom_openai chat params
  litellm/utils.py
  tests/test_litellm/llms/openai/chat/test_openai_gpt_transformation.py
Due: none

fix(proxy): sync raw body cache on budget fallback for raw-body handlers
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

fix(proxy): normalize DB router settings JSON strings
  litellm/proxy/proxy_server.py
  tests/proxy_unit_tests/test_proxy_server.py
  tests/test_litellm/proxy/test_proxy_server.py
Due: none

fix(cost): honor served OpenAI response service tier
  litellm/cost_calculator.py
  tests/test_litellm/test_cost_calculator.py
Due: none

Add api_base parameter to count tokens request
  litellm/llms/anthropic/count_tokens/token_counter.py
Due: none

Add Ofox as an OpenAI-compatible provider (100 models)
  litellm/llms/openai_like/providers.json
  model_prices_and_context_window.json
  provider_endpoints_support.json
  tests/litellm/llms/openai_like/test_ofox_provider.py
Due: none

Update litellm/llms/anthropic/count_tokens/token_counter.py
  litellm/llms/anthropic/count_tokens/token_counter.py
Due: none

Update endpoint URL construction in handler.py
  litellm/llms/anthropic/count_tokens/handler.py
Due: none

fix(ofox): align max_tokens with max_output_tokens and inherit adaptive_thinking
  model_prices_and_context_window.json
Due: none

fix(fireworks): apply cache-read price to cached prompt tokens
  litellm/llms/fireworks_ai/cost_calculator.py
  tests/test_litellm/llms/fireworks_ai/test_fireworks_ai_cost_calculator.py
Due: none

Refactor endpoint URL assignment ruff format
  litellm/llms/anthropic/count_tokens/handler.py
Due: none

fix(litellm_proxy): forward metadata to downstream proxy
  litellm/llms/litellm_proxy/chat/transformation.py
  tests/test_litellm/llms/litellm_proxy/chat/test_litellm_proxy_chat_transformation.py
Due: none

Deployed production instance configuration
  terraform/litellm/aws/README.md
  terraform/litellm/aws/alb.tf
  terraform/litellm/aws/config/prod/terraform.tfvars
  terraform/litellm/aws/examples/default/main.tf
  terraform/litellm/aws/examples/default/terraform.tfvars.example
  terraform/litellm/aws/examples/default/variables.tf
  terraform/litellm/aws/variables.tf
Due: none

fix(router): attach ITPM/OTPM headers on dict responses and harden reservation
  litellm/litellm_core_utils/get_litellm_params.py
  litellm/proxy/common_request_processing.py
  litellm/router.py
  litellm/router_utils/add_retry_fallback_headers.py
  litellm/router_utils/pre_call_checks/io_token_rate_limit_check.py
  litellm/types/utils.py
  tests/router_unit_tests/test_router_helper_utils.py
  tests/test_litellm/proxy/test_common_request_processing.py
  tests/test_litellm/router_utils/test_add_retry_fallback_headers.py
  tests/test_litellm/test_router/test_io_token_rate_limits.py
Due: Router

fix(router): attach ITPM/OTPM headers to streaming /v1/messages responses
  litellm/router.py
  litellm/router_utils/add_retry_fallback_headers.py
  tests/router_unit_tests/test_router_helper_utils.py
Due: Router

style: ruff format add_retry_fallback_headers.py
  litellm/router_utils/add_retry_fallback_headers.py
Due: none

fix(ui): surface provider prompt-cache hits in request log detail
  ui/litellm-dashboard/src/components/view_logs/CostBreakdownViewer.test.tsx
  ui/litellm-dashboard/src/components/view_logs/CostBreakdownViewer.tsx
  ui/litellm-dashboard/src/components/view_logs/LogDetailsDrawer/LogDetailContent.test.tsx
  ui/litellm-dashboard/src/components/view_logs/LogDetailsDrawer/LogDetailContent.tsx
  ui/litellm-dashboard/src/components/view_logs/cacheCostBreakdown.test.ts
  ui/litellm-dashboard/src/components/view_logs/cacheCostBreakdown.ts
Due: none

refactor(router): extract set_response_headers helpers to fix C901 budget
  litellm/router.py
  litellm/router_utils/add_retry_fallback_headers.py
Due: Router

fix(logging): stop dropping streaming /v1/messages success logs
  litellm/litellm_core_utils/litellm_logging.py
  litellm/llms/anthropic/experimental_pass_through/messages/streaming_iterator.py
  tests/test_litellm/litellm_core_utils/test_litellm_logging_slo_fallback.py
  tests/test_litellm/llms/anthropic/experimental_pass_through/messages/test_streaming_iterator_logging.py
Due: litellm_logging

fix: keep IO token reservation when response usage is missing
  litellm/router_utils/pre_call_checks/io_token_rate_limit_check.py
  tests/test_litellm/test_router/test_io_token_rate_limits.py
Due: none

fix: enforce RPM/TPM alongside IO-token limits on mixed deployments
  litellm/router_utils/pre_call_checks/model_rate_limit_check.py
  tests/test_litellm/test_router/test_io_token_rate_limits.py
Due: none

test(oci): add test for non-function tool skip path (#31450)
  tests/test_litellm/llms/oci/test_oci_coverage_boost.py
Due: none

fix(logging): surface persistent SLP rebuild failure
  litellm/litellm_core_utils/litellm_logging.py
  tests/test_litellm/litellm_core_utils/test_litellm_logging_slo_fallback.py
Due: litellm_logging

docs: fix parameter name mismatches in proxy endpoint docstrings
  litellm/proxy/management_endpoints/internal_user_endpoints.py
  litellm/proxy/management_endpoints/key_management_endpoints.py
  litellm/proxy/management_endpoints/team_endpoints.py
Due: none

fix: track TPM usage on success for mixed IO+TPM deployments
  litellm/router_utils/pre_call_checks/model_rate_limit_check.py
  tests/test_litellm/test_router/test_io_token_rate_limits.py
Due: none

fix: treat total-only usage as unresolved in IO-token reconcile
  litellm/router_utils/pre_call_checks/io_token_rate_limit_check.py
  tests/test_litellm/test_router/test_io_token_rate_limits.py
Due: none

fix: reserve minimal token when input/output estimation fails
  litellm/router_utils/pre_call_checks/io_token_rate_limit_check.py
  tests/test_litellm/test_router/test_io_token_rate_limits.py
Due: none

fix: anthropic_messages_handler only treated litellm_params.mock_respons
  litellm/llms/anthropic/experimental_pass_through/messages/handler.py
  tests/test_litellm/llms/anthropic/experimental_pass_through/messages/test_anthropic_experimental_pass_through_messages_handler.py
Due: none

fix: refund IO reservation synchronously before retry deployment pick
  litellm/router.py
  litellm/router_utils/pre_call_checks/io_token_rate_limit_check.py
  tests/test_litellm/test_router/test_io_token_rate_limits.py
Due: Router

fix(ui): correct cache-miss rate math in provider cache cost formula
  ui/litellm-dashboard/src/components/view_logs/CostBreakdownViewer.test.tsx
  ui/litellm-dashboard/src/components/view_logs/CostBreakdownViewer.tsx
  ui/litellm-dashboard/src/components/view_logs/cacheCostBreakdown.test.ts
  ui/litellm-dashboard/src/components/view_logs/cacheCostBreakdown.ts
Due: none

fix: Root cause: for anthropic_messages streaming that goes through asyn
  litellm/llms/anthropic/experimental_pass_through/messages/streaming_iterator.py
  tests/test_litellm/llms/anthropic/experimental_pass_through/messages/test_streaming_iterator.py
Due: none
