Repository BerriAI/litellm: changes, and which Codecov flags are due for each by the changed paths.
All: Router, LLMs, Caching, litellm_logging, Proxy_Authentication

doc fix
  docs/my-website/blog/claude_opus_4_6/index.md
Due: none

perf(prometheus): parallelize budget metric lookups with asyncio.gather
  litellm/integrations/prometheus.py
Due: litellm_logging

support policy mapping on team key level
  litellm/proxy/guardrails/guardrail_hooks/zscaler_ai_guard/zscaler_ai_guard.py
Due: none

fix(prometheus): use return_exceptions=True for budget metric lookups
  litellm/integrations/prometheus.py
Due: litellm_logging

moved the test anthropic file
  tests/test_litellm/llms/anthropic/experimental_pass_through/messages/test_anthropic_messages_structured_outputs.py
Due: none

update document
  docs/my-website/docs/proxy/guardrails/zscaler_ai_guard.md
Due: none

remove aberivation to handle wrong api starts without sk
  litellm/proxy/auth/user_api_key_auth.py
Due: Proxy_Authentication

added retry logic for gaurdrails
  litellm/proxy/guardrails/init_guardrails.py
  litellm/proxy/utils.py
  litellm/router.py
  litellm/types/guardrails.py
  litellm/types/router.py
  tests/test_litellm/test_router.py
Due: Router

Spend by provider refactor
  ui/litellm-dashboard/src/components/UsagePage/components/EntityUsage/SpendByProvider.test.tsx
  ui/litellm-dashboard/src/components/UsagePage/components/EntityUsage/SpendByProvider.tsx
  ui/litellm-dashboard/src/components/UsagePage/components/UsagePageView.test.tsx
  ui/litellm-dashboard/src/components/UsagePage/components/UsagePageView.tsx
Due: none

Warn when budget lookup fails; cache won't populate
  litellm/proxy/auth/auth_checks.py
  tests/test_litellm/proxy/auth/test_auth_checks.py
Due: Proxy_Authentication

resolving greptile comments
  litellm/router.py
Due: Router

fixed greptile issues
  litellm/proxy/utils.py
  litellm/router.py
  tests/test_litellm/test_router.py
Due: Router

docs(prometheus): add comment warning about check_db_only latency impact
  litellm/integrations/prometheus.py
Due: litellm_logging

resolved greptile
  litellm/router.py
  tests/test_litellm/test_router.py
Due: Router

resolved greptile issue
  litellm/router.py
Due: Router

fix: rename test_cost_calculator to resolve pytest import collision
  tests/test_litellm/llms/azure_ai/test_azure_ai_cost_calculator.py
Due: none

fix: resolve poetry.lock merge conflict
  poetry.lock
Due: none

fixed model overwrite for multiple router models with same backend name
  litellm/router.py
  tests/test_litellm/test_router.py
Due: Router

Potential fix for code scanning alert no. 4046: Clear-text logging of sensitive information
  litellm/llms/openai/openai.py
Due: none

Update litellm/integrations/websearch_interception/tools.py
  litellm/integrations/websearch_interception/tools.py
Due: none

refactor: Add error handling for network calls and apply consistent formatting across networking functions.
  ui/litellm-dashboard/src/components/networking.tsx
Due: none

feat(web_search): add gpt-5-search-api model and docs clarifications (#20512)
  docs/my-website/docs/completion/web_search.md
  litellm/model_prices_and_context_window_backup.json
Due: none

[Feat] add ElevenLabs eleven_v3 and eleven_multilingual_v2 to model cost map (#20522)
  docs/my-website/docs/providers/elevenlabs.md
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

feat: add opus 4.5 and 4.6 to use outout_format param
  litellm/llms/anthropic/chat/transformation.py
  poetry.lock
  tests/test_litellm/llms/anthropic/chat/test_anthropic_chat_transformation.py
Due: none

fix(schema): add soft_budget to LiteLLM_DeletedTeamTable
  litellm-proxy-extras/litellm_proxy_extras/schema.prisma
  litellm/proxy/schema.prisma
  schema.prisma
Due: none

Add adaptive thinking support for anthropic opus 4.6
  litellm/llms/anthropic/chat/transformation.py
  tests/test_litellm/llms/anthropic/chat/test_anthropic_chat_transformation.py
Due: none

Fix anthropic.claude-opus-4-6-v1 for bedrock
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
  tests/test_litellm/test_claude_opus_4_6_config.py
Due: none

Add adaptive thiking for bedrock converse
  litellm/llms/anthropic/chat/transformation.py
  litellm/llms/bedrock/chat/converse_transformation.py
  litellm/llms/databricks/chat/transformation.py
  litellm/model_prices_and_context_window_backup.json
  model_prices_and_context_window.json
Due: none

refactor: migrate Ant Design notifications to use `App.useApp()` context via a new global provider.
  ui/litellm-dashboard/src/app/layout.tsx
  ui/litellm-dashboard/src/components/molecules/notifications_manager.tsx
  ui/litellm-dashboard/src/contexts/AntdGlobalProvider.tsx
Due: none

fix: ensure Ant Design notification instance is initialized only once using `useRef`.
  ui/litellm-dashboard/src/contexts/AntdGlobalProvider.tsx
Due: none

email soft budgets
  enterprise/dist/litellm_enterprise-0.1.29-py3-none-any.whl
  enterprise/dist/litellm_enterprise-0.1.29.tar.gz
  enterprise/litellm_enterprise/enterprise_callbacks/send_emails/base_email.py
  litellm/integrations/email_templates/templates.py
  litellm/proxy/_types.py
  litellm/proxy/auth/auth_checks.py
  litellm/proxy/auth/user_api_key_auth.py
  litellm/proxy/utils.py
Due: Proxy_Authentication

bump: version 0.1.29 → 0.1.30
  enterprise/pyproject.toml
  requirements.txt
Due: none

Update model_prices_and_context_window.json
  model_prices_and_context_window.json
Due: none

enterprise build
  enterprise/dist/litellm_enterprise-0.1.29-py3-none-any.whl
  enterprise/dist/litellm_enterprise-0.1.29.tar.gz
  enterprise/dist/litellm_enterprise-0.1.30-py3-none-any.whl
  enterprise/dist/litellm_enterprise-0.1.30.tar.gz
Due: none

reverting .29 deletion
  enterprise/dist/litellm_enterprise-0.1.29-py3-none-any.whl
  enterprise/dist/litellm_enterprise-0.1.29.tar.gz
Due: none

Path conditions:
  Router: (any of: router) or (any of: litellm/router.py)
  LLMs: (any of: */llms/*) or (any of: litellm/llms/*)
  Caching: any of: */caching/*, .*redis.*
  litellm_logging: any of: */integrations/*, .*litellm_logging.*
  Proxy_Authentication: any of: */proxy/auth/**
